<div class="mt-2 mr-6 flex flex-col gap-6">
  <div class="vertical-menu flex flex-col rounded-2xl box-shadow-big bg-white">
    <div
      *ngFor="let menuItem of menuItems"
      class="vertical-menu__icon-block rounded-full cursor-pointer flex justify-center"
      [ngClass]="{ 'bg-neutrals-950': menuItem.isActive }"
      (click)="changeActiveState(menuItem)"
    >
      <div
        class="menu-icon-size self-center"
        [style.background]="menuItem.isActive ? menuItem.itemActive : menuItem.itemInactive"
      ></div>
    </div>
  </div>
  <div class="information-black-icon self-center"></div>
</div>
