
.clock-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__face {
    background: url("/assets/svg/bg-clock.svg");
    width: 56px;
    height: 56px;
    margin-inline-end: 3px;

    &-time {
      margin: 6px auto 0;
      line-height: initial;
    }

    &-text {
      margin: 0 auto;
    }
  }

  &__divider {
    margin-inline-end: 3px;

    &-item {
      width: 10px;
      height: 10px;
      margin: 3px;
    }
  }
}
