<div
  *ngIf="isLoaded; else loadingTimerTemplate"
  class="clock-block white-text"
>
  <div class="clock-block__face bg-neutrals-950">
    <h4 class="clock-block__face-time w-fit-content">{{ timer.days }}</h4>
    <div class="clock-block__face-text caption-text-medium w-fit-content">ימים</div>
  </div>
  <div class="clock-block__divider">
    <div class="clock-block__divider-item rounded-full bg-neutrals-950"></div>
    <div class="clock-block__divider-item rounded-full bg-neutrals-950"></div>
  </div>
  <div class="clock-block__face bg-neutrals-950">
    <h4 class="clock-block__face-time w-fit-content">{{ timer.hrs }}</h4>
    <div class="clock-block__face-text caption-text-medium w-fit-content">שעות</div>
  </div>
  <div class="clock-block__divider">
    <div class="clock-block__divider-item rounded-full bg-neutrals-950"></div>
    <div class="clock-block__divider-item rounded-full bg-neutrals-950"></div>
  </div>
  <div class="clock-block__face bg-neutrals-950">
    <h4 class="clock-block__face-time w-fit-content">{{ timer.min }}</h4>
    <div class="clock-block__face-text caption-text-medium w-fit-content">דקות</div>
  </div>
  <div class="clock-block__divider">
    <div class="clock-block__divider-item rounded-full bg-neutrals-950"></div>
    <div class="clock-block__divider-item rounded-full bg-neutrals-950"></div>
  </div>
  <div class="clock-block__face bg-neutrals-950">
    <h4 class="clock-block__face-time w-fit-content">{{ timer.sec }}</h4>
    <div class="clock-block__face-text caption-text-medium w-fit-content">שניות</div>
  </div>
</div>

<ng-template #loadingTimerTemplate>
  <smarti-loader
    [size]="'l'"
    [paddingTop5percent]="true"
    [overflowInitial]="true"
  ></smarti-loader>
</ng-template>
