<div class="run-business bg-white">
  <div class="run-business__block">
    <div class="run-business__block__left"></div>
    <div class="run-business__block__right">
      <div class="run-business__block__right-header white-text">
        נהלו את העסק<br/>
        שלכם חכם ומהיר
      </div>
      <div class="run-business__block__right-text white-text">
        ממשק נגיש שעוזר לכם לנהל את סליקה הפנסיונית<br/>
        בצורה פשוטה ומהירה בכמה צעדים פשוטים
      </div>
      <div class="button-interaction">
        <button class="button-interaction-button white-text bg-pumpkin">
          הצטרפו עכשיו
        </button>
      </div>
    </div>
  </div>
</div>
