.gradient-rounded-background {
  background: url("/assets/img/gradient-rounded.png");
  background-size: cover;
}

.application-image {
  background: url("/assets/img/application-image.png");
  background-size: cover;
}
