<div class="run-business bg-white">
  <div class="run-business__block rounded-l">
    <div class="run-business__block__left"></div>
    <div class="run-business__block__right">
      <div class="run-business__block__right-header white-text">
        נהלו את העסק<br/>
        שלכם חכם ומהיר
      </div>
      <div class="run-business__block__right-text white-text">
        ממשק נגיש שעוזר לכם לנהל את סליקה הפנסיונית<br/>
        בצורה פשוטה ומהירה בכמה צעדים פשוטים
      </div>
      <smarti-button
        [text]="'הצטרפו עכשיו'"
        [typeClass]="'interaction'"
        [textColor]="'white'"
      ></smarti-button>
    </div>
  </div>
</div>
