//TODO need to rewrite to global css

.about-block-forms {
  display: flex;
  justify-content: space-between;
  margin: 104px 140px 0;

  &__item {
    &-text {
      margin-top: 8px;
      text-align: center;
      font-size: 24px;
      font-family: RubikMedium, sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
    }
  }
}

.first-about-form-image {
  background: url("../../../../assets/img/an-admirable-factor.png");
  width: 398px;
  height: 224px;
}

.second-about-form-image {
  background: url("../../../../assets/img/yearly-reports.png");
  width: 398px;
  height: 224px;
}

.third-about-form-image {
  background: url("../../../../assets/img/161-form.png");
  width: 398px;
  height: 224px;
}

.fourth-about-form-image {
  background: url("../../../../assets/img/pension-settlement.png");
  width: 398px;
  height: 224px;
}
