.about-block-forms {
  margin: 104px 140px 0;

  &__item:hover {
    opacity: 0.9;
  }
}

.first-about-form-image {
  background: url("/assets/img/an-admirable-factor.png");
  width: 398px;
  height: 224px;
}

.second-about-form-image {
  background: url("/assets/img/yearly-reports.png");
  width: 398px;
  height: 224px;
}

.third-about-form-image {
  background: url("/assets/img/161-form.png");
  width: 398px;
  height: 224px;
}

.fourth-about-form-image {
  background: url("/assets/img/pension-settlement.png");
  width: 398px;
  height: 224px;
}
