<div
  class="margin-0-auto"
  smartiScrollSection="about"
  id="about"
>
  <div class="smarti-heading-text bright-turquoise-text-500">אודות Smarti</div>
  <div class="smarti-describing-text white-text">
    <div>בית תוכנה המתמחה בפתרונות סליקה פנסיונית</div>
    <div>ממשק ישיר מול חברות הביטוח ושירות זמין ואישי</div>
  </div>
</div>

<div class="about-block-forms flex justify-between">
  <div
    class="about-block-forms__item cursor-pointer"
    (click)="openLeadsDialog(firstLeadsDialogTemplate)"
  >
    <div class="first-about-form-image"></div>
    <h4 class="medium text-center mt-2 white-text">הצטרפות לפנסיה</h4>
  </div>
  <div
    class="about-block-forms__item cursor-pointer"
    (click)="openLeadsDialog(secondLeadsDialogTemplate)"
  >
    <div class="second-about-form-image"></div>
    <h4 class="medium text-center mt-2 white-text">טופס 161 החדש</h4>
  </div>
  <div
    class="about-block-forms__item cursor-pointer"
    (click)="openLeadsDialog(thirdLeadsDialogTemplate)"
  >
    <div class="third-about-form-image"></div>
    <h4 class="medium text-center mt-2 white-text">ניהול פנסיוני אישי</h4>
  </div>
  <div
    class="about-block-forms__item cursor-pointer"
    (click)="openLeadsDialog(fourthLeadsDialogTemplate)"
  >
    <div class="fourth-about-form-image"></div>
    <h4 class="medium text-center mt-2 white-text">דוח שנתי</h4>
  </div>
</div>

<ng-template
  #firstLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="firstHeaderText"
    [descriptionText]="firstLeadDialogsDescription"
    [headerFormText]="'מעוניינים באזור אישי?'"
    [descriptionFormText]="'שלח לנו את פרטי ההתקשרות שלך וניצור איתך קשר בהקדם האפשרי!'"
    [backgroundImage]="'/assets/img/rounded-private-area-img.png'"
    [haveCloseIcon]="true"
    [leadType]="'form_161'"
  ></smarti-leads-dialog>
</ng-template>

<ng-template
  #secondLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="secondHeaderText"
    [descriptionText]="secondLeadDialogsDescription"
    [headerFormText]="'מעוניינים בהכנה לטופס ל161?'"
    [descriptionFormText]="'שלח לנו את פרטי ההתקשרות שלך ואנו ניצור איתך קשר בהקדם האפשרי!'"
    [backgroundImage]="'/assets/img/rounded-161-form-img.png'"
    [haveCloseIcon]="true"
    [leadType]="'form_161'"
  ></smarti-leads-dialog>
</ng-template>

<ng-template
  #thirdLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="thirdHeaderText"
    [descriptionText]="thirdLeadDialogsDescription"
    [headerFormText]="'מעוניינים במנהל תיק אישי?'"
    [descriptionFormText]="'שלח לנו את פרטי ההתקשרות שלך ואנו ניצור איתך קשר בהקדם האפשרי!'"
    [backgroundImage]="'/assets/img/rounded-personal-manager-img.png'"
    [haveCloseIcon]="true"
    [leadType]="'personal_portfolio_manager'"
  ></smarti-leads-dialog>
</ng-template>

<ng-template
  #fourthLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="fourthHeaderText"
    [descriptionText]="fourthLeadDialogsDescription"
    [headerFormText]="'מעוניינים בהסדר פנסיה?'"
    [descriptionFormText]="'שלח לנו את פרטי ההתקשרות שלך וניצור איתך קשר בהקדם האפשרי!'"
    [backgroundImage]="'/assets/img/rounded-pension-settlement-img.png'"
    [haveCloseIcon]="true"
    [leadType]="'pension_settlement'"
  ></smarti-leads-dialog>
</ng-template>
