<div class="margin-0-auto" appScrollSection="about">
  <div class="smarti-heading-text bright-turquoise-text-500">אודות Smarti</div>
  <div class="smarti-describing-text white-text">
    <div>בית תוכנה המתמחה בפתרונות סליקה</div>
    <div>פנסיונית ממשק ישיר מול חברות הביטוח, שירות ישיר זמין ואישי</div>
  </div>
</div>

<div class="about-block-forms flex justify-between">
  <div
    class="about-block-forms__item cursor-pointer"
    (click)="openLeadsDialog(firstLeadsDialogTemplate)"
  >
    <div class="first-about-form-image"></div>
    <h4 class="medium text-center mt-2 white-text">אזור אישי</h4>
  </div>
  <div
    class="about-block-forms__item cursor-pointer"
    (click)="openLeadsDialog(secondLeadsDialogTemplate)"
  >
    <div class="second-about-form-image"></div>
    <h4 class="medium text-center mt-2 white-text">הכנה לטופס 161</h4>
  </div>
  <div
    class="about-block-forms__item cursor-pointer"
    (click)="openLeadsDialog(thirdLeadsDialogTemplate)"
  >
    <div class="third-about-form-image"></div>
    <h4 class="medium text-center mt-2 white-text">מנהל תיק אישי</h4>
  </div>
  <div
    class="about-block-forms__item cursor-pointer"
    (click)="openLeadsDialog(fourthLeadsDialogTemplate)"
  >
    <div class="fourth-about-form-image"></div>
    <h4 class="medium text-center mt-2 white-text">ממשק נגיש</h4>
  </div>
</div>

<ng-template
  #firstLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="'הכנה לטופס 161'"
    [descriptionText]="'Pension settlements provide a reliable source of income during your\n'+
      'golden years, allowing you to maintain your standard of living and\n'+
      'enjoy the fruits of your labor.'"
    [headerFormText]="'Are you interested in a הכנה לטופס 161?'"
    [descriptionFormText]="'Send us your contact information and we will contact you as soon as possible'"
    [backgroundImage]="'/assets/img/rounded-private-area-img.png'"
    [haveCloseIcon]="true"
  ></smarti-leads-dialog>
</ng-template>

<ng-template
  #secondLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="'הכנה לטופס 161'"
    [descriptionText]="'Pension settlements provide a reliable source of income during your\n'+
      'golden years, allowing you to maintain your standard of living and\n'+
      'enjoy the fruits of your labor.'"
    [headerFormText]="'Are you interested in a הכנה לטופס 161?'"
    [descriptionFormText]="'Send us your contact information and we will contact you as soon as possible'"
    [backgroundImage]="'/assets/img/rounded-161-form-img.png'"
    [haveCloseIcon]="true"
  ></smarti-leads-dialog>
</ng-template>

<ng-template
  #thirdLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="'מנהל תיק אישי'"
    [descriptionText]="'Pension settlements provide a reliable source of income during your\n'+
      'golden years, allowing you to maintain your standard of living and\n'+
      'enjoy the fruits of your labor.'"
    [headerFormText]="'Are you interested in a מנהל תיק אישי?'"
    [descriptionFormText]="'Send us your contact information and we will contact you as soon as possible'"
    [backgroundImage]="'/assets/img/rounded-personal-manager-img.png'"
    [haveCloseIcon]="true"
  ></smarti-leads-dialog>
</ng-template>

<ng-template
  #fourthLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="'Pension settlement'"
    [descriptionText]="'Pension settlements provide a reliable source of income during your\n'+
      'golden years, allowing you to maintain your standard of living and\n'+
      'enjoy the fruits of your labor.'"
    [headerFormText]="'Are you interested in a pension settlement?'"
    [descriptionFormText]="'Send us your contact information and we will contact you as soon as possible'"
    [backgroundImage]="'/assets/img/rounded-pension-settlement-img.png'"
    [haveCloseIcon]="true"
  ></smarti-leads-dialog>
</ng-template>