<div class="bg-neutrals-20">
  <smarti-header-auth-layout
    [haveLeftBLock]="true"
    [leftBlockText]="'אין לך חשבון?'"
    [leftBlockClickedText]="'התחברות'"
    [redirectLink]="'/registration'"
  ></smarti-header-auth-layout>
  <div class="w-full-hd margin-0-auto">
    <div class="flex justify-between">
      <div class="seated-working-woman-img"></div>
      <h1 class="medium text-right self-center neutrals-text-950">
        <div>להתחברות</div>
      </h1>
    </div>
    <div class="w-[1080px] box-shadow-big bg-white rounded-l">
      <smarti-login-form></smarti-login-form>
    </div>
  </div>
  <smarti-contact-us-footer-layout></smarti-contact-us-footer-layout>
</div>
