<form
  class="flex flex-col items-center mt-10"
  [formGroup]="paymentMethodInfoForm"
>
  <ng-container *ngIf="isPayBySmarti">
    <h3 class="medium mt-10 mb-0 text-center neutrals-text-950">Now select how you want to pay</h3>
    <div class="mt-12 flex justify-between gap-270px">
      <div class="flex">
        <h3 class="medium mt-0 mb-0 text-center neutrals-text-500">NIS 6000.00</h3>
        <div class="paragraph-text neutrals-text-500 self-center">:Total to be pay</div>
      </div>
      <div class="flex">
        <h3 class="medium mt-0 mb-0 text-center neutrals-text-500">50</h3>
        <div class="paragraph-text neutrals-text-500 self-center">:Number of employees</div>
      </div>
    </div>
  </ng-container>
  <div
    *ngIf="isSelectedMode; else paymentMethodTemplate"
    class="mt-28"
  >
    <div class="paragraph-text neutrals-text-950 text-right">
      The default payment "pay by smarti" is active, but you can choose another option by clicking here:
    </div>
    <div class="mt-4">
      <smarti-select
        class="big-mode"
        [selectMode]="'big'"
        [customWidth]="'812px'"
        [options]="options"
        [control]="selectControl"
      ></smarti-select>
    </div>
    <div class="mt-56 flex justify-center mb-16">
      <smarti-button
        [customWidth]="'215px'"
        [typeClass]="'confirm'"
        [text]="'Continue'"
        (buttonClicked)="changeTemplate()"
      ></smarti-button>
    </div>
  </div>
</form>

<ng-template #paymentMethodTemplate>
  <ng-container *ngTemplateOutlet="isPayBySmarti ? payBySmartiTemplate : payDirectlyTemplate"></ng-container>
</ng-template>

<ng-template #payDirectlyTemplate>
  <smarti-pay-directly (changeStep)="doChangeStep($event)"></smarti-pay-directly>
</ng-template>

<ng-template #payBySmartiTemplate>
  <smarti-pay-by-smarti
    [paymentForm]="paymentMethodInfoForm"
    (changeStep)="doChangeStep($event)"
  ></smarti-pay-by-smarti>
</ng-template>
