<div class="flex flex-col">
  <h3 class="medium neutrals-text-950 mt-7 mb-0 text-center">שידור תשלומים וקבצים לקופות</h3>
  <div class="paragraph-text text-center neutrals-text-950 margin-rl-auto">
    בשלב זה תוכל לצפות ולשדר את הקבצים ישירות לקופות
  </div>
  <div class="block-w328-h108 box-shadow-big rounded-l flex flex-row self-center justify-end mt-11 gap-6">
    <div class="flex flex-col mt-3 text-end">
      <div class="neutrals-text-950 paragraph-text">היזונים תקינים</div>
      <div class="neutrals-text-950 extra-small-8px-text">סה״כ לתשלום</div>
      <div class="mt-3 neutrals-text-300 paragraph-text">8,821.80 / 8,821.80</div>
    </div>
    <div class="sum-icon mt-3 mr-4"></div>
  </div>
  <div class="block-w328-h108 box-shadow-big rounded-l flex flex-row self-center justify-end mt-4 gap-6">
    <div class="flex flex-col mt-3 text-end">
      <div class="neutrals-text-950 paragraph-text">היזונים תקולים</div>
      <div class="neutrals-text-950 extra-small-8px-text">סה״כ קופות לתשלום</div>
      <div class="mt-3 neutrals-text-300 paragraph-text">3 / 3</div>
    </div>
    <div class="info-base-icon mt-3 mr-4"></div>
  </div>
  <div class="flex flex-row gap-426px self-center mt-37 mb-12">
    <smarti-button
      [text]="'המשך'"
      [typeClass]="'confirm'"
      [customButtonWidth]="'168px'"
      [customHeight]="'42px'"
      (buttonClicked)="doChangeStep(dashboardDirectionEnum.Forward)"
    ></smarti-button>
    <smarti-button
      [text]="'חזור'"
      [typeClass]="'white'"
      [customBorder]="'1px solid black'"
      [customButtonWidth]="'168px'"
      [customHeight]="'42px'"
      (buttonClicked)="doChangeStep(dashboardDirectionEnum.Back)"
    ></smarti-button>
  </div>
</div>
