<div>
  <div class="connect-now-block flex flex-col items-center justify-center rounded-l">
    <div class="connect-now-block__text-block white-text">
      <h3 class="medium text-center mt-0 mb-0">Smarti</h3>
      <h3 class="medium text-center mt-0 mb-0">חוסכת לכם זמן וכסף ועוזרת לכם לארגן את קופות הפנסיה והביטוח בארגון</h3>
      <h3 class="medium text-center mt-0 mb-8">ויש מבצע חודש מתנה</h3>
    </div>
    <smarti-button
      [text]="'הצטרפו עכשיו'"
      [typeClass]="'interaction'"
      [textColor]="'white'"
      (buttonClicked)="navigateToRegistrationPage()"
    ></smarti-button>
  </div>
</div>
