<div>
  <div class="connect-now-block flex flex-col items-center justify-center rounded-l">
    <h3 class="connect-now-block__text-block text-center white-text">
      <div>סמארטי חוסכת לכם זמן וכסף</div>
      <div>ועוזרת לכם לארגן את קופות הפנסיה והביטוח בחברה</div>
    </h3>
    <h3 class="medium text-center mt-8 mb-8 white-text"> מבצע! חודש מתנה</h3>
    <smarti-button
      [text]="'הצטרפו עכשיו'"
      [typeClass]="'interaction'"
      [textColor]="'white'"
      (buttonClicked)="navigateToRegistrationPage()"
    ></smarti-button>
  </div>
</div>
