<div
  class="footer"
  appScrollSection="footer"
>
  <div class="footer__logo">
    <div class="footer__logo-image"></div>
  </div>
  <div class="footer__info">
    <div class="footer__info-item">
      <div class="footer__info-item__header white-text">צרו קשר</div>
      <div class="footer__info-item__text white-text margin-t-4">
        03-6549300 | 03-5228825<br/>
        office@smarti.com
      </div>
    </div>
    <div class="footer__info-item">
      <div class="footer__info-item__header white-text">תמיכה</div>
      <div class="footer__info-item__text white-text margin-t-4">תנאי שימוש</div>
      <div class="footer__info-item__text white-text">מידניות הפרטיות</div>
    </div>
    <div class="footer__info-item">
      <div class="footer__info-item__header white-text">פתרונות</div>
      <div class="footer__info-item__text white-text margin-t-4">הכנה ל-161</div>
      <div class="footer__info-item__text white-text">דוח שנתי</div>
      <div class="footer__info-item__text white-text">ניהול פנסיוני שוטף</div>
    </div>
    <div class="footer__info-item">
      <div class="footer__info-item__header white-text">Smarti</div>
      <div class="footer__info-item__text white-text margin-t-4">בלוג</div>
      <div class="footer__info-item__text white-text">אודות</div>
      <div class="footer__info-item__text white-text">חבילות</div>
    </div>
  </div>
  <div class="footer__links">
    <div class="footer__info-item__header white-text margin-start-auto">
      עקוב אחרינו
    </div>
    <div class="footer__links__items">
      <div class="twitter-link"></div>
      <div class="facebook-link"></div>
      <div class="linkedin-link"></div>
    </div>
  </div>
</div>
