<div class="margin-rl-auto flex flex-col">
  <h3 class="mt-10 medium text-center neutrals-text-950">Enter new password twice</h3>
  <div class="mt-24 flex justify-center">
    <smarti-input-password
      [customWidth]="'536px'"
      [placeholder]="'Password*'"
      (outputValue)="onChangeFirstPasswordValue($event)"
    ></smarti-input-password>
  </div>
  <div class="mt-14 flex justify-center">
    <smarti-input-password
      [customWidth]="'536px'"
      [placeholder]="'Repeat Password*'"
      (outputValue)="onChangeSecondPasswordValue($event)"
    ></smarti-input-password>
  </div>
  <div class="mt-32 mb-16 flex justify-center">
    <smarti-button
      [text]="'Reset Password'"
      [typeClass]="'confirm'"
      [customButtonWidth]="'256px'"
      [disabled]="isDisabled"
      (buttonClicked)="openSuccessDialog(successDialogTemplate)"
    ></smarti-button>
  </div>
</div>

<ng-template
  #successDialogTemplate
  let-observer
>
  <smarti-success-dialog
    [observer]="observer"
    [headerText]="'Your password has been<br/>successfully reset'"
    [descriptionText]="'Your password has been reset,<br/>use new password to Log In into the Smarti panel'"
    [buttonText]="'Log In'"
    [redirectLink]="'/login'"
  ></smarti-success-dialog>
</ng-template>