<div class="margin-rl-auto flex flex-col">
  <h3 class="mt-10 medium text-center neutrals-text-950">הכניסו סיסמא חדשה</h3>
  <div class="mt-24 flex justify-center">
    <smarti-input-password
      [customWidth]="'536px'"
      [placeholder]="'סיסמא*'"
      (outputValue)="onChangeFirstPasswordValue($event)"
    ></smarti-input-password>
  </div>
  <div class="mt-14 flex justify-center">
    <smarti-input-password
      [customWidth]="'536px'"
      [placeholder]="'הכנס סיסמא בשנית*'"
      (outputValue)="onChangeSecondPasswordValue($event)"
    ></smarti-input-password>
  </div>
  <div class="mt-32 mb-16 flex justify-center">
    <smarti-button
      [text]="'איפוס סיסמא'"
      [typeClass]="'confirm'"
      [customButtonWidth]="'256px'"
      [disabled]="isDisabled"
      (buttonClicked)="openSuccessDialog(successDialogTemplate)"
    ></smarti-button>
  </div>
</div>

<ng-template
  #successDialogTemplate
  let-observer
>
  <smarti-success-dialog
    [observer]="observer"
    [headerText]="'הסיסמא עודכנה בהצלחה'"
    [customHeaderHeight]="'391px'"
    [customDescriptionHeight]="'457px'"
    [descriptionText]="'הסיסמא שלך עודכנה ניתן להשתמש בסיסמא החדשה להתחבר לסמרטי'"
    [buttonText]="'התחברות'"
    [redirectLink]="'/login'"
  ></smarti-success-dialog>
</ng-template>
