<form class="personal-info" [formGroup]="personalInfoForm">
  <div class="personal-info__header dark-text">Create account fast and easy!</div>
  <div class="personal-info__item">
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'Company name*'"
      [type]="'text'"
    ></smarti-input-field>
  </div>
  <div class="personal-info__item">
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'Company ID*'"
      [type]="'text'"
    ></smarti-input-field>
  </div>
  <div class="personal-info__item">
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'Your Name'"
      [type]="'text'"
    ></smarti-input-field>
  </div>
  <div class="personal-info__item">
    <smarti-input-field
      [placeholder]="'Email Address*'"
      [customWidth]="'536px'"
      [type]="'text'"
    ></smarti-input-field>
  </div>
  <div class="personal-info__item">
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'Phone Number*'"
      [type]="'text'"
    ></smarti-input-field>
  </div>
  <div class="personal-info__item flex gap-4">
    <div class="personal-info__item-text dark-text margin-left-160">
      I have read and agree to the Smarti<br/>
      Terms of Services and Privacy Policy.
    </div>
    <div class="personal-info__item-checkbox">
      <!--need to add in ui-->
      <label class="input-checkbox">
        <input
          type="checkbox"
          [required]="true"/>
        <span class="input-checkmark"></span>
      </label>
    </div>
  </div>
  <div class="personal-info__button-block">
    <button
      class="personal-info__button-block__button"
      type="submit"
      (click)="doChangeStep('forward')"
    >Register</button>
  </div>
</form>
