<div class="flex flex-col items-center mt-10">
  <h3 class="medium text-center mt-10 mb-0">
    <div>התחילו את חווית השימוש</div>
    <div>העלו את הקובץ</div>
  </h3>
  <div
    class="file-upload mt-10 mb-16"
    [formGroup]="uploadDocumentsForm"
  >
    <div class="paragraph-text neutrals-text-950">העלה קובץ XML</div>
    <smarti-input-file
      [customWidth]="'536px'"
      [customHeight]="'120px'"
      [control]="uploadDocumentsForm.controls.files"
      [multiple]="true"
      (fileUploaded)="fileUploaded($event)"
    ></smarti-input-file>
  </div>
  <div class="paragraph-text text-center margin-0-auto neutrals-text-950">
    אם אין לכם קובץ XML תוכלו למלא אותו או לשלוח בקשה לגורם המורשה
  </div>
  <div
    *ngIf="!isSendRequest; else requestSendTemplate"
    class="flex mt-10 mb-16 gap-217px"
  >
    <button
      class="usual-button cursor-pointer paragraph-text-extra rounded-m text-center"
      (click)="downloadXlExample()"
    >
      הורד קובץ לדוגמא
    </button>
    <button
      class="usual-button cursor-pointer paragraph-text-extra rounded-m text-center"
      (click)="openForwardModal(dialogTemplate)"
    >
      העבר בקשה לגורם מורשה
    </button>
  </div>
  <smarti-button
    *ngIf="documentUploaded && !isSendRequest"
    [typeClass]="'confirm'"
    [customMargin]="'26px 0 64px'"
    [text]="'אישור'"
    (buttonClicked)="doChangeStep('forward')"
  ></smarti-button>
</div>

<ng-template
  #dialogTemplate
  let-observer
>
  <smarti-forward-request-dialog
    [haveCloseIcon]="true"
    [observer]="observer"
    [departmentId]="departmentId"
    [identifier]="identifier"
    (requestSend)="requestSend($event)"
  ></smarti-forward-request-dialog>
</ng-template>

<ng-template #requestSendTemplate>
  <div>
    <smarti-notification
      *ngIf="!isNotificationClosed"
      class="relative"
      [header]="'בקשתך נשלחה בהצלחה!'"
      [description]="'ברגע שנקבל את הקובץ נודיע לך להמשיך לשלב הבא בתהליך'"
      (closeNotification)="closeNotification($event)"
    ></smarti-notification>
    <smarti-button
      class="block"
      [typeClass]="'confirm'"
      [text]="'המשך לשלב הבא'"
      [customMargin]="'21px auto 64px'"
      [customWidth]="'276px'"
      (buttonClicked)="doChangeStep('forward')"
    ></smarti-button>
  </div>
</ng-template>
