<ng-container [ngSwitch]="currentStep$ | async">
  <smarti-personal-info
    *ngSwitchCase="'personalInfo'"
    [startingForm]="registrationForm.get('personalInfo')?.value"
    [currentFormStateValue]="registrationForm.value"
    (subformInitialized)="subformInitialized('personalInfo', $event)"
    (changeStep)="changeStep('personalInfoStep', $event)"
  ></smarti-personal-info>
  <smarti-upload-document
    *ngSwitchCase="'uploadDocumentInfo'"
    [startingForm]="registrationForm.get('uploadDocumentInfo')?.value"
    [currentFormStateValue]="registrationForm.value"
    (subformInitialized)="subformInitialized('uploadDocumentInfo', $event)"
    (changeStep)="changeStep('uploadDocumentStep', $event)"
  ></smarti-upload-document>
  <smarti-payment-method
    *ngSwitchCase="'paymentMethodInfo'"
    [startingForm]="registrationForm.get('paymentMethodInfo')?.value"
    [currentFormStateValue]="registrationForm.value"
    (subformInitialized)="subformInitialized('paymentMethodInfo', $event)"
    (changeStep)="changeStep('paymentMethodStep', $event)"
  ></smarti-payment-method>
  <smarti-verify-email
    *ngSwitchCase="'verifyEmailInfo'"
    [startingForm]="registrationForm.get('verifyEmailInfo')?.value"
    [currentFormStateValue]="registrationForm.value"
    (subformInitialized)="subformInitialized('verifyEmailInfo', $event)"
    (changeStep)="changeStep('verifyEmailStep', $event)"
  ></smarti-verify-email>
</ng-container>
