<ng-container [ngSwitch]="currentStep$ | async">
  <smarti-personal-info
    *ngSwitchCase="registrationFormTypeEnum.PersonalInfo"
    [startingForm]="registrationForm.get(registrationFormTypeEnum.PersonalInfo)?.value"
    [currentFormStateValue]="registrationForm.value"
    (subformInitialized)="subformInitialized(registrationFormTypeEnum.PersonalInfo, $event)"
    (changeStep)="changeStep(registrationStepEnum.PersonalInfoStep, $event)"
  ></smarti-personal-info>
  <smarti-upload-document
    *ngSwitchCase="registrationFormTypeEnum.UploadDocumentInfo"
    [startingForm]="registrationForm.get(registrationFormTypeEnum.UploadDocumentInfo)?.value"
    [currentFormStateValue]="registrationForm.value"
    (subformInitialized)="subformInitialized(registrationFormTypeEnum.UploadDocumentInfo, $event)"
    (changeStep)="changeStep(registrationStepEnum.UploadDocumentStep, $event)"
  ></smarti-upload-document>
  <smarti-payment-method
    *ngSwitchCase="registrationFormTypeEnum.PaymentMethodInfo"
    [startingForm]="registrationForm.get(registrationFormTypeEnum.PaymentMethodInfo)?.value"
    [currentFormStateValue]="registrationForm.value"
    (subformInitialized)="subformInitialized(registrationFormTypeEnum.PaymentMethodInfo, $event)"
    (changeStep)="changeStep(registrationStepEnum.PaymentMethodStep, $event)"
  ></smarti-payment-method>
  <smarti-verify-email
    *ngSwitchCase="registrationFormTypeEnum.VerifyEmailInfo"
    [startingForm]="registrationForm.get(registrationFormTypeEnum.VerifyEmailInfo)?.value"
    [currentFormStateValue]="registrationForm.value"
    (subformInitialized)="subformInitialized(registrationFormTypeEnum.VerifyEmailInfo, $event)"
    (changeStep)="changeStep(registrationStepEnum.VerifyEmailStep, $event)"
  ></smarti-verify-email>
</ng-container>
