<div
  class="flex justify-center"
  [style.margin]="customMargin"
  [style.width]="customWidth"
  [ngClass]="{
    'haveIcon': haveIcon,
  }"
>
  <button
    class="smarti-button rounded-m text-center smarti-button-text"
    [ngClass]="{
      'confirm-button': typeClass === 'confirm',
      'button-interaction': typeClass === 'interaction',
      'dark-button': typeClass === 'dark',
      'paragraph-text-extra': paragraphTextExtra,
    }"
    [style.border]="customBorder"
    [style.color]="textColor"
    [style.height]="customHeight"
    [style.width]="customButtonWidth"
    [disabled]="disabled"
    (click)="clicked()"
  >{{ text }}</button>
</div>