<div
  class="flex justify-center"
  [style.margin]="customMargin"
  [style.width]="customWidth"
>
  <button
    class="smarti-button rounded-m text-center smarti-button-text flex justify-center items-center"
    [ngClass]="{
      'confirm-button': typeClass === 'confirm',
      'button-interaction': typeClass === 'interaction',
      'dark-button': typeClass === 'dark',
      'white-button': typeClass === 'white',
      'paragraph-text-extra': paragraphTextExtra,
      'button-text-small': buttonTextSmall,
      'z-10': isNeedZIndex
    }"
    [style.border]="customBorder"
    [style.border-radius]="customBorderRadius"
    [style.color]="textColor"
    [style.height]="customHeight"
    [style.width]="customButtonWidth"
    [disabled]="disabled"
    (click)="clicked()"
  >
    <div
      *ngIf="hasArrowDownIconFromLeft"
      class="arrow-down-icon-20 mr-2"
    ></div>
    <div
      *ngIf="hasFileIconLeft"
      class="document-download-small-icon-12 mr-1"
    ></div>
    {{ text }}
    <div
      *ngIf="hasFileIconRight"
      class="document-download-small-icon-12 ml-1"
    ></div>
    <div
      *ngIf="hasEditIcon"
      class="edit-icon-20 ml-2"
    ></div>
    <div
      *ngIf="hasAddIcon"
      class="add-square-icon-20 ml-2"
    ></div>
    <div
      *ngIf="hasMessageIcon"
      class="message-notify-icon-20 ml-2"
    ></div>
    <div
      *ngIf="hasSaveIcon"
      class="save-icon-20 ml-2"
    ></div>
  </button>
</div>
