.smarti-button {
  width: 242px;
  height: 56px;
  border: 0;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.file-icon {
  background: url("/assets/svg/document-download-small-icon.svg");
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.edit-icon {
  background: url("/assets/svg/edit-icon.svg");
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
