<div class="mt-14 mb-16 margin-0-auto">
  <h3 class="medium neutrals-text-950 text-center forward-request-header margin-rl-auto">
    העברת בקשה לגורם מורשה בארגון מלא את פרטי איש הקשר
  </h3>
  <div
    class="flex flex-col items-center mt-14 gap-8"
    [formGroup]="forwardRequestForm"
  >
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'שם מלא'"
      [control]="forwardRequestForm.controls.userName"
    ></smarti-input-field>
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'אימייל*'"
      [control]="forwardRequestForm.controls.email"
    ></smarti-input-field>
    <smarti-input-number
      [customWidth]="'536px'"
      [placeholder]="'מספר טלפון*'"
      [control]="forwardRequestForm.controls.phone"
    ></smarti-input-number>
  </div>
  <smarti-button
    [typeClass]="'confirm'"
    [text]="'העבר'"
    [customMargin]="'80px auto 0'"
    (buttonClicked)="sendRequest()"
  ></smarti-button>
</div>
<button
  *ngIf="haveCloseIcon"
  class="close-cross-24 close-dialog-position cursor-pointer"
  (click)="closeDialog()"
></button>
