<div class="mt-4 mb-4 mx-auto">
  <h3 class="medium neutrals-text-950 text-center w-[565px] mx-auto dir-rtl">
    יש למלא את הפרטי איש הקשר אליו ברצונך להעביר בקשת העלאת הקובץ
  </h3>
  <div
    class="flex flex-col items-center mt-14 gap-8"
    [formGroup]="forwardRequestForm"
  >
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'שם מלא'"
      [control]="forwardRequestForm.controls.userName"
    ></smarti-input-field>
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'כתובת אימייל*'"
      [control]="forwardRequestForm.controls.email"
    ></smarti-input-field>
    <smarti-input-number
      [customWidth]="'536px'"
      [placeholder]="'מספר טלפון*'"
      [control]="forwardRequestForm.controls.phone"
    ></smarti-input-number>
  </div>
  <smarti-button
    [typeClass]="'confirm'"
    [text]="'שלח'"
    [customMargin]="'48px auto 0'"
    (buttonClicked)="sendRequest(successSendRequestDialog)"
  ></smarti-button>
</div>
<button
  *ngIf="haveCloseIcon"
  class="close-cross-24 close-dialog-left cursor-pointer"
  (click)="closeDialog()"
></button>

<ng-template
  #successSendRequestDialog
  let-observer
>
  <div class="flex flex-col gap-6 mt-6 mb-6">
    <div class="success-notification-icon-114 self-center"></div>
    <h3 class="medium neutrals-text-950 mt-0 mb-0 self-center text-center w-[500px]">
      התהליך נשלח אל איש הקשר שביקשת נודיע לך כאשר התהליך יושלם
    </h3>
  </div>
  <button
    *ngIf="haveCloseIcon"
    class="close-cross-24 close-dialog-left cursor-pointer"
    (click)="closeSecondDialog(observer)"
  ></button>
</ng-template>
