<form [formGroup]="groupSelectedForm">
  <div
    tuiGroup
    class="group group-items"
    [rounded]="false"
  >
    <div>
      <tui-select
        class="no-border"
        [tuiTextfieldSize]="textFieldSize"
        [style.width]="customWidth"
        [formControl]="control"
        [tuiDropdownDirection]="'bottom'"
        [tuiTextfieldLabelOutside]="true"
        [style.text-align]="'right'"
      >
        Department
        <input tuiTextfield />
        <tui-data-list-wrapper *tuiDataList></tui-data-list-wrapper>
      </tui-select>
    </div>
    <div>
      <tui-select
        class="no-border"
        [tuiTextfieldSize]="textFieldSize"
        [style.width]="customWidth"
        [formControl]="control"
        [tuiDropdownDirection]="'bottom'"
        [tuiTextfieldLabelOutside]="true"
        [style.text-align]="'right'"
      >
        מעסיק
        <input tuiTextfield />
        <tui-data-list-wrapper *tuiDataList></tui-data-list-wrapper>
      </tui-select>
    </div>
    <div>
      <tui-select
        class="no-border"
        [tuiTextfieldSize]="textFieldSize"
        [style.width]="customWidth"
        [formControl]="control"
        [tuiDropdownDirection]="'bottom'"
        [tuiTextfieldLabelOutside]="true"
        [style.text-align]="'right'"
      >
        ארגון
        <input tuiTextfield />
        <tui-data-list-wrapper *tuiDataList></tui-data-list-wrapper>
      </tui-select>
    </div>
  </div>
</form>
