<div
  *ngIf="notifications?.length; else noNotificationsToShowTemplate"
  class="flex flex-col items-flex-end"
>
  <smarti-dashboard-notification-item
    [isNotificationRead]="false"
    [hasFile]="true"
  ></smarti-dashboard-notification-item>
  <smarti-dashboard-notification-item
    [isNotificationRead]="true"
    [hasFile]="false"
  ></smarti-dashboard-notification-item>
  <smarti-dashboard-notification-item
    [isNotificationRead]="false"
    [hasFile]="false"
  ></smarti-dashboard-notification-item>
  <smarti-dashboard-notification-item
    [isNotificationRead]="true"
    [hasFile]="true"
  ></smarti-dashboard-notification-item>
</div>

<ng-template #noNotificationsToShowTemplate>
  <div class="mt-25 ml-6 mr-6 mb-33">
    <div class="paragraph-text neutrals-text-950 text-center px-4">You don’t have any notifications jet</div>
    <div class="no-notifications-icon"></div>
  </div>
</ng-template>
