<div class="progress-bar margin-t-4">
  <div class="progress-bar__text dark-text margin-start-auto">
    Registration progress
  </div>
  <div class="progress-bar__content">
    <div
      [ngClass]="counter.ten === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="left-side-progress-bar"
    ></div>
    <div
      [ngClass]="counter.nine === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="counter.eight === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="counter.seven === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="counter.six === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="counter.five === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="counter.four === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="counter.three === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="counter.two === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="counter.one === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item-fill right-side-progress-bar"
    ></div>
  </div>
</div>
