<div class="progress-bar margin-t-4">
  <div class="progress-bar__text dark-text margin-start-auto">
    Registration progress
  </div>
  <div class="progress-bar__content">
    <div
      [ngClass]="progressObj.ten === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="left-side-progress-bar"
    ></div>
    <div
      [ngClass]="progressObj.nine === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="progressObj.eight === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="progressObj.seven === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="progressObj.six === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="progressObj.five === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="progressObj.four === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="progressObj.three === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="progressObj.two === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item"
    ></div>
    <div
      [ngClass]="progressObj.one === 'fill' ? 'progress-bar__content__item-fill' : 'progress-bar__content__item'"
      class="progress-bar__content__item-fill right-side-progress-bar"
    ></div>
  </div>
</div>
