<div
  smartiScrollSection="banner"
  id="banner"
  class="relative"
>
  <div class="main-banner w-[100%] gt-tablet:h-[640px] flex justify-center items-center">
    <div class="gt-tablet:my-[168px] my-[84px] mx-auto">
      <div class="gt-tablet:w-[780px] lt-lg-tablet:mx-6 text-center display-text white-text">
        סליקה פנסיונית חכמה דואגים לשקט שלך
      </div>
      <div class="mt-[72px] mx-auto mb-0 w-[232px]">
        <smarti-button
          [text]="'הרשמה מהירה'"
          [typeClass]="'interaction'"
          [customWidth]="'232px'"
          [textColor]="'white'"
          (buttonClicked)="navigateToRegistration()"
        ></smarti-button>
        <!--        <div class="mt-4 paragraph-text-medium truncate text-center white-text">-->
        <!--          להמלצה לחברים-->
        <!--          <span class="bright-turquoise-text-500 cursor-pointer text-underline">לחצו כאן</span>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
