.main-banner {
  width: 100%;
  height: 640px;
  background: url("/assets/img/main-page-first-img.png");
  background-size: cover;

  &__block {
    margin: 168px auto;

    &__text {
      width: 780px;
    }

    &__interaction {
      margin: 72px auto 0;
      width: 232px;
    }
  }
}
