<div appScrollSection="banner">
  <div class="main-banner flex justify-center items-center">
    <div class="main-banner__block">
      <div class="main-banner__block__text text-center display-text white-text">
        סליקה פנסיונית חכמה דואגים
        לשקט שלך
      </div>
      <div class="main-banner__block__interaction">
        <smarti-button
          [text]="'הרשמה מהירה'"
          [typeClass]="'interaction'"
          [customWidth]="'232px'"
          [textColor]="'white'"
        ></smarti-button>
        <div class="mt-4 paragraph-text-medium truncate text-center white-text">להמלצה לחברים
          <span class="bright-turquoise-text-500 cursor-pointer">לחצו כאן</span>
        </div>
      </div>
    </div>
  </div>
</div>
