<div appScrollSection="banner">
  <div class="main-banner">
    <div class="main-banner__block">
      <div class="main-banner__block__text white-text">
        פתאום זה קל לנהל מספר
        פנסיות ספקים לעובדים
      </div>
      <div class="main-banner__block__interaction">
        <button class="main-banner__block__interaction-button bg-pumpkin white-text">הרשמה מהירה</button>
        <div class="main-banner__block__interaction-text white-text">להמלצה לחברים
          <span class="bright-turquoise-text">לחצו כאן</span>
        </div>
      </div>
    </div>
  </div>
</div>
