<div class="flex flex-col">
  <div
    class="flex ml-auto mr-7-5 mt-6 px-4 py-1 w-fit-content bright-turquoise-text-500 bg-neutrals-20 rounded-ml cursor-pointer"
    (click)="selectAll()"
  >
    Select all
  </div>
  <div class="mr-4 ml-auto mb-6">
    <div class="grid download-grid-template gap-6 w-fit-content mt-5 dir-rtl">
      <div
        *ngFor="let item of items; let index = index"
        class="border-neutrals-50 rounded-m flex flex-row justify-start items-center block-w608-h96 dir-ltr"
      >
        <div class="ml-4">
          <smarti-button
            [customHeight]="'32px'"
            [customButtonWidth]="'112px'"
            [text]="'Download'"
            [typeClass]="'confirm'"
            [hasFileIconLeft]="true"
            [buttonTextSmall]="true"
            (buttonClicked)="onDownloadFile(item)"
          ></smarti-button>
        </div>
        <div class="flex flex-row gap-4 mr-4 items-center ml-4">
          <div class="neutrals-text-950 medium-text min-w-81 max-w-81 overflow-break-word">{{ item.title }}</div>
          <div class="bg-bright-turquoise-100 rounded-m p-4 cursor-pointer">
            <div class="document-text-icon-40"></div>
          </div>
          <div>
            <smarti-input-checkbox
              [checked]="item.isSelected"
              (changeEvent)="checkRow($event, index)"
            ></smarti-input-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
