<smarti-processes-detail-header [currentStep]="currentStepBs"></smarti-processes-detail-header>
<smarti-processes-detail-information [departmentId]="departmentId"></smarti-processes-detail-information>
<div class="min-h-608 w-full mt-4 mb-16 items-center box-shadow-big rounded-l bg-white">
  <ng-container [ngSwitch]="currentStep$ | async">
    <smarti-processes-detail-first-step
      *ngSwitchCase="dashboardStepEnum.FirstStep"
      [departmentId]="departmentId"
      (changeStep)="changeStep(dashboardStepEnum.FirstStep, $event)"
    ></smarti-processes-detail-first-step>
    <smarti-processes-detail-second-step
      *ngSwitchCase="dashboardStepEnum.SecondStep"
      [departmentId]="departmentId"
      (changeStep)="changeStep(dashboardStepEnum.SecondStep, $event)"
    ></smarti-processes-detail-second-step>
    <smarti-processes-detail-third-step
      *ngSwitchCase="dashboardStepEnum.ThirdStep"
      (changeStep)="changeStep(dashboardStepEnum.ThirdStep, $event)"
    ></smarti-processes-detail-third-step>
    <smarti-processes-detail-fourth-step
      *ngSwitchCase="dashboardStepEnum.FourthStep"
      (changeStep)="changeStep(dashboardStepEnum.FourthStep, $event)"
    ></smarti-processes-detail-fourth-step>
    <smarti-processes-detail-fifth-step
      *ngSwitchCase="dashboardStepEnum.FifthStep"
      (changeStep)="changeStep(dashboardStepEnum.FifthStep, $event)"
    ></smarti-processes-detail-fifth-step>
  </ng-container>
</div>
