.dashboard-switcher-block {
  width: 324px;
  height: 64px;

  &__item {
    width: 150px;
    height: 48px;
    margin-top: 8px;
    margin-left: 8px;

    &__circle {
      width: 20px;
      height: 20px;
    }
  }
}

.dashboard-info-grid {
  grid-template-areas:
    'main left left right right'
    'main footer footer footer footer';
  grid-template-columns: 450px auto;

  &__main {
    grid-area: main;
    width: 450px;
    height: 448px;
  }

  &__left {
    grid-area: left;
    height: 144px;
    width: 450px;
  }

  &__right {
    grid-area: right;
    height: 144px;
    width: 450px;
  }

  &__footer {
    grid-area: footer;
    height: 280px;
  }
}
.white-background-absolute-block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  height: 1080px;
  width: 316px;
  background: white;
}