.green-left-arrow-icon {
  background: url("/assets/svg/arrow-left-icon-green-16.svg");
  width: 16px;
  height: 16px;
}

.green-right-arrow-icon {
  background: url("/assets/svg/arrow-right-right-icon-green-16.svg");
  width: 16px;
  height: 16px;
}