<div class="flex flex-col items-center">
  <div
    class="self-end mt-4 mr-7 regular-text neutrals-text-950 dir-rtl cursor-pointer"
    (click)="navigateToUploadFile()"
  >
    < חזרה אחורה
  </div>
    <h3 class="medium text-center mb-0 dir-rtl mx-4">הנתונים שהתקבלו לפי הקובץ שנקלט:</h3>
  <div class="mt-12 flex justify-around gt-lg-tablet:w-[658px] lt-lg-tablet:w-[80%] h-[80px] rounded-l bg-mint lt-lg-tablet:pt-2">
    <div class="flex gap-2 lt-lg-tablet:flex-col dir-rtl">
      <div class="paragraph-text neutrals-text-950 self-center ">סה״כ סכום לתשלום לקופות:</div>
      <div class="medium-text leading-10 text-center neutrals-text-950 self-center dir-rtl">

        {{ currentStorageData.total | number: "1.2-2" }}ש״ח
      </div>
    </div>
    <div class="flex gap-2 lt-lg-tablet:flex-col dir-rtl">
      <div class="paragraph-text neutrals-text-950 self-center dir-rtl">מספר העובדים:</div>
      <div class="medium-text leading-10 text-center neutrals-text-950 self-center dir-rtl">
        {{ currentStorageData.employeesCount }}
      </div>
    </div>
  </div>
  <div class="flex flex-col mt-20 gt-lg-tablet:w-[658px] lt-lg-tablet:w-[80%]">
    <div class="smarti-button-text font-semibold text-right dir-rtl text-nowrap">איך ברצונך להעביר את הכסף לקופות?</div>
    <div class="dir-rtl mt-6">
      <smarti-radio-block
        [labelFirstText]="'אני רוצה לשלם דרך smarti'"
        [labelSecondText]="'אני רוצה לשלם ישירות לקופות ולקבל קובץ הנחיות לתשלום'"
        [items]="items"
        [radioValue]="radioValue"
        [hasTooltipInfoFirstIcon]="true"
        [infoTooltipFirstText]="tooltipTextsTemplate"
      ></smarti-radio-block>
    </div>
  </div>
  <div class="gt-lg-tablet:mt-[180px] lt-lg-tablet:mt-14 mx-auto mb-16">
    <smarti-button
      [customWidth]="'215px'"
      [typeClass]="'confirm'"
      [text]="'המשך'"
      (buttonClicked)="navigateToNextPageOrOpenDialog(bankDetailsDialogTemplate)"
    ></smarti-button>
  </div>
</div>

<div
  class="neutrals-text-950 paragraph-text underline cursor-pointer text-right mb-4 mr-7 hover:opacity-90"
  (click)="openDialogForAsideProcess(asideProcessDialogTemplate)"
>
  אמשיך את התהליך אח״כ
</div>

<ng-template
  #asideProcessDialogTemplate
  let-observer
>
  <smarti-aside-process-dialog
    [step]="'transfer_money'"
    [observer]="observer"
  ></smarti-aside-process-dialog>
</ng-template>

<ng-template
  #bankDetailsDialogTemplate
  let-observer
>
  <smarti-bank-details-dialog
    [observer]="observer"
    [bankDetailsSmarti]="(getBankDetailsSmarti$ | async)?.bank_details"
  ></smarti-bank-details-dialog>
</ng-template>

<ng-template #tooltipTextsTemplate>
  <div>במידה ואופציה זו תיבחר, נצטרך לקבל את סך כל התשלום לכלל הקופות ואנחנו כבר נעשה את שאר העובדה.</div>
  <div>כך תוכלו לחסוך עמלות מיותרות, טעויות וזמן חשוב.</div>
</ng-template>
