<div class="flex flex-col mt-4 mr-6 ml-4">
  <div class="flex flex-row justify-between">
    <div class="py-2 px-4 button-text-small bg-neutrals-20 rounded-m bright-turquoise-text-500 text-center">
      בקשה חדשה
    </div>
    <div class="medium-text neutrals-text-950">יתרות לפיצויים</div>
  </div>
  <div class="flex flex-row mt-5 justify-end">
    <div class="rounded-m border-neutrals-50 flex justify-center items-center">
      <smarti-button
        [typeClass]="mode === 'left' ? 'confirm' : 'white'"
        [text]="'ברמת ח.פ.'"
        [customWidth]="'105px'"
        [customHeight]="'32px'"
        [paragraphTextExtra]="true"
        (buttonClicked)="changeTableMode('left')"
      ></smarti-button>
      <smarti-button
        [typeClass]="mode === 'right' ? 'confirm' : 'white'"
        [text]="'ברמת עובד'"
        [customWidth]="'105px'"
        [customHeight]="'32px'"
        [paragraphTextExtra]="true"
        (buttonClicked)="changeTableMode('right')"
      ></smarti-button>
    </div>
  </div>
  <div class="mt-4">
    <table class="tui-table">
      <tbody>
        <tr class="tui-table__tr tui-table__tr_border_none bg-neutrals-20">
          <th class="tui-table__th text-center caption-text neutrals-text-500">Product Type</th>
          <th class="tui-table__th text-center caption-text neutrals-text-500">Created At</th>
          <th class="tui-table__th text-center caption-text neutrals-text-500">Employee First Name</th>
          <th class="tui-table__th text-center caption-text neutrals-text-500">Employee Last Name</th>
          <th class="tui-table__th text-center caption-text neutrals-text-500">Employee Identifier</th>
        </tr>
        <tr
          class="tui-table__tr tui-table__tr_border_none"
          *ngFor="let report of compensationReport?.reportsCompensation"
        >
          <td class="tui-table__td text-center paragraph-text neutrals-text-500">{{ report.product_type }}</td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500">{{ report.created_at }}</td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500">{{ report.employee_first_name }}</td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500">{{ report.employee_last_name }}</td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500">{{ report.employee_identifier }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
