<!-- header for special offer -->
<div class="all-header">
  <div class="bg-green">
    <div class="special-header">
      <div class="special-header__left">
        <div class="button-close"></div>
        <div class="button-trial">
          <div class="button-trial__icon-arrow-left"></div>
          <div class="button-trial__text">התחילו מסלול חינם</div>
        </div>
      </div>

      <div class="clock-block white-text">
        <div class="clock-block__face bg-dark">
          <div class="clock-block__face-time">00</div>
          <div class="clock-block__face-text">Days</div>
        </div>
        <div class="clock-block__divider">
          <div class="clock-block__divider-item bg-dark"></div>
          <div class="clock-block__divider-item bg-dark"></div>
        </div>

        <div class="clock-block__face bg-dark">
          <div class="clock-block__face-time">15</div>
          <div class="clock-block__face-text">Hours</div>
        </div>
        <div class="clock-block__divider">
          <div class="clock-block__divider-item bg-dark"></div>
          <div class="clock-block__divider-item bg-dark"></div>
        </div>
        <div class="clock-block__face bg-dark">
          <div class="clock-block__face-time">35</div>
          <div class="clock-block__face-text">Min</div>
        </div>
        <div class="clock-block__divider">
          <div class="clock-block__divider-item bg-dark"></div>
          <div class="clock-block__divider-item bg-dark"></div>
        </div>
        <div class="clock-block__face bg-dark">
          <div class="clock-block__face-time">48</div>
          <div class="clock-block__face-text">Sec</div>
        </div>
      </div>

      <div class="special-header__right">מבצע: חודש ניסיון חינם</div>
    </div>
  </div>

  <div class="bg-header white-text bg-dark">
    <div class="header">
      <div class="header__left">
        <button class="header__left-login bg-bright-turquoise white-text">התחברות</button>
        <button class="header__left-free white-text bg-dark">הרשמה חינם</button>
      </div>
      <nav class="header__right">
        <!--      contact-->
        <a class="header__right-block cursor-pointer" appScrollAnchor="footer">צרו קשר</a>
        <!--      blog-->
        <a class="header__right-block cursor-pointer" appScrollAnchor="blog">בלוג</a>
        <!--      about-->
        <a class="header__right-block cursor-pointer" appScrollAnchor="banner">אודות</a>
        <!--      solution-->
        <a class="header__right-block cursor-pointer" appScrollAnchor="about">פתרונות</a>
        <a class="header__right-block-img cursor-pointer" appScrollAnchor="banner"></a>
      </nav>
    </div>
  </div>
</div>
