<tui-hosted-dropdown
  class="user-menu cursor-pointer"
  [content]="content"
  [tuiDropdownOffset]="14"
  tuiDropdownLimitWidth="fixed"
>
  <div class="container">
    <div class="flex flex-row gap-3-5">
      <div class="user-avatar-icon-48"></div>
      <div
        class="self-center white-text medium-text"
        [innerHTML]="username"
      ></div>
      <div
        class="self-center mr-14"
        [ngClass]="!isActive ? 'arrow-down-icon-24' : 'eto'"
      ></div>
    </div>
  </div>
</tui-hosted-dropdown>
<ng-template #content>
  <div class="p-6">
    <div class="flex flex-row justify-end gap-6 cursor-pointer">
      <div class="paragraph-text-medium neutrals-text-500">Account details</div>
      <div class="user-square-icon"></div>
    </div>
    <div
      class="mt-8 flex flex-row margin-rl-auto gap-1 py-2 px-4 bg-neutrals-20 rounded-m w-fit-content cursor-pointer"
      (click)="logout()"
    >
      <div class="button-text-small bright-turquoise-text-500">Log Out</div>
      <div class="logout-icon self-center"></div>
    </div>
  </div>
</ng-template>
