<form
  class="flex flex-col items-center mt-10"
  [formGroup]="personalInfoForm"
>
  <h3 class="medium mt-10 mb-0 text-center neutrals-text-950 dir-rtl">צור חשבון!</h3>
  <div class="personal-info mt-8">
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'שם החברה*'"
      [control]="personalInfoForm.controls.companyName"
    ></smarti-input-field>
  </div>
  <div class="personal-info mt-8">
    <smarti-input-number
      [placeholder]="'ח.פ.*'"
      [control]="personalInfoForm.controls.companyId"
      [maxLength]="9"
      [customWidth]="'536px'"
    ></smarti-input-number>
  </div>
  <div class="personal-info mt-8">
    <smarti-input-field
      [customWidth]="'536px'"
      [placeholder]="'שם מלא*'"
      [control]="personalInfoForm.controls.yourName"
    ></smarti-input-field>
  </div>
  <div class="personal-info mt-8">
    <smarti-input-field
      [placeholder]="'כתובת אימייל*'"
      [customWidth]="'536px'"
      [control]="personalInfoForm.controls.email"
    ></smarti-input-field>
  </div>
  <div class="personal-info mt-8">
    <smarti-input-number
      [customWidth]="'536px'"
      [placeholder]="'מספר טלפון*'"
      [control]="personalInfoForm.controls.phone"
    ></smarti-input-number>
  </div>
  <div class="personal-info mt-8 flex gap-4">
    <div class="personal-info__text paragraph-text-medium text-right neutrals-text-950 margin-left-160">
      <div>קראתי והסכמתי לתנאי השימוש ומדיניות</div>
      <div>הפרטיות של Smarti</div>
    </div>
    <smarti-input-checkbox [control]="personalInfoForm.controls.acceptPrivacy"></smarti-input-checkbox>
  </div>
  <smarti-button
    [customMargin]="'40px 0 64px'"
    [text]="'הירשם'"
    [typeClass]="'confirm'"
    (buttonClicked)="navigateToUploadFile()"
    [disabled]="isDisabled"
  ></smarti-button>
</form>
