<div class="mt-10 flex flex-col items-center">
  <h3 class="medium mt-10 mb-0 text-center neutrals-text-950">
    <div>בחר את השנה והחודש בו תרצה לבצע את</div>
    <div>העברה</div>
  </h3>
  <div class="flex gap-4 mt-10">
    <smarti-select
      [customWidth]="'336px'"
      [options]="monthsSelect"
      [placeholder]="'חודש'"
    ></smarti-select>
    <smarti-date-picker
      [customWidth]="'336px'"
      [placeholder]="'שנה*'"
    ></smarti-date-picker>
  </div>
  <smarti-button
    [text]="'אישור'"
    [typeClass]="'confirm'"
    [customMargin]="'40px 0 64px'"
    (buttonClicked)="doChangeStep('forward')"
  ></smarti-button>
</div>