<div class="grid">
  <div
    class="text-right mt-4 mr-7 regular-text neutrals-text-950 dir-rtl cursor-pointer"
    (click)="navigateToRegistrationInfo()"
  >
    < חזרה אחורה
  </div>
  <h3 class="medium text-center">הגדרת סיסמא</h3>
  <div class="mt-[74px] regular-text neutrals-text-950 text-center dir-rtl">
    יש להגדיר סיסמא לשם משתמש: {{ currentStorageData.email }}
  </div>
  <div class="mt-2 regular-text neutrals-text-950 text-center dir-rtl">
    הסיסמא צריכה להכיל 8 תווים, לפחות עוד אחת גדולה באנגלית וסימן.
  </div>
  <div class="mx-auto mt-24 w-fit">
    <smarti-input-password
      [customWidth]="'536px'"
      [placeholder]="'סיסמא*'"
      [control]="passwordControl"
    ></smarti-input-password>
  </div>
  <div class="mt-[240px] mx-auto w-fit mb-16">
    <smarti-button
      [text]="'הירשם'"
      [typeClass]="'confirm'"
      (buttonClicked)="setPassword()"
      [disabled]="isDisabled"
    ></smarti-button>
  </div>
</div>
