<div class="mt-10 flex flex-col items-center">
  <h3 class="medium mt-10 mb-0 text-center neutrals-text-950">להמשך התהליך אמת את חשבונך</h3>
  <div class="email-text-block mt-20 neutrals-text-950 text-center margin-rl-auto">
    <div class="regular-text">קוד אימות נשלח לכתובת המייל שלך</div>
    <div class="medium-text neutrals-text-950">{{ currentEmail }}</div>
    <div
      class="mt-4 paragraph-text-medium text-underline bright-turquoise-text-500 text-center cursor-pointer"
      (click)="openModalChangeEmail(changeEmailDialogTemplate)"
    >
      Change your email
    </div>
  </div>
  <div
    class="margin-rl-auto neutrals-text-950 text-center mt-10"
    [formGroup]="verifyEmailInfo"
  >
    <div class="regular-text mb-4">הכנס את קוד האימות</div>
    <smarti-input-number
      [centerVerify]="true"
      [customWidth]="'536px'"
      [control]="verifyEmailInfo.controls.emailVerifyCode"
      [maxLength]="6"
    ></smarti-input-number>
  </div>
  <div class="mt-10 margin-rl-auto">
    <div class="paragraph-text neutrals-text-950 text-center verify-email-text-block">לא קיבלת מיילֿ?</div>
    <div class="mt-4 paragraph-text-medium text-underline bright-turquoise-text-500 text-center cursor-pointer">
      שלח שוב
    </div>
  </div>
  <smarti-button
    class="mt-20 mb-16"
    [typeClass]="'confirm'"
    (buttonClicked)="openSuccessDialog(successDialogTemplate)"
    [text]="'אישור'"
    [disabled]="isDisabled"
    [customWidth]="'232px'"
  ></smarti-button>
</div>

<ng-template
  #successDialogTemplate
  let-observer
>
  <smarti-success-dialog
    [headerText]="'הרישום בוצע בהצלחה!'"
    [descriptionText]="'Dear User Name, now you can use Smarti panel'"
    [customHeaderHeight]="'333px'"
    [customDescriptionHeight]="'276px'"
    [buttonText]="'בוא נתחיל!'"
    [redirectLink]="'/dashboard'"
    [observer]="observer"
  ></smarti-success-dialog>
</ng-template>

<ng-template
  #changeEmailDialogTemplate
  let-observer
>
  <smarti-change-email-dialog
    [observer]="observer"
    [control]="control"
    (sendRequest)="sendChangeEmailRequest()"
  ></smarti-change-email-dialog>
</ng-template>
