<div class="mt-10 margin-rl-auto flex flex-col justify-center items-center">
  <h3 class="medium neutrals-text-950 text-center margin-rl-auto mt-0 mb-0">Change your email address</h3>
  <div class="regular-text neutrals-text-950 text-center margin-rl-auto mt-10">
    Please enter your valid email address
  </div>
  <div class="mt-8">
    <smarti-input-field
      [control]="control"
      [placeholder]="'Email Address'"
      [customWidth]="'536px'"
    ></smarti-input-field>
  </div>
  <div class="mt-104 mb-4">
    <smarti-button
      [text]="'Action'"
      [typeClass]="'confirm'"
      [customButtonWidth]="'232px'"
      (buttonClicked)="sendChangeEmailRequest()"
    ></smarti-button>
  </div>
</div>
<button
  class="close-dialog-left cursor-pointer"
  (click)="closeDialog()"
></button>
