<div class="flex flex-col justify-between h-full">
  <div
    class="mt-4 ml-7-5 mr-10 inline-block flex-1"
    *ngIf="items?.length; else noDataTemplate"
  >
    <table class="tui-table tui-table_layout_fixed shield-table">
      <tbody>
        <tr class="tui-table__tr tui-table__tr_border_none bg-neutrals-20 mb-6">
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0">
            <div class="flex flex-row cursor-pointer justify-between">
              <div class="arrow-down-icon-16"></div>
              <div class="pr-4">סטטוס</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0">
            <div class="flex flex-row cursor-pointer justify-between">
              <div class="arrow-down-icon-16"></div>
              <div class="pr-4">מ"ה</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0">
            <div class="flex flex-row cursor-pointer justify-between">
              <div class="arrow-down-icon-16"></div>
              <div class="pr-4">שם קופה</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 pr-6">תעודת זהות</th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 pr-6">שם עובד</th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 pr-6">מעסיק</th>
        </tr>
        <tr
          *ngFor="let item of items | slice: this.itemsValue.firstValue : this.itemsValue.lastValue; let index = index"
          class="tui-table__tr tui-table__tr_border_none mb-6 cursor-pointer"
        >
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-4 text-left">
            <smarti-select
              [placeholder]="'משנה*'"
              [customWidth]="'252px'"
              [textFieldSize]="'s'"
            ></smarti-select>
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-4 text-center">
            {{ item.product_code }}
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-4 text-center">
            {{ item.product_name }}
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-4 text-center">
            {{ item.identifier }}
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-4 text-center">
            {{ item.employee_name }}
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-4 text-right">
            {{ item.employer_name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    *ngIf="items?.length as total"
    class="flex flex-row justify-center mb-4"
  >
    <smarti-table-pagination
      [total]="total"
      [items]="4"
      (changePageItemsValue)="changePageItemsValue($event)"
    ></smarti-table-pagination>
  </div>
</div>

<ng-template #noDataTemplate>
  <smarti-no-elements-to-show></smarti-no-elements-to-show>
</ng-template>
