<div>
  <div class="flex flex-row justify-end mt-12">
    <div>
      <h2 class="medium neutrals-text-950 mt-0 mb-0 pr-6">היזונים ברמת עובד</h2>
      <div class="neutrals-text-950 paragraph-text pr-6">צפיה בסטטוס הכספים ששוייכו לקופה של העובד</div>
    </div>
  </div>
  <div class="flex flex-row justify-between mt-4">
    <div>
      <smarti-button
        [text]="'פעולות'"
        [customButtonWidth]="'232px'"
        [customHeight]="'56px'"
        [typeClass]="'confirm'"
        [hasArrowDownIconFromLeft]="true"
      ></smarti-button>
    </div>
    <div class="flex flex-row self-end gap-6">
      <smarti-custom-dropdown
        [customContent]="customDropdownContent"
        (clickEvent)="onCustomDropdownClick()"
      >
        <div
          *ngIf="!isCustomDropdownActive; else activeDropdownButtonTemplate"
          class="block-w172-h42 flex flex-row justify-center items-center gap-3 cursor-pointer"
        >
          <div class="green-left-arrow-icon-green-16"></div>
          <div class="paragraph-text-extra bright-turquoise-text-500">סינון מורחב</div>
        </div>
        <ng-template #activeDropdownButtonTemplate>
          <div class="block-w172-h42 flex flex-row justify-center items-center gap-3 cursor-pointer">
            <div class="green-right-arrow-icon-green-16"></div>
            <div class="paragraph-text-extra bright-turquoise-text-500">נקה</div>
          </div>
        </ng-template>
      </smarti-custom-dropdown>
      <div class="self-end pr-6">
        <smarti-input-search
          [placeholder]="'Search'"
          [customWidth]="'450px'"
          [customBorderBottom]="'1px solid #4F5F7A'"
          [control]="controlSearch"
        ></smarti-input-search>
      </div>
    </div>
  </div>
  <div class="w-full h-672 bg-white box-shadow-big mt-4 rounded-l mb-34">
    <smarti-dashboard-employers-table
      [items]="recordList$ | async"
      [token]="token"
    ></smarti-dashboard-employers-table>
  </div>
</div>

<ng-template #customDropdownContent></ng-template>
