<div
  *ngIf="direction === 'left' && isLeftPopupActive"
  class="relative"
>
  <div
    class="close-circle-white-24 absolute cursor-pointer t-0 r-0"
    (click)="closePopup('left')"
  ></div>
  <div class="left-popup-block flex flex-col">
    <h4 class="medium text-center mt-16 mb-0">סליקה מהירה</h4>
    <div class="paragraph-text-medium text-center mt-2 w-50 self-center">לקבלת הנחיות לתשלום לקופות</div>
    <div class="mt-10 mr-14 self-end">
      <smarti-button
        [customHeight]="'42px'"
        [customWidth]="'117px'"
        [text]="'לחץ כאן'"
        [typeClass]="'rose'"
        (buttonClicked)="navigateToRegistrationPage()"
      ></smarti-button>
    </div>
  </div>
</div>

<div
  *ngIf="direction === 'right' && isRightPopupActive"
  class="relative"
>
  <div
    class="close-circle-white-24 absolute cursor-pointer t-0 r-0"
    (click)="closePopup('right')"
  ></div>
  <div class="right-popup-block flex flex-col">
    <h4 class="medium text-center mt-16 mb-0">חודש חינם</h4>
    <div class="paragraph-text-medium text-center mt-2 w-50 self-center">
      נסו את הסליקה הפנסיונית עם חודש ניסיון מתנה
    </div>
    <div class="mt-10 ml-6">
      <smarti-button
        [customHeight]="'42px'"
        [customWidth]="'161px'"
        [text]="'הירשמו עכשיו!'"
        [typeClass]="'blue'"
        (buttonClicked)="navigateToRegistrationPage()"
      ></smarti-button>
    </div>
  </div>
</div>
