.left-popup-block {
  background: url("/assets/svg/small-banner-left.svg");
  width: 324px;
  height: 306px;
}

.right-popup-block {
  background: url("/assets/svg/small-banner-right.svg");
  width: 324px;
  height: 306px;
}
