.left-popup-block {
  background: url("/assets/svg/small-banner-left.svg");
  width: 280px;
  height: 198px;
  position: absolute;
  top: 500px;
}

.right-popup-block {
  background: url("/assets/svg/small-banner-right.svg");
  width: 280px;
  height: 198px;
}
