<div *ngIf="direction === 'left'">
  <div class="left-popup-block">
    <h4 class="medium text-center">סליקה מהירה</h4>
    <div class="paragraph-text-medium text-center">
      לקבלת הנחיות לתשלום לקופות
    </div>
    <button
      class="items-center justify-center rounded-m gap-2"
    >לחץ כאן</button>
  </div>
</div>

<div *ngIf="direction === 'right'">
  <div class="right-popup-block">
    <h4 class="medium text-center">חודש חינם</h4>
    <div class="paragraph-text-medium text-center">
      נסו את הסליקה הפנסיונית
      עם חודש ניסיון מתנה
    </div>
    <button
      class="items-center justify-center rounded-m gap-2"
    >הירשמו עכשיו!</button>
  </div>
</div>
