<div *ngIf="direction === 'left'">
  <div class="left-popup-block">
    <div class="left-popup-block__header">סליקה מהירה</div>
    <div class="left-popup-block__text">
      לקבלת הנחיות לתשלום לקופות
    </div>
    <button class="left-popup-block__button">לחץ כאן</button>
  </div>
</div>

<div *ngIf="direction === 'right'">
  <div class="right-popup-block">
    <div class="right-popup-block__header">חודש חינם</div>
    <div class="right-popup-block__text">
      נסו את הסליקה הפנסיונית
      עם חודש ניסיון מתנה
    </div>
    <button class="right-popup-block__button">הירשמו עכשיו!</button>
  </div>
</div>
