<div>
  <div class="flex flex-row justify-end mt-12">
    <h2 class="medium neutrals-text-950 mt-0 mb-0 pr-6">קופות</h2>
  </div>
  <div class="flex flex-row justify-end mt-4">
    <div class="flex flex-row self-end gap-6">
      <smarti-custom-dropdown
        [customContent]="customDropdownContent"
        (clickEvent)="onCustomDropdownClick()"
      >
        <div
          *ngIf="!isCustomDropdownActive; else activeDropdownButtonTemplate"
          class="block-w172-h42 flex flex-row justify-center items-center gap-3 cursor-pointer"
        >
          <div class="green-left-arrow-icon-green-16"></div>
          <div class="paragraph-text-extra bright-turquoise-text-500">תהליך חדש</div>
        </div>
        <ng-template #activeDropdownButtonTemplate>
          <div class="block-w172-h42 flex flex-row justify-center items-center gap-3 cursor-pointer">
            <div class="green-right-arrow-icon-green-16"></div>
            <div class="paragraph-text-extra bright-turquoise-text-500">נקה</div>
          </div>
        </ng-template>
      </smarti-custom-dropdown>
      <div class="self-end">
        <smarti-input-search
          [placeholder]="'Search employee'"
          [customWidth]="'450px'"
          [customBorderBottom]="'1px solid #4F5F7A'"
        ></smarti-input-search>
      </div>
    </div>
  </div>
  <div class="w-full h-752 bg-white box-shadow-big mt-4 rounded-l mb-34">
    <smarti-dashboard-cash-register-table></smarti-dashboard-cash-register-table>
  </div>
</div>

<ng-template #customDropdownContent>
  <div class="block-w322-h178 flex flex-col mt-6">
    <div class="flex flex-row margin-rl-auto gap-6">
      <smarti-select
        [customWidth]="'252px'"
        [placeholder]="'סוג קופה'"
      ></smarti-select>
    </div>
    <div class="flex flex-row justify-center mt-10">
      <smarti-button
        [typeClass]="'confirm'"
        [customButtonWidth]="'168px'"
        [customHeight]="'42px'"
        [text]="'חפש'"
      ></smarti-button>
    </div>
  </div>
</ng-template>
