<div
  class="logo-big-h33"
  (click)="navigateToPageWithoutAnchor(mainLink)"
></div>
<div
  class="hamburger-menu-white-icon-24 self-center"
  (click)="openSheetMobileMenu()"
></div>

<div
  id="mobileNav"
  class="h-full w-0 fixed z-[999999] top-0 right-0 overflow-x-hidden transition-[0.5s] bg-neutral-900"
>
  <div class="flex flex-row mt-10 mx-5 justify-between">
    <div
      class="logo-big-h33"
      (click)="navigateToPageWithoutAnchor(mainLink)"
    ></div>
    <div
      class="close-cross-white-24 !w-8 !h-8 !bg-cover self-end"
      (click)="closeMobileNav()"
    ></div>
  </div>
  <div class="flex flex-col justify-center gap-8 mt-20 text-white">
    <!--      solution-->
    <a
      class="paragraph-text-light self-center cursor-pointer"
      smartiScrollAnchor="about"
      (click)="navigateToPageWithAnchor(mainLink, 'about')"
    >
      פתרונות
    </a>
    <a
      class="paragraph-text-light self-center cursor-pointer"
      smartiScrollAnchor="banner"
      (click)="navigateToPageWithAnchor(mainLink, 'banner')"
    >
      אודות
    </a>
    <a
      class="paragraph-text-light self-center cursor-pointer"
      (click)="navigateToPageWithoutAnchor(contactLink)"
    >
      צרו קשר
    </a>
    <smarti-button
      class="mx-auto"
      [typeClass]="'confirm'"
      [text]="'התחברות'"
      [customWidth]="'168px'"
      [customHeight]="'42px'"
      [paragraphTextExtra]="true"
      (buttonClicked)="navigateToPageWithoutAnchor(loginLink)"
    ></smarti-button>
    <smarti-button
      class="mx-auto"
      [typeClass]="'dark'"
      [text]="'הרשמה חינם'"
      [customWidth]="'168px'"
      [customHeight]="'42px'"
      [customBorder]="'1px solid white'"
      [paragraphTextExtra]="true"
      (buttonClicked)="navigateToPageWithoutAnchor(registrationLink)"
    ></smarti-button>
  </div>
</div>
