<div
  class="flex flex-col items-center"
  [formGroup]="form"
>
  <h3 class="medium neutrals-text-950 mb-0 mt-10 w-584px text-center">אנא מלא את השדות הבאים כדי ליצור פנייה חדשה</h3>
  <div class="mt-8">
    <smarti-select
      [placeholder]="'נושא הפניה'"
      [customWidth]="'536px'"
      [isComboBoxMode]="true"
      [comboBoxOptions]="chatSubjectOption"
      [control]="form.controls.document"
    ></smarti-select>
  </div>
  <div
    *ngIf="!hideDocumentType"
    class="mt-8"
  >
    <smarti-select
      [placeholder]="'סוג מסמך- טופס'"
      [customWidth]="'536px'"
      [isComboBoxMode]="true"
      [comboBoxOptions]="tatSubjectOption"
      [control]="form.controls.documentType"
    ></smarti-select>
  </div>
  <div
    *ngIf="!hideBlockWithCashAndEmployee"
    class="mt-8 flex flex-row gap-4"
  >
    <smarti-select
      [placeholder]="'עובד'"
      [customWidth]="'260px'"
      [control]="form.controls.employee"
    ></smarti-select>
    <smarti-select
      [placeholder]="'קופה'"
      [customWidth]="'260px'"
      [control]="form.controls.cashRegister"
    ></smarti-select>
  </div>
  <div class="mt-8">
    <smarti-input-textarea
      [customWidth]="'536px'"
      [customHeight]="'160px'"
      [placeholder]="'תוכן הפניה'"
      [control]="form.controls.referenceContent"
    ></smarti-input-textarea>
  </div>
  <div class="mt-8">
    <div class="paragraph-text neutrals-text-950">העלה קובץ XML</div>
    <smarti-input-file
      [customWidth]="'536px'"
      [customHeight]="'120px'"
      [control]="form.controls.file"
      (fileUploaded)="fileUploaded($event)"
    ></smarti-input-file>
  </div>
  <div class="mt-10 mb-2 flex flex-row gap-182px">
    <smarti-button
      [text]="'Action'"
      [customButtonWidth]="'232px'"
      [customHeight]="'56px'"
      [typeClass]="'confirm'"
      [disabled]="!isDocumentUploaded"
      (buttonClicked)="onAddFileClick()"
    ></smarti-button>
    <smarti-button
      [text]="'Cancel'"
      [customButtonWidth]="'232px'"
      [customHeight]="'56px'"
      [typeClass]="'white'"
      [customBorder]="'1px solid black'"
      (buttonClicked)="closeDialog()"
    ></smarti-button>
  </div>
</div>
<button
  class="close-dialog-left close-cross-24 cursor-pointer"
  (click)="closeDialog()"
></button>
