.first-header-image {
  background: url("/assets/svg/seated-woman.svg");
  width: 182px;
  height: 160px;
}

.second-header-image {
  background: url("/assets/svg/work-with-documents.svg");
  width: 218px;
  height: 160px;
}

.third-header-image {
  background: url("/assets/svg/post-box.svg");
  width: 220px;
  height: 160px;
}

.smarti-registration-form {
  display: inline-block;
  margin-bottom: 54px;
}