<div class="bg-neutral">
  <smarti-registration-header></smarti-registration-header>
  <div class="registration">
    <smarti-progress-bar
    [counter]="changeImage ? newCounter : standardCounter"
    ></smarti-progress-bar>
    <div class="registration__info-block margin-t-2">
      <div
        class="registration__info-block__left"
        [ngClass]="changeImage ? 'registration__info-block__left-new' : 'registration__info-block__left'"
      ></div>
      <div class="registration__info-block__right dark-text">
        תודה שבחרתם<br/>
        Smarti
      </div>
    </div>
    <smarti-registration-form
      style="display: inline-block; margin-bottom: 54px"
      (changingImage)="doChangingImage($event)"
    ></smarti-registration-form>
  </div>
  <ng-container *ngIf="changeImage">
    <smarti-registration-footer></smarti-registration-footer>
  </ng-container>
</div>
