.contact-manager-img {
  background: url("/assets/svg/contact-manager.svg");
  width: 610px;
  height: 654px;
}

.contact-header {
  width: 324px;
}

.contact-block {
  width: 674px;
}

.phone-fill-icon {
  background: url("/assets/svg/phone-fill-icon.svg");
  width: 64px;
  height: 64px;
}

.mail-fill-icon {
  background: url("/assets/svg/mail-fill-icon.svg");
  width: 64px;
  height: 64px;
}