<div class="margin-t-104">
  <div class="smarti-heading-text bright-turquoise-text">
    רוצים ליעל את ניהול העובדים שלכם?
  </div>
  <div class="smarti-describing-text white-text">
    כל הכלים המתאימים שיאפשרו לכם זאת<br/>
    ניהול משאבי אנוש בתהליכים דיגיטליים מתקדמים ביותר
  </div>
  <div class="employee-management">
    <div class="employee-management__left">
      <div class="employee-management__left__item bg-dark-1">
        <div class="employee-management__left__item-button bg-pumpkin">
          <div class="icon-arrow-left-top"></div>
        </div>
        <div class="employee-management__left__item-text white-text">
          שליחת טפסי 101 ישירות לעובדים לנייד
        </div>
      </div>
      <div class="employee-management__left__item bg-dark-1 margin-t-9">
        <div class="employee-management__left__item-button bg-pumpkin">
          <div class="icon-arrow-left-top"></div>
        </div>
        <div class="employee-management__left__item-text white-text">
          אפשרות לעובדים לבחור מוצרים פנסיונים
        </div>
      </div>
      <div class="employee-management__left__item bg-dark-1 margin-t-9">
        <div class="employee-management__left__item-button bg-pumpkin">
          <div class="icon-arrow-left-top"></div>
        </div>
        <div class="employee-management__left__item-text white-text">
          העלאת תלושי שכר לכלל העובדים
        </div>
      </div>
    </div>
    <div class="employee-management__right"></div>
  </div>
</div>
