.employee-management {
  display: flex;
  justify-content: center;
  gap: 171px;

  &__left {
    margin-top: 168px;

    &__item {
      border-radius: 16px;
      border: 1px solid #323948;
      width: 674px;
      height: 88px;
      display: flex;
      gap: 136px;

      &-button {
        margin: 16px 0 16px 16px;
        width: 124px;
        height: 56px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
      }

      &-text {
        text-align: start;
        font-size: 24px;
        font-family: RubikMedium, sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        width: 366px;
        height: 71px;
        margin: 8px 32px 8px 0;
        direction: rtl;
      }
    }
  }

  &__right {
    margin-top: 96px;
    background: url("../../../assets/img/happy-man.png");
    width: 640px;
    height: 640px;
  }
}

.icon-arrow-left-top {
  background: url("../../../assets/svg/send-icon.svg");
  width: 28px;
  height: 28px;
  align-self: center;
}
