<div>
  <div class="flex flex-row justify-end mt-12">
    <h2 class="medium neutrals-text-950 mt-0 mb-0 pr-6">מעקב יתרות לפיצויים ברמת עובד</h2>
  </div>
  <div class="flex flex-row justify-between mt-4">
    <div class="flex flex-row gap-6">
      <smarti-button
        [text]="'תהליך חדש'"
        [customButtonWidth]="'232px'"
        [customHeight]="'56px'"
        [typeClass]="'confirm'"
      ></smarti-button>
      <smarti-button
        [text]="' העלאת קובץ בקשות'"
        [customButtonWidth]="'275px'"
        [customBorder]="'1px solid black'"
        [customHeight]="'56px'"
        [typeClass]="'white'"
      ></smarti-button>
    </div>
    <div class="flex flex-row self-end gap-6">
      <smarti-custom-dropdown
        [customContent]="customDropdownContent"
        (clickEvent)="onCustomDropdownClick()"
      >
        <div
          class="block-w172-h42 flex flex-row justify-center items-center gap-3 cursor-pointer"
          *ngIf="!isCustomDropdownActive; else activeDropdownButtonTemplate"
        >
          <div class="green-left-arrow-icon"></div>
          <div class="paragraph-text-extra bright-turquoise-text-500">סינון מורחב</div>
        </div>
        <ng-template #activeDropdownButtonTemplate>
          <div class="block-w172-h42 flex flex-row justify-center items-center gap-3 cursor-pointer">
            <div class="green-right-arrow-icon"></div>
            <div class="paragraph-text-extra bright-turquoise-text-500">נקה</div>
          </div>
        </ng-template>
      </smarti-custom-dropdown>
      <div class="self-end">
        <smarti-input-search
          [placeholder]="'Search employee'"
          [customWidth]="'450px'"
          [customBorderBottom]="'1px solid #4F5F7A'"
        ></smarti-input-search>
      </div>
    </div>
  </div>
  <div class="w-full h-752 bg-white box-shadow-big mt-4 rounded-l mb-34">
    <smarti-dashboard-balance-table></smarti-dashboard-balance-table>
  </div>
</div>

<ng-template #customDropdownContent>
  <div class="block-w608-h322 flex flex-col mt-6">
    <div class="flex flex-row margin-rl-auto gap-6">
      <div class="flex flex-col gap-8">
        <smarti-input-date
          [placeholder]="'From date'"
          [customWidth]="'252px'"
        ></smarti-input-date>
        <smarti-select
          [customWidth]="'252px'"
          [placeholder]="'חברה מנהלת'"
        ></smarti-select>
        <smarti-select
          [customWidth]="'252px'"
          [placeholder]="'סטטוס'"
        ></smarti-select>
      </div>
      <div class="flex flex-col gap-8">
        <smarti-input-date
          [placeholder]="'From date'"
          [customWidth]="'252px'"
        ></smarti-input-date>
        <smarti-select
          [customWidth]="'252px'"
          [placeholder]="'יוצר הבקשה'"
        ></smarti-select>
        <smarti-select
          [customWidth]="'252px'"
          [placeholder]="'מקור המידע'"
        ></smarti-select>
      </div>
    </div>
    <div class="flex flex-row justify-center mt-10">
      <smarti-button
        [typeClass]="'confirm'"
        [customButtonWidth]="'168px'"
        [customHeight]="'42px'"
        [text]="'חפש'"
      ></smarti-button>
    </div>
  </div>
</ng-template>
