<div class="mt-60">
  <div class="smarti-heading-text bright-turquoise-text-500">תתחיל את היום עם Smarti</div>
  <div class="smarti-describing-text white-text">
    מגוון כלים ופתרונות יומיומיים שחוסכים לכם זמן וכסף
  </div>
</div>

<div class="start-day">
  <div class="start-day__image"></div>
  <div class="start-day__block">
    <div class="start-day__block__item">
      <div class="start-day__block__item__text-block">
        <div class="start-day__block__item__text-block-header rose-text-base-500">
          שירות ללא פשרות
        </div>
        <div class="start-day__block__item__text-block-text white-text">
          יחס אישי לכל לקוח ומענה מקצועי ומהיר לכל שאלה
        </div>
      </div>
      <div class="start-day__block__item__img-first"></div>
    </div>

    <div class="start-day__block__item">
      <div class="start-day__block__item__text-block">
        <div class="start-day__block__item__text-block-header blue-text-base-400">
          שקיפות מלאה
        </div>
        <div class="start-day__block__item__text-block-text white-text">
          עבור תנועות תשלומי פנסיה ברמה החודשית / שנתית
        </div>
      </div>
      <div class="start-day__block__item__img-second"></div>
    </div>

    <div class="start-day__block__item">
      <div class="start-day__block__item__text-block">
        <div class="start-day__block__item__text-block-header pumpkin-text-400">
          דוחות
        </div>
        <div class="start-day__block__item__text-block-text white-text">
          טופס הכנה 161, דוח הפקדות יתרות פיצויים של סוף שנה, קובץ תלם, טופס העברות כספים בין קופות, ועוד
        </div>
      </div>
      <div class="start-day__block__item__img-third"></div>
    </div>
  </div>
</div>
