<ng-container *ngIf="!isComboBoxMode; else comboBoxTemplate">
  <tui-select
    [tuiTextfieldSize]="textFieldSize"
    [style.width]="customWidth"
    [formControl]="control"
    [ngClass]="{ 'no-border': isNoBorderMode }"
    [tuiDropdownDirection]="'bottom'"
    [tuiTextfieldLabelOutside]="true"
    [style.text-align]="'right'"
  >
    {{ placeholder }}
    <input tuiTextfield />
    <tui-data-list-wrapper
      [ngClass]="{ 'big-mode': selectMode === 'big' }"
      *tuiDataList
      [items]="options"
    ></tui-data-list-wrapper>
  </tui-select>
</ng-container>

<ng-template #comboBoxTemplate>
  <tui-combo-box
    [tuiTextfieldSize]="textFieldSize"
    [style.width]="customWidth"
    [formControl]="control"
    [tuiDropdownDirection]="'bottom'"
    [tuiTextfieldLabelOutside]="true"
    [style.text-align]="'right'"
    [stringify]="stringify"
  >
    {{ placeholder }}
    <input tuiTextfield />
    <tui-data-list-wrapper
      [ngClass]="{
        'big-mode': selectMode === 'big'
      }"
      *tuiDataList
      [itemContent]="stringify | tuiStringifyContent"
      [items]="comboBoxOptions | tuiFilterByInputWith: stringify"
    ></tui-data-list-wrapper>
  </tui-combo-box>
</ng-template>
