<form [formGroup]="groupSelectedForm">
  <div
    tuiGroup
    class="group group-items"
    [rounded]="false"
  >
    <div *ngIf="departments">
      <smarti-select
        [customWidth]="customWidth"
        [options]="departments"
        [textFieldSize]="textFieldSize"
        [placeholder]="'מעסיק'"
        [control]="groupSelectedForm.controls.department"
      ></smarti-select>
    </div>
    <div *ngIf="employers">
      <smarti-select
        [customWidth]="customWidth"
        [options]="employers"
        [textFieldSize]="textFieldSize"
        [placeholder]="'מעסיק'"
        [control]="groupSelectedForm.controls.employer"
      ></smarti-select>
    </div>
    <div *ngIf="organizations">
      <smarti-select
        [customWidth]="customWidth"
        [options]="organizations"
        [textFieldSize]="textFieldSize"
        [placeholder]="'ארגון'"
        [control]="groupSelectedForm.controls.organization"
      ></smarti-select>
    </div>
  </div>
</form>
