<div class="margin-0-auto" appScrollSection="about">
  <div class="smarti-heading-text bright-turquoise-text">אודות Smarti</div>
  <div class="smarti-describing-text white-text">
    בית תוכנה המתמחה בפתרונות סליקה<br/>
    פנסיונית ממשק ישיר מול חברות הביטוח, שירות ישיר זמין ואישי
  </div>
</div>

<div class="about-block-forms">
  <div class="about-block-forms__item">
    <div class="first-about-form-image"></div>
    <div class="about-block-forms__item-text white-text">אזור אישי</div>
  </div>
  <div class="about-block-forms__item">
    <div class="second-about-form-image"></div>
    <div class="about-block-forms__item-text white-text">הכנה לטופס 161</div>
  </div>
  <div class="about-block-forms__item">
    <div class="third-about-form-image"></div>
    <div class="about-block-forms__item-text white-text">מנהל תיק אישי</div>
  </div>
  <div class="about-block-forms__item">
    <div class="fourth-about-form-image"></div>
    <div class="about-block-forms__item-text white-text">ממשק נגיש</div>
  </div>
</div>
