<div
  class="notification bg-green-success-50 border-green-success-500 box-shadow-big rounded-l"
  [style.width]="width"
  [style.height]="height"
>
  <div class="notification__header text-right mt-2 paragraph-text-medium green-success-500-text">{{ header }}</div>
  <div class="flex justify-end gap-4 mr-8">
    <div
      class="text-right paragraph-text dir-rtl neutrals-text-950 notification__description"
      [innerHTML]="description"
    ></div>
    <div class="success-notification-icon-24"></div>
  </div>
</div>
<button
  class="close-notification close-cross-24 cursor-pointer"
  (click)="onCloseNotification()"
></button>
