.notification {
  margin-top: 21px;

  &__header {
    margin-right: 72px;
  }

  &__description {
    width: 590px;
  }
}

.close-notification {
  position: absolute;
  top: 8px;
  left: 8px;
  border: 0;
}