<div class="mt-4 ml-4">
  <div class="flex flex-row justify-between">
    <div class="py-2 px-4 button-text-small bg-neutrals-20 rounded-m bright-turquoise-text-500 text-center">
      פניה חדשה
    </div>
    <div class="medium-text neutrals-text-950 mr-6">פניות חדשות</div>
  </div>
  <div class="flex justify-end items-center gap-4 mt-1">
    <div class="regular-text neutrals-text-300">פניות ממתינות</div>
    <div class="block-36px bg-neutrals-950 medium-text white-text rounded-full mr-6 flex justify-center items-center">
      4
    </div>
  </div>
  <div
    *ngFor="let _ of ' '.repeat(4).split('')"
    class="flex flex-col gap-2 mt-2 mr-4"
  >
    <div class="inquiries-block flex flex-row w-full rounded-m bg-neutrals-20">
      <div class="mr-6 ml-2">
        <div class="inquiries-block__time flex flex-row gap-2 items-center mt-2 w-full">
          <div class="clock-icon-16"></div>
          <div class="neutrals-text-300 caption-text">14:29</div>
        </div>
        <div class="mt-1 caption-text neutrals-text-300">25-06-2023</div>
      </div>
      <div class="mt-4 mr-4 neutrals-text-950 paragraph-text dir-rtl">
        היי ג’ני , שלחתי לך במייל פירוט חובות בכלל פנסיה
      </div>
    </div>
  </div>
</div>
