<div class="flex flex-col items-center mt-10">
  <h1 class="medium neutrals-text-950 text center mt-0 mb-2">הורידו הנחיות לתשלום</h1>
  <div class="paragraph-text text-center neutrals-text-950 margin-rl-64">
    כעת ניתן להוריד הנחיות תשלום לקופות המכיל פירוט עבור סכום התשלום לכל קופה ומס’ החשבון שלה. בנוסף, ניתן לשלוח הנחיות
    תשלום לאנשי קשר *החיוב בגין דמי שירות הסליקה מופיע כשורת חיוב נוספת
  </div>
  <div class="mt-104 pay-directly-block box-shadow-regular rounded-l flex flex-row">
    <div class="ml-10 self-center mr-14">
      <smarti-button
        [text]="'הורידו'"
        [typeClass]="'confirm'"
        [customButtonWidth]="'105px'"
        [customHeight]="'42px'"
        (buttonClicked)="downloadPaymentExample()"
      ></smarti-button>
    </div>
    <div class="self-center mr-6 pay-directly-block__text">
      <div class="medium-text neutrals-text-950 dir-rtl">הורידו הנחיות לתשלום</div>
      <div class="paragraph-text neutrals-text-300 dir-rtl">
        בכדי לצפות בפרטי התשלום לחברות המנהלות וסכומי התשלום יש להוריד את הקובץ.
      </div>
    </div>
    <div class="bg-bright-turquoise-100 payment-instruction-block flex items-center self-center justify-center mr-6">
      <div class="payment-instructions-icon-48"></div>
    </div>
  </div>
  <ng-container *ngIf="!isFirstStep">
    <ng-container *ngTemplateOutlet="secondStepPaymentTemplate"></ng-container>
  </ng-container>
  <div
    class="flex justify-center mb-16"
    [ngClass]="{
      'mt-70-5': isFirstStep,
      'mt-24': !isFirstStep
    }"
  >
    <smarti-button
      [customWidth]="'215px'"
      [typeClass]="'confirm'"
      [text]="'Continue'"
      (buttonClicked)="continueStep(isFirstStep ? 'first' : 'second')"
    ></smarti-button>
  </div>
</div>

<ng-template #secondStepPaymentTemplate>
  <div class="mt-2 pay-directly-block box-shadow-regular rounded-l flex flex-row mb-70-5">
    <div class="ml-10 self-center mr-14">
      <smarti-button
        [text]="'שלחו'"
        [typeClass]="'confirm'"
        [customButtonWidth]="'105px'"
        [customHeight]="'42px'"
        (buttonClicked)="uploadPaymentExample()"
      ></smarti-button>
    </div>
    <div class="self-center mr-6 pay-directly-block__text">
      <div class="medium-text neutrals-text-950 dir-rtl">שלחו הנחיות לתשלום</div>
      <div class="paragraph-text neutrals-text-300 dir-rtl">בפעולה זו תוכלו לשלוח את ההנחיות לאנשי קשר</div>
    </div>
    <div class="bg-bright-turquoise-100 payment-instruction-block flex items-center self-center justify-center mr-6">
      <div class="send-2-icon-48"></div>
    </div>
  </div>
</ng-template>
