<div class="question-banner-block flex flex-col items-center">
  <h3 class="medium text-center mt-12 white-text margin-rl-auto mb-0">שאלות ומידע נוסף</h3>

  <div class="flex gap-4 mt-8">
    <smarti-input-field
      [placeholder]="'Phone number'"
      [customWidth]="'536px'"
    ></smarti-input-field>
    <smarti-input-field
      [placeholder]="'*Email address'"
      [customWidth]="'536px'"
    ></smarti-input-field>
    <smarti-input-field
      [placeholder]="'Your name'"
      [customWidth]="'536px'"
    ></smarti-input-field>
  </div>

  <smarti-button
    class="mt-12"
    [text]="'צרו קשר'"
    [typeClass]="'interaction'"
    [textColor]="'white'"
  ></smarti-button>
</div>
