<div class="question-banner-block h-[360px] flex flex-col items-center lt-lg-tablet:h-[460px]">
  <h3 class="medium text-center mt-12 white-text margin-rl-auto mb-0">לשאלות ומידע נוסף</h3>
  <div
    class="flex flex-row gap-4 mt-8 w-full gt-desktop:justify-center lt-lg-tablet:flex-col lt-lg-tablet:w-[calc(100%-32px)]"
  >
    <smarti-input-field
      class="w-full gt-tablet:ml-4 gt-desktop:w-[536px]"
      [placeholder]="'טלפון*'"
      [control]="phone"
    ></smarti-input-field>
    <smarti-input-field
      class="w-full gt-desktop:w-[536px]"
      [placeholder]="'מייל*'"
      [control]="email"
    ></smarti-input-field>
    <smarti-input-field
      class="w-full gt-tablet:ml-4mr-4 gt-desktop:w-[536px]"
      [placeholder]="'שם מלא*'"
      [control]="name"
    ></smarti-input-field>
  </div>

  <smarti-button
    class="mt-12"
    [text]="'צרו קשר'"
    [typeClass]="'interaction'"
    [textColor]="'white'"
    (buttonClicked)="sendCreateLeadRequest()"
  ></smarti-button>
</div>
