.all-headers {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.special-header {
  margin: 0 140px;
  height: 72px;
}

.button-trial {
  padding: 0 32px;
  height: 42px;
}

.header {
  margin: 0 140px;
  height: 72px;
}

.nav-block {
  margin: 0 40px;
}
