<!-- header for special offer -->
<div class="all-header">
  <div class="bg-green">
    <div class="special-header">
      <div class="special-header__left">
        <div class="button-close"></div>
        <div class="button-trial rounded-m border-neutrals-950">
          <div class="button-trial__icon-arrow-left"></div>
          <div class="button-trial__text">התחילו מסלול חינם</div>
        </div>
      </div>

     <smarti-clock-feature></smarti-clock-feature>

      <div class="special-header__right">מבצע: חודש ניסיון חינם</div>
    </div>
  </div>

  <div class="bg-header white-text bg-neutrals-950">
    <div class="header">
      <div class="header__left">
        <smarti-button
          [typeClass]="'confirm'"
          [text]="'התחברות'"
          [customWidth]="'168px'"
          [customHeight]="'42px'"
        ></smarti-button>
        <smarti-button
          style="margin-inline-start: 24px;"
          [typeClass]="'dark'"
          [text]="'הרשמה חינם'"
          [customWidth]="'168px'"
          [customHeight]="'42px'"
          [customBorder]="'1px solid white'"
        ></smarti-button>
      </div>
      <nav class="header__right">
        <!--      contact-->
        <a class="header__right-block cursor-pointer" appScrollAnchor="footer">צרו קשר</a>
        <!--      blog-->
        <a class="header__right-block cursor-pointer" appScrollAnchor="blog">בלוג</a>
        <!--      about-->
        <a class="header__right-block cursor-pointer" appScrollAnchor="banner">אודות</a>
        <!--      solution-->
        <a class="header__right-block cursor-pointer" appScrollAnchor="about">פתרונות</a>
        <a class="header__right-block-img cursor-pointer" appScrollAnchor="banner"></a>
      </nav>
    </div>
  </div>
</div>
