<!-- header for special offer -->
<div class="sticky top-0 z-[1000]">
  <div
    class="bg-green"
    id="specialHeader"
  >
    <div class="mobile:hidden flex justify-between items-center mx-[140px] mt-0 h-[72px] lg-tablet:mx-4 tablet:mx-2">
      <div class="flex justify-between gap-143px tablet:gap-6">
        <div
          class="close-circle-24 cursor-pointer"
          (click)="closeSpecialHeader()"
        ></div>
        <div
          class="py-0 px-8 tablet:px-2 h-[42px] flex gap-2 items-center rounded-m border-neutrals-950 cursor-pointer"
          (click)="navigateToPageWithoutAnchor(registrationLink)"
        >
          <div class="arrow-left-dark-16"></div>
          <div class="paragraph-text-extra">התחילו מסלול חינם</div>
        </div>
      </div>

      <smarti-clock-feature></smarti-clock-feature>

      <h4 class="medium">מבצע: חודש ניסיון חינם</h4>
    </div>

    <div class="gt-mobile:hidden flex flex-col">
      <div
        class="close-circle-24 cursor-pointer m-1"
        (click)="closeSpecialHeader()"
      ></div>
      <div class="paragraph-text-extra text-center">התחילו מסלול חינם</div>
      <div
        class="py-0 tablet:px-2 flex gap-2 self-center border-b border-black mt-5 mb-3"
        (click)="navigateToPageWithoutAnchor(registrationLink)"
      >
        <div class="arrow-left-dark-16"></div>
        <div class="paragraph-text-extra">התחילו מסלול חינם</div>
      </div>
    </div>
  </div>

  <!-- standard header -->
  <div class="white-text bg-neutrals-950 lt-lg-tablet:hidden">
    <div class="my-0 gt-lg-tablet:mx-[140px] mx-6 h-[72px] flex justify-between items-center">
      <div class="flex">
        <smarti-button
          [typeClass]="'confirm'"
          [text]="'התחברות'"
          [customWidth]="'168px'"
          [customHeight]="'42px'"
          [paragraphTextExtra]="true"
          (buttonClicked)="navigateToPageWithoutAnchor(loginLink)"
        ></smarti-button>
        <smarti-button
          class="margin-start-6"
          [typeClass]="'dark'"
          [text]="'הרשמה חינם'"
          [customWidth]="'168px'"
          [customHeight]="'42px'"
          [customBorder]="'1px solid white'"
          [paragraphTextExtra]="true"
          (buttonClicked)="navigateToPageWithoutAnchor(registrationLink)"
        ></smarti-button>
      </div>
      <nav class="flex">
        <a
          class="my-0 gt-lg-tablet:mx-[40px] mx-6 paragraph-text-light self-center cursor-pointer"
          (click)="navigateToPageWithoutAnchor(contactLink)"
        >
          צרו קשר
        </a>
        <!--      about-->
        <a
          class="my-0 gt-lg-tablet:mx-[40px] mx-6 paragraph-text-light self-center cursor-pointer"
          smartiScrollAnchor="banner"
          (click)="navigateToPageWithAnchor(mainLink, 'banner')"
        >
          אודות
        </a>
        <!--      solution-->
        <a
          class="my-0 gt-lg-tablet:mx-[40px] mx-6 paragraph-text-light self-center cursor-pointer"
          smartiScrollAnchor="about"
          (click)="navigateToPageWithAnchor(mainLink, 'about')"
        >
          פתרונות
        </a>
        <a
          class="logo-big-h33 margin-start-25 cursor-pointer"
          (click)="navigateToPageWithoutAnchor(mainLink)"
        ></a>
      </nav>
    </div>
  </div>
  <smarti-header-overlay-mobile
    class="gt-tablet:hidden bg-neutrals-950 flex flex-row justify-between px-8 py-6"
  ></smarti-header-overlay-mobile>
</div>
