.all-header {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.special-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 140px;
  height: 72px;

  &__right {
    font-size: 24px;
    font-family: RubikMedium, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    gap: 143px;
  }
}

.button-trial {
  padding: 0 32px;
  display: flex;
  gap: 8px;
  align-items: center;
  height: 42px;

  &__icon-arrow-left {
    background: url("/assets/svg/arrow-left-dark.svg");
    width: 16px;
    height: 16px;
  }

  &__text {
    font-size: 16px;
    font-family: RubikMedium, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 140px;
  height: 72px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  &__left, &__right {
    display: flex;
  }

  &__right-block {
    align-self: center;
    margin: 0 40px;
    font-size: 16px;
    font-family: RubikMedium, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    &-img {
      margin-inline-start: 100px;
      width: 157px;
      height: 33px;
      background: url("/assets/svg/logo-big.svg");
    }
  }

}
