<div class="flex flex-col">
  <h3 class="medium neutrals-text-950 mt-7 mb-0 text-center">טעינת קובץ</h3>
  <div class="paragraph-text text-center neutrals-text-950 margin-rl-auto w-584px">
    כדי להתחיל בתהליך הסליקה עליך להעלות קובץ XML (ממשק אחיד) מתוך מערכת השכר, לאחר סגירת המשכורות ולהטעינו על מנת
    להמשיך בתהליך, ניתן להעלות כמה קבצים במקביל.
  </div>
  <div class="file-upload mt-10 mb-16 self-center">
    <div class="paragraph-text neutrals-text-950">העלה קובץ XML</div>
    <smarti-input-file
      [customWidth]="'536px'"
      [customHeight]="'120px'"
      [control]="filesControl"
      [multiple]="true"
      (fileUploaded)="fileUploaded($event)"
    ></smarti-input-file>
  </div>
  <div
    *ngIf="isDocumentUploaded"
    class="mb-16"
  >
    <smarti-button
      [typeClass]="'confirm'"
      [text]="'המשך'"
      [customButtonWidth]="'168px'"
      [customHeight]="'42px'"
      (buttonClicked)="doChangeStep(dashboardDirectionEnum.Forward)"
    ></smarti-button>
  </div>
</div>
