<div class="dashboard-switcher-block flex flex-row bg-white rounded-xl">
  <smarti-custom-dropdown
    [customContent]="openDatesChooseContent"
    [isOpen]="isDatesDropdownOpen"
    (clickEvent)="openDatesChangeDropdown()"
    (activeZoneChangeEvent)="isActiveZoneDatesChanged($event)"
  >
    <div
      class="dashboard-switcher-block__item flex flex-row gap-2 rounded-2ls justify-end items-center cursor-pointer"
      [ngClass]="isDatesMode ? 'bg-neutrals-950' : 'bg-bright-turquoise-50'"
    >
      <smarti-radio-labeled
        class="mr-4"
        [dir]="'rtl'"
        [control]="datesControl"
        [size]="'l'"
        [item]="dates"
        [label]="'תאריכים'"
        [labelCustomClass]="isDatesMode ? 'white-text' : 'neutrals-text-950'"
        (click)="$event.preventDefault()"
      ></smarti-radio-labeled>
    </div>
  </smarti-custom-dropdown>
  <smarti-custom-dropdown
    [customContent]="openSalaryMonthChooseContent"
    [isOpen]="isSalaryMonthDropdownOpen"
    (clickEvent)="openSalaryMonthChangeDropdown()"
    (activeZoneChangeEvent)="isActiveZoneSalaryMonthChanged($event)"
  >
    <div
      class="dashboard-switcher-block__item flex flex-row gap-2 rounded-2ls justify-end items-center cursor-pointer"
      [ngClass]="isSalaryMonthMode ? 'bg-neutrals-950' : 'bg-bright-turquoise-50'"
    >
      <smarti-radio-labeled
        class="mr-4"
        [dir]="'rtl'"
        [control]="salaryMonthControl"
        [size]="'l'"
        [item]="salaryMonth"
        [label]="'חודש שכר'"
        [labelCustomClass]="isSalaryMonthMode ? 'white-text' : 'neutrals-text-950'"
        (click)="$event.preventDefault()"
      ></smarti-radio-labeled>
    </div>
  </smarti-custom-dropdown>
</div>

<ng-template #openDatesChooseContent>
  <div class="mr-10 ml-10 mt-6 mb-8">
    <div class="flex flex-row gap-6">
      <smarti-date-picker
        [customWidth]="'252px'"
        [placeholder]="' עד תאריך*'"
      ></smarti-date-picker>
      <smarti-date-picker
        [customWidth]="'252px'"
        [placeholder]="'מתאריך*'"
      ></smarti-date-picker>
    </div>
    <div class="margin-rl-auto mt-10">
      <smarti-button
        [customButtonWidth]="'168px'"
        [customHeight]="'42px'"
        [typeClass]="'confirm'"
        [text]="'סנן'"
        (buttonClicked)="openDatesChangeDropdown(true)"
      ></smarti-button>
    </div>
  </div>
</ng-template>

<ng-template #openSalaryMonthChooseContent>
  <div class="mr-10 ml-10 mt-6 mb-8">
    <div class="flex flex-row gap-6">
      <smarti-select
        [customWidth]="'252px'"
        [placeholder]="'חודש שכר*'"
      ></smarti-select>
      <smarti-select
        [customWidth]="'252px'"
        [placeholder]="'משנה*'"
      ></smarti-select>
    </div>
    <div class="paragraph-text neutrals-text-950 mt-2 mb-6 text-center w-full">עד</div>
    <div class="flex flex-row gap-6">
      <smarti-select
        [customWidth]="'252px'"
        [placeholder]="'חודש שכר*'"
      ></smarti-select>
      <smarti-select
        [customWidth]="'252px'"
        [placeholder]="'שנה*'"
      ></smarti-select>
    </div>
    <div class="margin-rl-auto mt-10">
      <smarti-button
        [customButtonWidth]="'168px'"
        [customHeight]="'42px'"
        [typeClass]="'confirm'"
        [text]="'סנן'"
        (buttonClicked)="openSalaryMonthChangeDropdown(true)"
      ></smarti-button>
    </div>
  </div>
</ng-template>
