<div class="selected-item" [class]="template" [ngClass]="{ 'error': error, 'selected-border': isSelectOpened, 'disabled': disabled }">
  <span
    [ngClass]="selectedItem ? 'selected-item-placeholder' : 'select-placeholder'"
    [@placeholder]="showSelectedItem && !selectedItem"
   >
		{{ placeholder }}{{required ? ' * ' : ''}}
	</span>
  <div *ngIf="selectedItem && multiple && showSelectedItem" class="pl-4 pr-3 multiple-selected-items">
		<span *ngFor="let item of selectedItem; let last = last">
			{{ last ? getLabel(item) : getLabel(item) + ',' }}
		</span>
  </div>
  <span class="selected text-truncate" [ngClass]="{ 'disabled': disabled }"
        *ngIf="selectedItem && getLabel(selectedItem) && !multiple && showSelectedItem">
		{{ getLabel(selectedItem) | truncate: (truncate ? 30 : (getLabel(selectedItem).length)) }}
	</span>
  <i class="fas fa-chevron-down f-12 mx-2"></i>
</div>
<div class="error-area">
  <p class="has-error" [@slideDown] *ngIf="error">
    {{errorMessage}}
  </p>
</div>
<div class="dropdown" #dropdown [@selectToggle] *ngIf="isSelectOpened"
     [ngClass]="{'direction-down': direction === 'down', 'direction-up': direction === 'up'}">
  <div class="filter-input" *ngIf="searchableProperties">
    <input (keyup)="filter()" [placeholder]="searchPlaceholder" [(ngModel)]="filterValue" class="w-100" #filterValueEle>
    <i class="fas fa-search"></i>
  </div>
  <ul class="select-options" [ngStyle]="{ 'maxHeight': optionsHeight }">
    <li *ngIf="enableSelectAll && !(items && items.length === 0)" class="option selectable"
        [ngClass]="{ 'selected': allItemsSelected }" (click)="selectAllItems()">
      {{ selectAllPlaceholder }}
    </li>
    <li *ngFor="let item of items" [value]="item[value]" class="option selectable"
        [ngClass]="{ 'selected': checkIsSelected(item) }" (click)="selectOption(item)">
      {{ getLabel(item) }}
    </li>
    <li *ngIf="items && items.length === 0" class="option">
      לא נמצאו תוצאות.
    </li>
  </ul>
</div>
