
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: $element-transparent;
}

:host {
	display: flex;
	flex-direction: column;
	position: relative;
	min-width: 140px;
	align-self: baseline;
}

.select-placeholder {
	margin: 0 10px;
	font-size: 16px;
	color: $text-title-on-light;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.selected-item-placeholder {
	position: absolute;
	margin-bottom: 75px !important;
}

.selected-item {
	display: flex;
	align-items: center;
	justify-items: flex-start;
	height: 60px;
	width: 100%;
	margin-top: 14px;
	border-radius: 12px;
	font-size: 16px;
	border: 1px solid #b9bfdf;
	background-color: $text-light;

	* {
		line-height: 1;
	}
	.selected {
		color: $text-title-on-light;
		max-width: 80%;
		min-width: 70%;
		width: 100%;
		text-align: start;
		display: block;
		line-height: 1.5;
		margin-right: 15px;
	}
}

.multiple-selected-items {
	height: 30px;
	overflow: hidden;
	width: 100%;
	span {
		display: inline-flex;
		align-items: center;
		height: 100%;
		margin-left: 3px;
	}
}

.selected-item, .filter-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.error-area {
	height: 14px;
}

.dropdown {
	position: absolute;
	background-color: #fff;
	width: 100%;
	z-index: 2;
	border-radius: 0 0 12px 12px;
	border: 1px solid $primary-on-light;
	box-shadow: 0 3px 10px #00000029;
	padding-bottom: 8px;
	bottom: 25px;
	transform: translateY(100%);
}

.filter-input {
	input {
		padding: 8px 4px;
		flex-grow: 1;
		border: none;
		outline: none;
		font-size: 18px;
		border-radius: 0 20px 0 0;
	}
	i {
		margin-left: 6px;
	}
}

.select-options {
	display: flex;
	flex-direction: column;
	overflow: auto;
	list-style-type: none;
	margin: 0 0 0 5px;
}

.option {
	color: black;
	text-align: start;
	padding: 7px;
	font-size: 16px;
	cursor: pointer;
	align-self: center;
	height: 52px;
	width: calc(100% - 5px);
	margin: 2px 0 2px 5px;
}

.option.selectable:hover, .option.selectable.selected {
	background-color: $forms-bkg-1;
}

.error {
	color: $danger !important;
	border-color: $danger !important;
}

.has-error {
	color: $danger;
	font-size: 12px;
	line-height: .9;
}

.fa-chevron-down {
	transition: transform .2s ease-in-out;
	color: $background-dark;
}

.selected-border{
	border-color: $primary-on-light;
	box-shadow: 0 3px 10px #00000029;
	.fa-chevron-down {
		transform: rotate(180deg);
	}
	& > .select-placeholder {
		color: $text-dark-field;
	}
}
.disabled {
	background-color: $forms-bkg-2 !important;
	color: #A9A9A9 !important;
}

.disabled .error {
	border-bottom-color: $danger !important;
}


//////// secondary /////////
.selected-item.secondary {
	border: none;
	background-color: transparent;
	border-radius: 8px;

	.selected, .fa-chevron-down {
		font-weight: 700;
		color: $text-light;
	}

	&:has(~ .dropdown) {
		background-color: $primary2;
	}

	& ~ .dropdown {
		background-color: $primary2;
		border-radius: 0 0 8px 8px;
		border: none;
		box-shadow: none;

		.option.selectable:hover, .option.selectable.selected {
			background-color: transparent;
		}

		.filter-input input {
			background-color: $primary2;
		}

		::placeholder {
			color: $text-light;
		}

		.option {
			color: $text-light;
		}
	}
}


///////////////////////////

@include media-query-max($mq-lg) {
	.selected-item {
		height: 48px;
		font-size: 14px;
	}

	.select-placeholder {
		font-size: 14px;
	}
}
