<div class="bg-neutral-20">
  <smarti-header-auth-layout [haveLeftBLock]="false"></smarti-header-auth-layout>
  <div class="width-full-hd margin-0-auto">
    <div class="flex justify-between">
      <div class="puzzle-with-people-img"></div>
      <h1 class="medium text-right self-center neutrals-text-950">
        Reset your password
      </h1>
    </div>
    <smarti-reset-password-form></smarti-reset-password-form>
  </div>
  <smarti-contact-us-footer-layout></smarti-contact-us-footer-layout>
</div>