<div class="flex flex-col items-center">
  <h3 class="medium neutrals-text-950 mb-0 mt-0">הוספת מסמך</h3>
  <div class="mt-8">
    <smarti-select
      [placeholder]="'סוג מסמך'"
      [customWidth]="'536px'"
      [options]="documentTypeOption"
      [control]="documentTypeControl"
    ></smarti-select>
  </div>
  <div class="mt-8">
    <smarti-input-field
      [placeholder]="'Description'"
      [customWidth]="'536px'"
      [control]="descriptionControl"
    ></smarti-input-field>
  </div>
  <div class="mt-8">
    <div class="paragraph-text neutrals-text-950">העלה קובץ XML</div>
    <smarti-input-file
      [customWidth]="'536px'"
      [customHeight]="'120px'"
      [control]="filesControl"
      (fileUploaded)="fileUploaded($event)"
    ></smarti-input-file>
  </div>
  <div class="mt-10">
    <smarti-button
      [text]="'Action'"
      [customButtonWidth]="'232px'"
      [customHeight]="'56px'"
      [typeClass]="'confirm'"
      [disabled]="!isDocumentUploaded"
      (buttonClicked)="onAddFileClick()"
    ></smarti-button>
  </div>
</div>
<button
  class="close-dialog-left close-cross-24 cursor-pointer"
  (click)="closeDialog()"
></button>
