<div class="mt-10 flex flex-col items-center">
  <h3 class="medium mt-10 mb-0 text-center neutrals-text-950">יש לאשר את כתובת האימייל שהזנת</h3>
  <div class="email-text-block mt-20 neutrals-text-950 text-center margin-rl-auto">
    <div class="regular-text dir-rtl">נשלח קוד אימות למייל:</div>
    <div class="medium-text neutrals-text-950">{{ currentEmail }}</div>
    <div class="regular-text dir-rtl mt-6">יש לכתוב את קוד האימות שנשלח למייל כאן:</div>
  </div>
  <div
    class="margin-rl-auto neutrals-text-950 text-center gt-lg-tablet:mt-20 lt-lg-tablet:mt-8"
    [formGroup]="verifyEmailInfo"
  >
    <smarti-input-number
      [centerVerify]="true"
      [customWidth]="customWidth"
      [control]="verifyEmailInfo.controls.emailVerifyCode"
      [maxLength]="6"
    ></smarti-input-number>
  </div>
  <div
    class="mt-7 mx-auto paragraph-text-medium underline bright-turquoise-text-500 text-center cursor-pointer"
    (click)="sendVerifyCode()"
  >
    לא קיבלתי קוד, תשלחו לי שוב
  </div>
  <smarti-button
    class="mt-28 mb-4"
    [typeClass]="'confirm'"
    (buttonClicked)="navigateToLoginPage()"
    [text]="'אישור'"
    [disabled]="isDisabled"
    [customWidth]="'147px'"
    [customHeight]="'56px'"
  ></smarti-button>
</div>
