<div class="p-6">
  <smarti-tabs
    [firstButtonText]="'סגור'"
    [secondButtonText]="'בטיפול'"
    [thirdButtonText]="'פתוח'"
    [fourthButtonText]="'כלל הסטטוסים'"
    [activeItemIndex]="activeItemIndex"
    (activeItemIndexChange)="onChangeActiveTabIndex($event)"
  ></smarti-tabs>
  <div class="flex flex-col gap-4 mt-6">
    <ng-container [ngSwitch]="activeItemIndex">
      <ng-container *ngSwitchCase="0">
        <smarti-dashboard-chat-list-item
          [chatsItems]="onFilteredChatItems('סגור')"
          (activeChatIdChange)="setChatActive($event)"
        ></smarti-dashboard-chat-list-item>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <smarti-dashboard-chat-list-item
          [chatsItems]="onFilteredChatItems('בטיפול')"
          (activeChatIdChange)="setChatActive($event)"
        ></smarti-dashboard-chat-list-item>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <smarti-dashboard-chat-list-item
          [chatsItems]="onFilteredChatItems('פתוח')"
          (activeChatIdChange)="setChatActive($event)"
        ></smarti-dashboard-chat-list-item>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <smarti-dashboard-chat-list-item
          [chatsItems]="onFilteredChatItems('all')"
          (activeChatIdChange)="setChatActive($event)"
        ></smarti-dashboard-chat-list-item>
      </ng-container>
    </ng-container>
  </div>
</div>
