<tui-files>
  <div *ngFor="let file of control.valueChanges | async">
    <tui-file
      [ngClass]="file.isLoading ? 'hidden' : 'block'"
      class="file-uploaded"
      [file]="file"
      [showSize]="false"
      [leftContent]="icon"
      [showDelete]="false"
    >
      <div
        class="close-circle-24 remove-file-icon cursor-pointer"
        (click)="removeFile(file)"
      ></div>
    </tui-file>
    <ng-container *ngIf="file.isLoading">
      <ng-container *ngTemplateOutlet="fileLoadingTemplate"></ng-container>
    </ng-container>
  </div>
</tui-files>

<tui-input-files
  *ngIf="!fileUploaded.value || !isSecondFileUpload"
  class="box-shadow-big"
  [formControl]="control"
  [style.width]="customWidth"
  [style.height]="customHeight"
>
  <input
    tuiInputFiles
    [multiple]="true"
    type="file"
    [accept]="accept"
  />
  <ng-template let-dragged>
    <div
      *ngIf="dragged; else base"
      class="flex flex-col"
    >
      <div class="flex gap-4 mt-2">
        <div class="paragraph-text self-end neutrals-text-950">באפשרותך לגרור קובץ לכאן</div>
        <div class="drag-and-drop-icon"></div>
      </div>
      <div class="caption-text neutrals-text-500 mt-1">או</div>
      <button
        class="flex gap-2 justify-center items-center self-center mt-1 rounded-l bright-turquoise-text-500 bg-neutrals-20 border-0 py-3 px-8"
      >
        <div class="text-center paragraph-text-extra">לבחור מכאן קובץ</div>
        <div class="upload-file-icon-16"></div>
      </button>
    </div>
  </ng-template>
  <ng-template #base>
    <div class="flex flex-col">
      <div class="flex gap-4 mt-2">
        <div class="paragraph-text self-end neutrals-text-950">באפשרותך לגרור קובץ לכאן</div>
        <div class="drag-and-drop-icon"></div>
      </div>
      <div class="caption-text neutrals-text-500 mt-1">או</div>
      <button
        class="flex gap-2 justify-center items-center self-center mt-1 rounded-l bright-turquoise-text-500 bg-neutrals-20 border-0 py-3 px-8"
      >
        <div class="text-center paragraph-text-extra">לבחור מכאן קובץ</div>
        <div class="upload-file-icon-16"></div>
      </button>
    </div>
  </ng-template>
</tui-input-files>

<div
  *ngIf="isSecondFileUpload"
  class="mx-auto mt-6 w-fit"
>
  <label
    for="files"
    class="underline paragraph-text neutrals-text-950 text-center cursor-pointer"
  >
    <input
      #file
      id="files"
      type="file"
      class="hidden"
      [multiple]="true"
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .dat, .xml, .xlsx, .xls"
      (change)="uploadSecondFile(file)"
    />
    לצירוף קובץ נוסף
  </label>
</div>
<ng-template #icon>
  <div class="document-icon-32"></div>
</ng-template>

<ng-template #fileLoadingTemplate>
  <div class="loading-file-block box-shadow-big rounded-l bg-white h-[122px] flex flex-row justify-center items-center">
    <div class="flex flex-row justify-center items-center gap-8">
      <div class="block-32px">
        <tui-loader></tui-loader>
      </div>
      <div class="bright-turquoise-text-500 paragraph-text">Uploading...</div>
    </div>
  </div>
</ng-template>
