.upload-button {
  width: 181px;
  height: 42px;
  border: 0;

  .svg-uploaded {
    background: url("/assets/svg/upload-file.svg");
    width: 16px;
    height: 16px;
  }
}

.drag-and-drop__svg {
  background: url("/assets/svg/drag-and-drop.svg");
  width: 40px;
  height: 32px;
}

.file-uploaded {
  width: 536px;
  height: 88px;
  padding: 28px;
}

.document-icon {
  background: url("/assets/svg/document-text.svg");
  width: 32px;
  height: 32px;
}

.remove-file-icon {
  position: absolute;
  right: 28px;
}