<tui-files>
  <tui-file
    *ngFor="let file of control.valueChanges | async"
    class="file-uploaded"
    [file]="file"
    [leftContent]="icon"
    [showDelete]="false"
    [state]="isLoading"
  >
    <div
      class="close-circle-24 remove-file-icon cursor-pointer"
      (click)="removeFile(file)"
    ></div>
  </tui-file>
</tui-files>

<div
  *ngIf="fileUploaded.value && multiple"
  class="mt-10 paragraph-text text-center"
>
  You can upload multi files here
</div>
<div
  *ngIf="fileUploaded.value && multiple"
  class="paragraph-text neutrals-text-950"
>
  Attach more XML files
</div>
<tui-input-files
  *ngIf="!fileUploaded.value || multiple"
  class="box-shadow-big"
  [formControl]="control"
  [style.width]="customWidth"
  [style.height]="customHeight"
>
  <input
    tuiInputFiles
    [multiple]="true"
    type="file"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  />
  <ng-template let-dragged>
    <div
      *ngIf="dragged; else base"
      class="flex flex-col"
    >
      <div class="flex gap-1">
        <div class="drag-and-drop__svg"></div>
        <div class="paragraph-text self-center neutrals-text-950">Drag & Drop file</div>
      </div>
      <div class="caption-text neutrals-text-500">or</div>
      <button
        class="upload-button mt-2 text-center paragraph-text-extra rounded-l bright-turquoise-text-500 bg-neutrals-20 items-center flex gap-2 justify-center"
      >
        <div class="upload-file-icon-16"></div>
        <div>Browse files</div>
      </button>
    </div>
  </ng-template>
  <ng-template #base>
    <div class="flex flex-col">
      <div class="flex gap-1">
        <div class="drag-and-drop__svg"></div>
        <div class="paragraph-text self-center neutrals-text-950">Drag & Drop file</div>
      </div>
      <div class="caption-text neutrals-text-500">or</div>
      <button
        class="upload-button mt-2 text-center paragraph-text-extra rounded-l bright-turquoise-text-500 bg-neutrals-20 items-center flex gap-2 justify-center"
      >
        <div class="upload-file-icon-16"></div>
        <div>Browse files</div>
      </button>
    </div>
  </ng-template>
</tui-input-files>
<div
  *ngIf="!fileUploaded.value && multiple"
  class="mt-10 paragraph-text text-center"
>
  You can upload multi files here
</div>

<ng-template #icon>
  <div class="document-icon-32"></div>
</ng-template>
