.upload-button {
  width: 181px;
  height: 42px;
  border: 0;
}

.drag-and-drop__svg {
  background: url("/assets/svg/drag-and-drop.svg");
  width: 40px;
  height: 32px;
}

.file-uploaded {
  height: 88px;
  padding: 28px;
  margin-bottom: 8px;
}

.remove-file-icon {
  position: absolute;
  right: 28px;
}