<div
  class="rounded-m bg-neutrals-20 flex flex-col"
  [ngClass]="hasFile ? 'notify-with-file' : 'notify-standard'"
>
  <div class="flex flex-row">
    <div
      class="new-notify-icon rounded-full"
      [ngClass]="!isNotificationRead ? 'bg-blue-base-600' : 'bg-neutrals-20'"
    ></div>
    <div class="notify-text mt-4 mr-4 dir-rtl paragraph-text neutrals-text-950">
      You reserved new confirmation of process
    </div>
  </div>
  <div
    *ngIf="hasFile"
    class="mt-2 self-end mr-6"
  >
    <smarti-button
      [customHeight]="'24px'"
      [customButtonWidth]="'126px'"
      [customBorderRadius]="'12px'"
      [text]="'Download file'"
      [typeClass]="'confirm'"
      [buttonTextSmall]="true"
      [hasFileIcon]="true"
      (buttonClicked)="downloadFile()"
    ></smarti-button>
  </div>
</div>
