.notify-with-file {
  margin-right: 32px;
  margin-top: 24px;
  width: 268px;
  height: 112px;
}

.notify-standard {
  margin-right: 32px;
  margin-top: 24px;
  width: 268px;
  height: 80px;
}

.new-notify-icon {
  width: 12px;
  height: 12px;
  margin-top: 16px;
  margin-left: 16px;
}

.notify-text {
  width: 214px;
  height: 56px;
  padding-left: 8px;
}
