.trash-icon {
  background: url("/assets/svg/trash-icon.svg");
  width: 24px;
  height: 24px;
}

.direct-inbox-icon {
  background: url("/assets/svg/direct-inbox-icon.svg");
  width: 24px;
  height: 24px;
}

.message-notify-icon {
  background: url("/assets/svg/message-notify-icon.svg");
  width: 24px;
  height: 24px;
}

.briefcase-icon {
  background: url("/assets/svg/briefcase-icon.svg");
  width: 16px;
  height: 16px;
}

.arrow-down-icon {
  background: url("/assets/svg/arrow-down-16.svg");
  width: 16px;
  height: 16px;
}

.process-table {
  border-collapse: separate;
  border-spacing: 0 24px;
}