<div class="flex flex-col justify-between h-full">
  <div
    *ngIf="items?.length; else loadingTemplate"
    class="mt-10 ml-7-5 mr-10 inline-block flex-1"
  >
    <table class="tui-table tui-table_layout_fixed process-table">
      <tbody>
        <tr class="tui-table__tr tui-table__tr_border_none bg-neutrals-20 mb-6">
          <th
            class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-4 w-36"
            colspan="2"
          >
            פעולות
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-4 w-36">הערות</th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0 w-36">
            <div class="flex flex-row cursor-pointer justify-around">
              <div class="arrow-down-icon-16"></div>
              <div>סטטוס תהליך</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0 w-36">
            <div class="flex flex-row cursor-pointer justify-around">
              <div class="arrow-down-icon-16"></div>
              <div>סכום</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0 w-36">
            <div class="flex flex-row cursor-pointer justify-around">
              <div class="arrow-down-icon-16"></div>
              <div>חודש שכר</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0 w-36">
            <div class="flex flex-row cursor-pointer justify-around">
              <div class="arrow-down-icon-16"></div>
              <div>מנהל תיק</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0 w-36">
            <div class="flex flex-row cursor-pointer justify-around">
              <div class="arrow-down-icon-16"></div>
              <div>שם מחלקה</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0 w-36">
            <div class="flex flex-row cursor-pointer justify-around">
              <div class="arrow-down-icon-16"></div>
              <div>שם מעסיק</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0 w-36">
            <div class="flex flex-row cursor-pointer justify-around">
              <div class="arrow-down-icon-16"></div>
              <div>שם תהליך</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0 w-36">
            <div class="flex flex-row cursor-pointer justify-around">
              <div class="arrow-down-icon-16"></div>
              <div>תאריך שידור</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-0 w-36">
            <div class="flex flex-row cursor-pointer justify-around">
              <div class="arrow-down-icon-16"></div>
              <div>תאריך טעינה</div>
            </div>
          </th>
          <th class="tui-table__th text-right caption-text neutrals-text-500 h-6 py-0 px-2 w-9">
            <smarti-input-checkbox
              [checked]="isSelectedAll"
              (changeEvent)="checkAll($event)"
            ></smarti-input-checkbox>
          </th>
        </tr>
        <tr
          *ngFor="let item of items; let index = index"
          class="tui-table__tr tui-table__tr_border_none mb-6 cursor-pointer"
          (click)="openDetailInformation()"
        >
          <td
            class="tui-table__td h-10 p-2 px-0"
            (click)="deleteProcessItem($event, item.id)"
          >
            <div class="trash-icon-24 cursor-pointer margin-rl-auto"></div>
          </td>
          <td class="tui-table__td h-10 p-2 px-0">
            <div class="direct-inbox-icon-24 cursor-pointer margin-rl-auto"></div>
          </td>
          <td class="tui-table__td h-10 p-2 px-0">
            <div class="message-notify-icon-24 cursor-pointer margin-rl-auto"></div>
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-0">
            {{ item.status_process }}
          </td>
          <td class="tui-table__td text-center paragraph-text bold-text neutrals-text-500 h-10 p-2 px-0">
            {{ item.total }}
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-0">
            {{ item.transmit_date ?? "--" }}
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-0">
            {{ item.operator_name }}
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-0">
            {{ item.department_name }}
          </td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-0">
            {{ item.organization_name }}
          </td>
          <td
            class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-0"
            [innerHTML]="separateWordsBySpace(item.name)"
          ></td>
          <td class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 px-0">
            {{ item.created_at }}
          </td>
          <td class="tui-table__td paragraph-text neutrals-text-500 h-10 p-2 px-0">
            <div class="flex flex-row justify-end gap-4 mr-2">
              <div>{{ item.date }}</div>
              <div class="briefcase-icon-16"></div>
            </div>
          </td>
          <td
            class="tui-table__td text-center paragraph-text neutrals-text-500 h-10 p-2 w-9 px-2"
            (click)="preventParentClick($event)"
          >
            <smarti-input-checkbox (changeEvent)="checkRow($event, index)"></smarti-input-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="flex flex-row justify-center mb-4"
    *ngIf="!!items && items.length > 6"
  >
    <smarti-table-pagination
      [total]="items.length"
      [items]="6"
    ></smarti-table-pagination>
  </div>
</div>

<ng-template #loadingTemplate>
  <smarti-loader
    [size]="'xl'"
    [paddingTop15percent]="true"
  ></smarti-loader>
</ng-template>
