<div
  class="footer"
  smartiScrollSection="footer"
>
  <div class="flex">
    <div class="logo-big-h33 margin-start-auto mt-16"></div>
  </div>
  <div class="flex justify-between mt-10">
    <div class="footer__info-item">
      <h4 class="medium dir-rtl white-text mt-0 mb-0">צרו קשר</h4>
      <div class="paragraph-text dir-rtl white-text mt-6">
        <div>03-6549300 | 03-5228825</div>
        <div>office@smarti.com</div>
      </div>
    </div>
    <div class="footer__info-item">
      <h4 class="medium dir-rtl white-text mt-0 mb-0">תמיכה</h4>
      <div class="paragraph-text dir-rtl white-text mt-6">תנאי שימוש</div>
      <div class="paragraph-text dir-rtl white-text">מידניות הפרטיות</div>
    </div>
    <div class="footer__info-item">
      <h4 class="medium dir-rtl white-text mt-0 mb-0">פתרונות</h4>
      <div class="paragraph-text dir-rtl white-text mt-6">הכנה ל-161</div>
      <div class="paragraph-text dir-rtl white-text">דוח שנתי</div>
      <div class="paragraph-text dir-rtl white-text">ניהול פנסיוני שוטף</div>
    </div>
    <div class="footer__info-item">
      <h4 class="medium dir-rtl white-text mt-0 mb-0">Smarti</h4>
      <div class="paragraph-text dir-rtl white-text mt-6">בלוג</div>
      <div class="paragraph-text dir-rtl white-text">אודות</div>
      <div class="paragraph-text dir-rtl white-text">חבילות</div>
    </div>
  </div>
  <div class="footer__links flex flex-col justify-start">
    <h4 class="medium dir-rtl white-text mt-0 mb-0 margin-start-auto">עקוב אחרינו</h4>
    <div class="footer__links__items flex justify-end gap-6 mt-2">
      <div class="twitter-link-32"></div>
      <div class="facebook-link-32"></div>
      <div class="linkedin-link-32"></div>
    </div>
  </div>
  <div class="mt-32 flex flex-row justify-center white-text paragraph-text-medium">Ver {{ version }}</div>
</div>
