<div class="footer">
  <div class="flex flex-row mt-5 mb-8 gap-225px">
    <div class="logo-big-h33"></div>
    <div class="footer-link-text dir-rtl white-text ml-150 self-end">צרו קשר</div>
    <div class="footer-link-text dir-rtl white-text self-end">תמיכה</div>
    <div class="footer-link-text dir-rtl white-text self-end">פתרונות</div>
  </div>
</div>
<div class="relative bg-neutrals-20 mb-5 flex flex-row justify-center gap-150px h-15">
  <div class="flex flex-row gap-6 mt-5">
    <div class="linkedin-black-link-black-22 cursor-pointer"></div>
    <div class="facebook-square-link-black-22 cursor-pointer"></div>
    <div class="instagram-link-black-22 cursor-pointer"></div>
  </div>
  <div class="mt-5 paragraph-text neutrals-text-950">רחוב התע״ש 10, רמת גן</div>
  <div class="mt-5 paragraph-text neutrals-text-950">office@smarti.com</div>
  <div class="mt-5 paragraph-text neutrals-text-950">03-6549300 | 03-5228825</div>
  <div
    class="absolute neutrals-text-950 paragraph-text-medium"
    style="right: 10px; top: 20px"
  >
    Ver {{ version }}
  </div>
</div>
