.last-payment-grid {
  grid-template-rows: 192px;
  grid-template-columns: 450px auto;

  &__image {
    position: absolute;
    background: url("/assets/svg/dashboard-background.svg");
    width: 292px;
    height: 192px;
  }

  &__text {
    width: 335px;
  }
}
