<div class="last-payment-grid grid gap-6 mt-7">
  <div class="bg-neutrals-950 rounded-l">
    <div class="last-payment-grid__image"></div>
    <div class="last-payment-grid__text medium-text white-text text-right mt-4 mr-4 ml-auto">
      Save your time and avoid mistakes ain handling multiple pension providers and employees in your organization
    </div>
    <div class="ml-4 mt-2 w-fit-content">
      <smarti-button
        [text]="'תהליך חדש'"
        [customHeight]="'42px'"
        [customButtonWidth]="'168px'"
        [typeClass]="'confirm'"
        [isNeedZIndex]="true"
      ></smarti-button>
    </div>
  </div>
  <div class="bg-neutrals-950 rounded-l">
    <div class="last-payment-grid__image"></div>
    <h3 class="medium white-text text-right mt-4 mb-0 mr-6 ml-auto">תשלום אחרון</h3>
    <div
      class="flex flex-row justify-between ml-150 mt-5 mr-6 gap-8"
      *ngFor="let payment of lastPayment"
    >
      <div class="success-notification-icon-24"></div>
      <div class="medium-text white-text dir-rtl">{{ payment.total }}</div>
      <div class="neutrals-text-100 regular-text dir-rtl">
        {{ getMonthAndDateFromStringDate("yyyy-mm-dd", payment.date) }}
      </div>
      <div class="pumpkin-text-400 regular-text">
        {{ getYearFromStringDate("yyyy-mm-dd", payment.date) + " " + mainText }}
      </div>
    </div>
  </div>
</div>
