<div class="mt-104">
  <div class="smarti-heading-text bright-turquoise-text-500">רוצים לייעל את ניהול העובדים שלכם?</div>
  <div class="smarti-describing-text white-text">
    <div class="dir-rtl">כל הכלים המתאימים שיאפשרו לכם</div>
    <div>ניהול משאבי אנוש בתהליכים דיגיטליים מתקדמים ביותר</div>
  </div>
  <div class="flex justify-center gap-171px">
    <div class="employee-management-left">
      <div
        class="employee-management-left__item flex gap-136px rounded-l border-neutrals-800 bg-neutrals-900 cursor-pointer"
        (click)="openLeadsDialog(firstLeadsDialogTemplate)"
      >
        <div class="employee-management-left__item__button flex justify-center rounded-m bg-pumpkin-400">
          <div class="send-icon-28 self-center"></div>
        </div>
        <h4 class="employee-management-left__item__text dir-rtl medium white-text">
          שליחת טפסי 101 ישירות לעובדים לנייד
        </h4>
      </div>

      <div
        class="employee-management-left__item flex gap-136px rounded-l border-neutrals-800 bg-neutrals-900 mt-20 cursor-pointer"
        (click)="openLeadsDialog(secondLeadsDialogTemplate)"
      >
        <div class="employee-management-left__item__button flex justify-center rounded-m bg-pumpkin-400">
          <div class="send-icon-28 self-center"></div>
        </div>
        <h4 class="employee-management-left__item__text dir-rtl medium white-text">
          אפשרות בחירת מוצר פנסיוני על ידי העובד
        </h4>
      </div>

      <div
        class="employee-management-left__item flex gap-136px rounded-l border-neutrals-800 bg-neutrals-900 mt-20 cursor-pointer"
        (click)="openLeadsDialog(thirdLeadsDialogTemplate)"
      >
        <div class="employee-management-left__item__button flex justify-center rounded-m bg-pumpkin-400">
          <div class="send-icon-28 self-center"></div>
        </div>
        <h4 class="employee-management-left__item__text dir-rtl medium white-text">העלאת תלושי שכר לכלל העובדים</h4>
      </div>
    </div>
    <div class="employee-management-right"></div>
  </div>
</div>

<ng-template
  #firstLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="'מעוניינים לשלוח טפסי 101 ישירות לעובדים ניידים?'"
    [descriptionText]="firstLeadsDialogDescription"
    [headerFormText]="'מעוניינים לשלוח טפסי 101 ישירות לעובדים ניידים?'"
    [descriptionFormText]="'Send us your contact information and we will contact you as soon as possible'"
    [backgroundImage]="'/assets/img/rounded-send-101-form-img.png'"
    [haveCloseIcon]="true"
    [leadType]="'private_area'"
  ></smarti-leads-dialog>
</ng-template>

<ng-template
  #secondLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="'אפשרות לעובדים לבחור מוצרים פנסיונים'"
    [descriptionText]="firstLeadsDialogDescription"
    [headerFormText]="'האם אתה מעוניין באפשרות של עובדים לבחור מוצרים פנסיוניים?'"
    [descriptionFormText]="'Send us your contact information and we will contact you as soon as possible'"
    [backgroundImage]="'/assets/img/rounded-pension-products-img.png'"
    [haveCloseIcon]="true"
    [leadType]="'private_area'"
  ></smarti-leads-dialog>
</ng-template>

<ng-template
  #thirdLeadsDialogTemplate
  let-observer
>
  <smarti-leads-dialog
    [observer]="observer"
    [headerText]="'העלאת תלושי שכר לכלל העובדים'"
    [descriptionText]="firstLeadsDialogDescription"
    [headerFormText]="'מעוניינים להעלות תלושי שכר לכל העובדים?'"
    [descriptionFormText]="'Send us your contact information and we will contact you as soon as possible'"
    [backgroundImage]="'/assets/img/rounded-payslips-employees-img.png'"
    [haveCloseIcon]="true"
    [leadType]="'private_area'"
  ></smarti-leads-dialog>
</ng-template>
