<div class="mt-104">
  <div class="smarti-heading-text bright-turquoise-text-500">
    רוצים ליעל את ניהול העובדים שלכם?
  </div>
  <div class="smarti-describing-text white-text">
    כל הכלים המתאימים שיאפשרו לכם זאת<br/>
    ניהול משאבי אנוש בתהליכים דיגיטליים מתקדמים ביותר
  </div>
  <div class="employee-management">
    <div class="employee-management__left">
      <div class="employee-management__left__item rounded-l border-neutrals-800 bg-neutrals-900">
        <div class="employee-management__left__item-button rounded-m bg-pumpkin-400">
          <div class="icon-arrow-left-top"></div>
        </div>
        <div class="employee-management__left__item-text white-text">
          שליחת טפסי 101 ישירות לעובדים לנייד
        </div>
      </div>
      <div class="employee-management__left__item rounded-l border-neutrals-800 bg-neutrals-900 mt-20">
        <div class="employee-management__left__item-button rounded-m bg-pumpkin-400">
          <div class="icon-arrow-left-top"></div>
        </div>
        <div class="employee-management__left__item-text white-text">
          אפשרות לעובדים לבחור מוצרים פנסיונים
        </div>
      </div>
      <div class="employee-management__left__item rounded-l border-neutrals-800 bg-neutrals-900 mt-20">
        <div class="employee-management__left__item-button rounded-m bg-pumpkin-400">
          <div class="icon-arrow-left-top"></div>
        </div>
        <div class="employee-management__left__item-text white-text">
          העלאת תלושי שכר לכלל העובדים
        </div>
      </div>
    </div>
    <div class="employee-management__right"></div>
  </div>
</div>
