<div class="mt-104">
  <div class="smarti-heading-text bright-turquoise-text-500">
    רוצים ליעל את ניהול העובדים שלכם?
  </div>
  <div class="smarti-describing-text white-text">
    כל הכלים המתאימים שיאפשרו לכם זאת<br/>
    ניהול משאבי אנוש בתהליכים דיגיטליים מתקדמים ביותר
  </div>
  <div class="flex justify-center gap-171px">
    <div class="employee-management-left">
      <div class="employee-management-left__item flex gap-136px rounded-l border-neutrals-800 bg-neutrals-900">
        <div class="employee-management-left__item__button flex justify-center rounded-m bg-pumpkin-400">
          <div class="icon-arrow-left-top"></div>
        </div>
        <h4 class="employee-management-left__item__text rtl medium white-text">
          שליחת טפסי 101 ישירות לעובדים לנייד
        </h4>
      </div>
      <div class="employee-management-left__item flex gap-136px rounded-l border-neutrals-800 bg-neutrals-900 mt-20">
        <div class="employee-management-left__item__button flex justify-center rounded-m bg-pumpkin-400">
          <div class="icon-arrow-left-top"></div>
        </div>
        <h4 class="employee-management-left__item__text rtl medium white-text">
          אפשרות לעובדים לבחור מוצרים פנסיונים
        </h4>
      </div>
      <div class="employee-management-left__item flex gap-136px rounded-l border-neutrals-800 bg-neutrals-900 mt-20">
        <div class="employee-management-left__item__button flex justify-center rounded-m bg-pumpkin-400">
          <div class="icon-arrow-left-top"></div>
        </div>
        <h4 class="employee-management-left__item__text rtl medium white-text">
          העלאת תלושי שכר לכלל העובדים
        </h4>
      </div>
    </div>
    <div class="employee-management-right"></div>
  </div>
</div>
