<div [ngClass]="{ 'flex justify-between': isHorizontal, 'big-radio': customClass === 'big' }">
  <tui-radio-labeled
    [formControl]="radioValue"
    [item]="items[0]"
    (change)="changeValue(items[0].name)"
  >
    <div class="flex flex-row gap-4">
      <div
        class="dir-rtl"
        [innerHTML]="labelFirstText"
      ></div>
      <div *ngIf="hasTooltipInfoFirstIcon">
        <div
          class="info-black-icon-24"
          [tuiHint]="tooltipFirstTemplate"
        ></div>
      </div>
    </div>
  </tui-radio-labeled>
  <tui-radio-labeled
    [ngClass]="{
      'mt-0': isHorizontal,
      'mt-6': !isHorizontal
    }"
    [formControl]="radioValue"
    [item]="items[1]"
    (change)="changeValue(items[1].name)"
  >
    <div class="flex flex-row gap-4">
      <div
        class="dir-rtl"
        [innerHTML]="labelSecondText"
      ></div>
      <div *ngIf="hasTooltipInfoSecondIcon">
        <div
          class="info-black-icon-24"
          [tuiHint]="tooltipSecondTemplate"
        ></div>
      </div>
    </div>
  </tui-radio-labeled>
</div>

<ng-template #tooltipFirstTemplate>
  <div class="tooltip-text">
    <ng-container *ngTemplateOutlet="infoTooltipFirstText"></ng-container>
  </div>
</ng-template>
<ng-template #tooltipSecondTemplate>
  <div class="tooltip-text">
    <ng-container *ngTemplateOutlet="infoTooltipSecondText"></ng-container>
  </div>
</ng-template>
