<ng-container [ngSwitch]="currentStep$ | async">
  <smarti-verify-step
    *ngSwitchCase="'verifyStep'"
    [startingForm]="userForm.get('verifyStep')?.value"
    (subformInitialized)="subformInitialized('verifyStep', $event)"
    (changeStep)="changeStep('verifyStep', $event)"
  ></smarti-verify-step>
  <smarti-set-new-password
    *ngSwitchCase="'setPasswordStep'"
    [startingForm]="userForm.get('setPasswordStep')?.value"
    (subformInitialized)="subformInitialized('setPasswordStep', $event)"
  ></smarti-set-new-password>
</ng-container>