.happy-user-img {
  background: url("/assets/img/happy-user.png");
  background-size: cover;
}

.mask-group-97 {
  background: url("/assets/img/mask-group-97.png");
  width: 88px;
  height: 88px;
}

.mask-group-98 {
  background: url("/assets/img/mask-group-98.png");
  width: 88px;
  height: 88px;
}

.mask-group-99 {
  background: url("/assets/img/mask-group-99.png");
  width: 88px;
  height: 88px;
}
