.company-list-item {
  width: 260px;
  height: 288px;

  &__image {
    background: url("/assets/img/cafe-first.png");
    border-radius: 16px 16px 0 0;
    width: 260px;
    height: 200px;
  }

  &__logo {
    //background: url("/assets/img/ikea-logo.png");
    width: 96px;
    height: 96px;
    margin-inline-end: 8px;
    margin-bottom: 8px;
  }
}

