@import "variables";
@import "fonts";
@import "flex";
@import "grid";
@import "bg-colors";
@import "heights";
@import "widths";
@import "blocks";
@import "colors";
@import "margins";
@import "paddings";
@import "borders";
@import "text";
@import "box-shadows";
@import "icons";
@import "buttons";
@import "inputs";
@import "radio";
@import "selects";
@import "date-picker";
@import "dialogs";
@import "accordion";
@import "tabs";
@import "other-taigaui";

body {
  margin: 0;
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.cursor-pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.items-center {
  align-items: center;
}

.items-flex-end {
  align-items: flex-end;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.dir-rtl {
  direction: rtl;
}

.z-10 {
  z-index: 10;
}

router-outlet.router-flex + * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.small-vertical-line {
  width: 4px;
  height: 16px;
  margin-top: 2px;
  border-radius: 16px;
}
