/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/fonts.scss";
@import "assets/styles/bg-colors";
@import "assets/styles/colors";
@import "assets/styles/margins";
@import "assets/styles/buttons";
@import "assets/styles/text";
@import "assets/styles/inputs";

body {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.gap-4 {
  gap: 16px;
}
