<div>
  <div class="flex flex-row justify-end mt-12">
    <h2 class="medium neutrals-text-950 mt-0 mb-0 pr-6">מסמכים</h2>
  </div>
  <div class="flex justify-start">
    <smarti-button
      [text]="'הוספת קובץ'"
      [typeClass]="'confirm'"
      [customButtonWidth]="'260px'"
      [customHeight]="'56px'"
      [hasAddIcon]="true"
      (buttonClicked)="openAddDocumentDialog(addDocumentsDialogTemplate)"
    ></smarti-button>
  </div>
  <div class="w-full h-752 bg-white box-shadow-big mt-4 rounded-l mb-34">
    <smarti-dashboard-documents-table
      [documents]="documents$ | async"
      (downloadFileEvent)="onDownloadFile($event)"
    ></smarti-dashboard-documents-table>
  </div>
</div>

<ng-template
  #addDocumentsDialogTemplate
  let-observer
>
  <smarti-add-documents-dialog
    [observer]="observer"
    [filesControl]="filesControl"
    (sendRequest)="onSendRequest($event)"
  ></smarti-add-documents-dialog>
</ng-template>
