<div class="pe-3 overflow-scroll rtl">

      <h1 class="mr-3 text-right font-weight-bold mt-3 ">תנאי שימוש </h1>

  <div>
    <ol class="text-right pr-4 pl-2 f-16 mt-3">
      <li class="mb-2">
        השימוש באתר ובתכנים המוצגים באתר כפוף לתנאים המפורטים להלן, לרבות מדיניות הפרטיות. אנא קרא את התנאים בעיון רב, שכן תחילת השימוש באתר מהווה הסכמה מפורשת ואישורך לתנאים האלה. האמור בתנאי שימוש מנוסח בלשון זכר מטעמי נוחות בלבד, אולם הם מיועדים לגברים ולנשים כאחד. </li>
      <li class="mb-2">
        מטרת תנאי השימוש היא להסדיר את היחסים בין חברת "MyAction" בע"מ ו/או עיריית רעננה לבין כל אדם אשר נרשם לאתר ו/או משתמש בשירותי האתר ו/או בכל שירות אחר שמעניקה החברה (להלן: "המשתמש")</li>
      <li class="mb-2">
        כל זכויות היוצרים והקניין הרוחני, לרבות הזכויות המוסריות, לגבי הרעיון העומד ביסוד השירותים המסופקים על ידי החברה, תוכנות, העיצוב, העריכה, השירותים (לרבות שירותי המערכת, האתר והשירותים הסלולריים), וכן אופן ההצגה ועריכתו של המידע המופיע באתר, ובכל תוכנה, יישום, קוד מחשב, קובץ גרפי, טקסט וכל חומר אחר הכלול בו הינו של החברה בלבד. אין להעתיק, להפיץ, לשנות, להציג בפומבי ו/או למסור לצד שלישי כל חלק מן הנזכר לעיל בלא קבלת הסכמתה של החברה, בכתב ומראש. סימני המסחר באתר הינם קניינה של החברה בלבד.</li>
      <li class="mb-2">
        אין לעשות באתר, בפלטפורמות שבו ובתוכנו שימוש אלא למטרות לשמן נועדו ולשימוש פרטי ואישי של ספק או לקוח, ולא לשימוש לצרכים מסחריים. מבלי לגרוע מכלליות האמור, מובהר, כי הספק או הלקוח רשאי לעשות שימוש בתוכן, בפונקציות ובפלטפורמות, אך ורק לצורך לניהול הספקים/לקוחות שלו וההתנהלות הפיננסית. חל איסור מוחלט על שימוש באתר לשם העלאת תוכן פרסומי, לרבות קידום, שיווק ופרסום של עסקים וגופים מסחריים ו/או העברת מסרים כלשהם אל מפרסמי המודעות באתר  </li>
      <li class="mb-2">
        המשתמש מצהיר ומאשר בזאת כי הוא מודע לכך שהפרת הוראות סעיף 4 שלעיל או חלק ממנה, תגרום לחברה וללקוחותיה נזקים רבים, כספיים ושאינם כספיים, וכי ככל שהמשתמש יפר את הוראת סעיף 5 או חלק ממנה, ישלם המשתמש לחברה פיצוי קבוע ומוסכם מראש בסכום של 2,000 ₪ עבור כל הפרה, ללא צורך בהוכחת נזק. למען הסר ספק, יובהר כי סכום זה אינו גורע מכל זכות ו/או סעד ו/או תרופה לפי שיקול דעתה הבלעדי של החברה ו/או על פי כל דין
      </li>
      <li class="mb-2">
        מבלי לגרוע מהאמור לעיל, לחברה תעמוד הזכות לנקוט בכל הליך משפטי, לרבות דרישה לצעדים זמניים, כנגד משתמש אשר הפר מי מסעיפי תנאי שימוש זה </li>
      <li class="mb-2">
        המשתמש מתחייב לפצות את חברת "MyAction" ו/או עיריית רעננה, עובדיה, מנהליה, בעלי מניותיה או מי מטעם בגין כל נזק ו/או הפסד ו/או אובדן רווח ו/או הוצאה ו/או תשלום שייגרמו לחברה בגין הפרת תנאי שימוש אלה.
      </li>
      <li class="mb-2">
        המשרות והתכנים המפורסמים באתר נאספו ממקורות רבים ומגוונים. החברה עושה כל שביכולתה על מנת לספק מידע מדויק, מקצועי ושלם. יחד עם זאת, אין לחברה שליטה על מקורות המידע והתוכן. על כן, החברה לא נושאת ו/או תישא בכל אחריות ביחס למידע הנמצא באתר ובכל מכשיר קצה בהם הוא מופיע, תוכנו, מהימנותו, דיוקו, וכן לכל נזק, אי נוחות, אבדן, עוגמת נפש, וכיוצא באלו תוצאות, ישירות או עקיפות שייגרמו למשתמש, לרכושו או לכל צד שלישי בשל שימוש במידע זה, כתוצאה .מהסתמכות על תוכן המידע והשירותים המוצעים באתר ו/או בפלטפורמות שבו  </li>
      <li class="mb-2">
        למשתמש לא תהיינה כל טענה בגין הסתמכותו על המידע שפורסם באתר ו/או במסגרת הדיוורים ו/או השירותים הסלולריים, ועל כך שכפועל יוצא לא עשה שימוש במקורות מידע אחרים </li>
      <li class="mb-2">
        החברה אינה מתחייבת שהשירותים הניתנים באתר לא יופרעו ו/או יינתנו כסדרם ללא הפסקות והפרעות ו/או שהאתר יהיה חסין מפני גישה לא חוקית למחשבי החברה, נזקים, קלקולים, תקלות, כשלים בחומרה, תוכנה או בקווי התקשורת אצל החברה או .מי מספקיה או ייפגעו מכל סיבה אחרת. החברה לא תישא בכל אחריות, מכל סוג, לכל נזק, ישיר או עקיף, אשר ייגרם למשתמש או לצד שלישי כלשהו, או לרכושם עקב כך</li>
      <li class="mb-2">
        החברה אינה מתחייבת כי כל הקישורים שימצאו באתר יהיו תקינים ויובילו לאתר אינטרנט פעיל. הימצאותו של קישור לאתר מסוים באתר החברה אינה מלמדת כי תוכן האתר הינו מהימן ו/או מלא ו/או עדכני, והחברה לא תישא בכל אחריות בקשר לכך. מבלי לגרוע מכלליות האמור, החברה אינה אחראית לכל נזק, עקיף או ישיר שייגרם למשתמש ו/או לרכושו כתוצאה משימוש ו/או הסתמכות על המידע והתכנים המופיעים באתרים אליהם יגיע באמצעות או דרך שימוש או קישור הקיימים באתר ו/או בגין שימוש או הסתמכות על מידע ותכנים המתפרסמים באתר על ידי צדדים שלישיים </li>
      <li class="mb-2">
        החברה אינה אחראית על תוכנן של מודעות הפרסום או ההצעות המופיעות באתר ובכל שירות אחר שניתן בפלטפורמה של החברה. כל טענה, תביעה או דרישה מצד משתמש בגין הצעות או שירותים כאמור, קבלתם או תוצאותיהם, יופנו על ידו במישרין אל הצד השלישי, שממנו קיבל את ההצעה או השירות, ולא תהיה לו כל תביעה או דרישה כלפי החברה ו/או מי מטעמה  </li>
      <li class="mb-2">
        החברה רשאית לסרב לפרסם תכנים באתר, אשר לדעתה מפרים את תנאי השימוש באתר ו/או עלולים לפגוע באתר ו/או בצד שלישי כלשהו, והחברה רשאית למחוק תכנים כאלו בכל עת ובמידת הצורך אף למחוק את התוכן שהועלה על ידי משתמש או את כרטיס המשתמש כולו או חלקו, באופן זמני או לצמיתות  </li>
      <li class="mb-2">
        מחיקת תכנים באתר נתונה לשיקול דעתה הבלעדי של החברה, והמשתמש באתר מאשר כי אין ולא תהיה לו כל טענה ו/או דרישה ו/או תביעה כלפי חברת "MyAction" ו/או עיריית רעננה בקשר למחיקת תכנים כאמור.
      </li>
      <li class="mb-2">
        כל עסקה שתעשה בעקבות פרסום מודעה באתר ו/או בעקבות שימוש המשתמש באתר ובפלטפורמות שבו, תוסכם ישירות בין הצדדים המעוניינים בעסקה, ואינה כוללת את החברה או מי מטעמה כצד בעסקה ו/או כאחראית בגינה, וזאת גם אם מידע בין הצדדים יועבר דרך החברה עצמה.
      </li>
      <li class="mb-2">
        החברה מתחייבת לא לעשות כל שימוש בפרטים האישיים של המשתמשים מלבד לצורכי האתר והפלטפורמות שבו, וזאת בהתאם למדיניות הפרטיות שלה המהווה חלק בלתי נפרד מתנאי השימוש ובהתאם לאמור בכל דין. יחד עם זאת, שומרת החברה על זכותה לאסוף מידע הנוגע לדפוסי השימוש באתר, ולהשתמש במידע זה לצורך שיפור השירותים באתר ותכניו, והכל כפוף לאמור במדיניות הפרטיות של החברה ולאמור בכל דין</li>
      <li class="mb-2">
        החברה שומרת לעצמה את הזכות לשנות או להפסיק את השירותים אשר היא מספקת לרבות באתר ובפלטפורמות הנוספות, תוך או ללא הודעה למשתמש. כמו כן, החברה שומרת על זכותה לעשות שינויים בתוכן, במידע ובשירותים הניתנים באתר ובפלטפורמות הנלוות לפי שיקול דעתה, וללא צורך במתן הודעה מראש למשתמש. לא תהיה למשתמש כל טענה, תביעה או דרישה כלפי החברה בקשר לכך.
      </li>
      <li class="mb-2">
        בנוסף לאמור בכל תנאי השימוש, ומבלי לגרוע מהאמור בהם, לעניין מעסיקים העושים שימוש באתר ובשירותי החברה יחולו גם תנאי השימוש הבאים
      </li>
      <ol>
        <li class="mb-2">
          חל איסור מוחלט לעשות שימוש באתר ובשירותיו, לרבות בתוכן, בפונקציות ובפלטפורמות שבו, לכל צורך אחר שאינו פרסום משרות ואיתור מועמדים לאיוש המשרה. כמו כן, חל איסור מוחלט לעשות שימוש באתר לצורך קידום, שיווק ופרסום של המעסיק ו/או צדדים שלישיים
        </li>
        <li class="mb-2">
          התעריפים של מוצרי החברה אינם כוללים מע"מ
        </li>
        <li class="mb-2">
          המוצרים הנרכשים על ידי המעסיק תחומים בזמן מימוש ו/או הינם לתקופה קבועה מראש, על פי תנאי רכישת המוצר ו/או החבילה הרלוונטית כפי נקבעו על ידי החברה. מובהר כי, תקופת הפרסום ו/או המימוש של המוצר ו/או החבילה, אינה ניתנת להקפאה. כמו כן, ומבלי לגרוע מכלליות האמור, מעסיק אשר יסיר את המוצר שרכש במהלך תקופת הפרסום באתר, קרי במהלך תקופת המימוש או התקופה הקבועה מראש, לא יהא זכאי להחזר כספי ו/או זיכוי ו/או כל תמורה ו/או השבה ו/או כל זכות אחרת
        </li>
        <li class="mb-2">
          החברה רשאית להפסיק את השימוש שעושה מעסיק באתר החברה ו/או באלה מן השירותים המוצעים בו, אם וככל שהמעסיק האמור לא עמד בתנאי התשלום של השירותים שנרכשו על ידו ו/או קיים לו חוב כספי כלפי החברה אשר טרם הוסדר במלואו. שיקול הדעת הבלעדי בעניין זה יהיה מסור לחברה בלבד
        </li>
      </ol>
      <li class="mb-2">
        החברה שומרת לעצמה את הזכות לשנות את תנאי השימוש אלה מעת לעת. שימוש בשירותים ובאתר החברה, מהווים הסכמה לתנאים המעודכנים והמתוקנים, כפי שיהיו קיימים באותה העת</li>
      <li class="mb-2">
        רק חוקי מדינת ישראל יחולו על הסכם זה
    </ol>
  </div>
</div>
