<div
  *ngIf="currentStep | async as step"
  class="flex flex-row mt-4"
>
  <div class="flex flex-row justify-end w-full gap-2 h-20 items-center box-shadow-big rounded-l bg-white">
    <ng-container *ngTemplateOutlet="fourthItemTemplate; context: { step }"></ng-container>
    <ng-container *ngTemplateOutlet="thirdItemTemplate; context: { step }"></ng-container>
    <ng-container *ngTemplateOutlet="secondItemTemplate; context: { step }"></ng-container>
    <ng-container *ngTemplateOutlet="firstItemTemplate; context: { step }"></ng-container>
    <h4 class="medium neutrals-text-950 mt-0 mb-0 ml-18 mr-6">שלבים בתהליך התשלום</h4>
  </div>
</div>

<ng-template
  #fourthItemTemplate
  let-step="step"
>
  <div class="flex flex-row">
    <div
      class="block-w292-h48 flex flex-row justify-end rounded-left-l items-center"
      [ngClass]="changeBackgroundClass(4, step)"
    >
      <div class="white-text paragraph-text mr-6">שידור קבצים</div>
      <div class="cloud-connection-icon mr-4"></div>
      <div class="relative mr-14">
        <div [ngClass]="changeCountNumberClass(4, step)"></div>
      </div>
      <div class="white-triangle-left"></div>
    </div>
  </div>
</ng-template>

<ng-template
  #thirdItemTemplate
  let-step="step"
>
  <div class="flex flex-row">
    <div [ngClass]="changeTriangleClass(3, step)"></div>
    <div
      class="block-w292-h48 flex flex-row justify-end items-center"
      [ngClass]="changeBackgroundClass(3, step)"
    >
      <div class="white-text paragraph-text mr-6">אישור תשלום</div>
      <div class="archive-tick-icon mr-4"></div>
      <div class="relative mr-14">
        <div [ngClass]="changeCountNumberClass(3, step)"></div>
      </div>
      <div class="white-triangle-left"></div>
    </div>
  </div>
</ng-template>

<ng-template
  #secondItemTemplate
  let-step="step"
>
  <div class="flex flex-row">
    <div [ngClass]="changeTriangleClass(2, step)"></div>
    <div
      class="block-w292-h48 flex flex-row justify-end items-center"
      [ngClass]="changeBackgroundClass(2, step)"
    >
      <div class="white-text paragraph-text mr-6">הנחיות לתשלום</div>
      <div class="payment-instruction-icon mr-4"></div>
      <div class="relative mr-14">
        <div [ngClass]="changeCountNumberClass(2, step)"></div>
      </div>
      <div class="white-triangle-left"></div>
    </div>
  </div>
</ng-template>

<ng-template
  #firstItemTemplate
  let-step="step"
>
  <div class="flex flex-row">
    <div [ngClass]="changeTriangleClass(1, step)"></div>
    <div
      class="block-w265-h48 rounded-right-l flex flex-row justify-end items-center"
      [ngClass]="changeBackgroundClass(1, step)"
    >
      <div class="white-text paragraph-text mr-6">טעינת קובץ</div>
      <div class="document-upload-icon mr-4"></div>
      <div class="relative mr-14">
        <div [ngClass]="changeCountNumberClass(1, step)"></div>
      </div>
    </div>
  </div>
</ng-template>
