.acceptBorderedIcon {
  background: url("/assets/svg/accept-rounded-border-icon.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
}

.firstRoundedFillIcon {
  background: url("/assets/svg/first-rounded-fill-icon.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
}

.secondRoundedIcon {
  background: url("/assets/svg/second-rounded-icon.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
}

.secondRoundedFillIcon {
  background: url("/assets/svg/second-rounded-fill-icon.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
}

.thirdRoundedIcon {
  background: url("/assets/svg/third-rounded-icon.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
}

.thirdRoundedFillIcon {
  background: url("/assets/svg/third-rounded-fill-icon.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
}

.fourthRoundedIcon {
  background: url("/assets/svg/fourth-rounded-icon.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
}

.fourthRoundedFillIcon {
  background: url("/assets/svg/fourth-rounded-fill-icon.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
}

.blackTriangleLeft {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 27px 24px 0;
  border-color: transparent #171A21 transparent transparent;
}

.brightTurquoiseTriangleLeft {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 27px 24px 0;
  border-color: transparent #02CAB3 transparent transparent;
}

.brightTurquoiseTriangleLeftDisabled {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 27px 24px 0;
  border-color: transparent #D4DAE3 transparent transparent;
}

.white-triangle-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 27px 24px 0;
  border-color: transparent #ffffff transparent transparent;
}
