tui-accordion-item {
  .t-wrapper {
    background: none!important;
    border-radius: 36px!important;
  }

  button {
    background: $neutrals-950!important;
    border-radius: 36px!important;
  }
}