.bg-white {
  background: $white;
}

.bg-neutrals-20 {
  background: $neutrals-20;
}


.bg-neutrals-950 {
  background: $neutrals-950;
}

.bg-neutrals-900 {
  background: $neutrals-900;
}

.bg-green {
  background: $green;
}

.bg-green-success-50 {
  background: $green-success-50;
}

.bg-bright-turquoise-50 {
  background: $bright-turquoise-50;
}

.bg-bright-turquoise-100 {
  background: $bright-turquoise-100;
}

.bg-bright-turquoise-500 {
  background: $bright-turquoise-500;
}


.bg-pumpkin-400 {
  background: $pumpkin-base-400;
}

.bg-blue-base-600 {
  background: $blue-base-600;
}