.bg-dark {
  background: #171A21;
}

.bg-dark-1 {
  background: #1C1F27;
}

.bg-green {
  background: #24ED33;
}

.bg-bright-turquoise {
  background: #02CAB3;
}

.bg-pumpkin {
  background: #FB8A3C;
}

.bg-neutral {
  background: #F7F9FC;
}

.bg-white {
  background: #FFFFFF;
}
