.block-36px {
  width: 36px;
  height: 36px;
}

.block-w64-h28 {
  width: 64px;
  height: 28px;
}

.block-w100-h32 {
  width: 101px;
  height: 32px;
}

.block-w172-h42 {
  width: 172px;
  height: 42px;
}

.block-w265-h48 {
  width: 265px;
  height: 48px;
}

.block-w292-h48 {
  width: 292px;
  height: 48px;
}

.block-w328-h68 {
  width: 328px;
  height: 68px;
}

.block-w328-h108 {
  width: 328px;
  height: 108px;
}

.block-w608-h178 {
  width: 608px;
  height: 172px;
}

.block-w812-h96 {
  width: 812px;
  height: 96px;
}
