.button-interaction {
  background: $pumpkin-base-400;
  color: $white;
}

.button-interaction:hover, .button-interaction:active{
  background: $pumpkin-500;
}

.button-interaction:disabled {
  background: $neutrals-100;
}

.confirm-button {
  color: $white;
  background: $bright-turquoise-500;
}

.confirm-button:hover, .confirm-button:active{
  background: $bright-turquoise-600;
}

.confirm-button:disabled {
  background: $neutrals-100;
}

.white-button {
  background: $white;
  color: $neutrals-950;
}

.white-button:hover, .dark-button:active{
  background: $neutrals-20;
}

.white-button:disabled {
  background: $neutrals-100;
}

.rose-button {
  background: $rose-base-500;
  color: $white;
}

.rose-button:hover, .rose-button:active{
  background: $rose-600;
}

.rose-button:disabled {
  background: $neutrals-100;
}

.blue-button {
  background: $blue-base-600;
  color: $white;
}

.blue-button:hover, .blue-button:active{
  background: $blue-700;
}

.blue-button:disabled {
  background: $neutrals-100;
}

.dark-button {
  background: $neutrals-950;
  color: $white;
}

.dark-button:hover, .dark-button:active{
  background: $neutrals-950;
}

.dark-button:disabled {
  background: $neutrals-100;
}

.usual-button {
  border: 1px solid $neutrals-950;
  color: $neutrals-950;
  width: 246px;
  height: 42px;
  background: $white;
}

.usual-button-no-size {
  border: 1px solid $neutrals-950;
  color: $neutrals-950;
  background: $white;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.4;
}
