.white-text {
  color: #FFFFFF;
}

.dark-text {
  color: #171A21;
}

.rose-text {
  color: #FF4ECD;
}

.blue-text {
  color: #0D9AFF;
}

.pumpkin-text {
  color: #FB8A3C;
}

.bright-turquoise-text {
  color: #02CAB3;
}
