.white-text {
  color: $white;
}

.neutrals-text-100 {
  color: $neutrals-100;
}

.neutrals-text-300 {
  color: $neutrals-300;
}

.neutrals-text-500 {
  color: $neutrals-500;
}

.neutrals-text-950 {
  color: $neutrals-950;
}

.rose-text-base-500 {
  color: $rose-base-500;
}

.blue-text-base-400 {
  color: $blue-base-600;
}

.pumpkin-text-400 {
  color: $pumpkin-base-400;
}

.bright-turquoise-text-500 {
  color: $bright-turquoise-500;
}

.green-success-500-text {
  color: $green-success-500;
}