smarti-date-picker {
  tui-input-date {
    border-radius: 8px!important;

    tui-primitive-textfield[data-size=m] {
      min-height: 48px!important;
    }

    tui-primitive-textfield {
      margin-right: 0!important;
      padding-right: 0!important;
      color: $neutrals-500!important;
      text-align: right!important;
      font-family: RubikMedium, sans-serif !important;
      font-size: 16px!important;
      font-style: normal!important;
      font-weight: 400!important;
      line-height: 24px!important;
      input {
        margin-right: 0!important;
        padding-right: 0!important;
      }
      .t-icon, .t-wrapper-value-decoration {
        display: none !important;
      }
    }
  }

  tui-calendar {
    .t-cell[data-state='hovered'] > .t-item,
    .t-cell[data-state='pressed'] > .t-item,
    .t-cell[data-range='single'] > .t-item,
    .t-cell > .t-item {
      &::before, &::after {
        border-radius: 50%!important;
      }
    }
  }
}
