tui-dialog{
  .t-content {
    background: $neutrals-20!important;
    tui-input .t-content {
      background: $white!important;
    }
  }
}

tui-dialog[data-size='m'] {
  width: 814px!important;
}

.close-dialog-position {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 0;
}

.close-dialog-left {
  position: absolute;
  top: 24px;
  left: 24px;
  border: 0;
}