.h-full {
  height: 100%;
}

.h-6 {
  height: 24px;
}

.h-10 {
  height: 40px;
}

.h-18 {
  height: 72px;
}

.h-20 {
  height: 80px;
}

.h-37 {
  height: 148px;
}

.h-41 {
  height: 164px;
}

.h-110 {
  height: 472px;
}

.min-h-608 {
  min-height: 608px;
}

.h-672 {
  height: 672px;
}

.h-752 {
  height: 752px;
}
