.document-upload-icon-24 {
  background: url("/assets/svg/document-upload-small-icon.svg");
  width: 24px;
  height: 24px;
}

.payment-instruction-icon-24 {
  background: url("/assets/svg/payment-instructions-small-icon.svg");
  width: 24px;
  height: 24px;
}

.archive-tick-icon-24 {
  background: url("/assets/svg/archive-tick-icon.svg");
  width: 24px;
  height: 24px;
}

.cloud-connection-icon-24 {
  background: url("/assets/svg/cloud-connection-icon.svg");
  width: 24px;
  height: 24px;
}

.green-left-arrow-icon-green-16 {
  background: url("/assets/svg/arrow-left-icon-green-16.svg");
  width: 16px;
  height: 16px;
}

.green-right-arrow-icon-green-16 {
  background: url("/assets/svg/arrow-right-right-icon-green-16.svg");
  width: 16px;
  height: 16px;
}

.arrow-down-icon-16 {
  background: url("/assets/svg/arrow-down-16.svg");
  width: 16px;
  height: 16px;
}

.message-notify-icon-24 {
  background: url("/assets/svg/message-notify-icon.svg");
  width: 24px;
  height: 24px;
}

.direct-inbox-icon-24 {
  background: url("/assets/svg/direct-inbox-icon.svg");
  width: 24px;
  height: 24px;
}

.trash-icon-24 {
  background: url("/assets/svg/trash-icon.svg");
  width: 24px;
  height: 24px;
}

.briefcase-icon-16 {
  background: url("/assets/svg/briefcase-icon.svg");
  width: 16px;
  height: 16px;
}

.document-download-small-icon-12 {
  background: url("/assets/svg/document-download-small-icon.svg");
  width: 12px;
  height: 12px;
}

.document-text-icon-40 {
  background: url("/assets/svg/document-text-icon-40.svg");
  width: 40px;
  height: 40px;
}

.edit-icon-20 {
  background: url("/assets/svg/edit-icon.svg");
  width: 20px;
  height: 20px;
}

.add-square-icon-20 {
  background: url("/assets/svg/add-square-icon-20.svg");
  width: 20px;
  height: 20px;
}

.message-notify-icon-20 {
  background: url("/assets/svg/message-notify-icon-20.svg");
  width: 20px;
  height: 20px;
}

.save-icon-20 {
  background: url("/assets/svg/save-icon-shield-20.svg");
  width: 20px;
  height: 20px;
}

.arrow-down-icon-20 {
  background: url("/assets/svg/arrow-down-icon-20.svg");
  width: 20px;
  height: 20px;
}

.arrow-down-icon-24 {
  background: url("/assets/svg/arrow-down-24.svg");
  width: 20px;
  height: 20px;
}

.close-cross-white-24 {
  background: url("/assets/svg/close-cross-white-24.svg");
  width: 24px;
  height: 24px;
}

.close-circle-24 {
  background: url("/assets/svg/close-circle.svg");
  width: 24px;
  height: 24px;
}

.close-circle-white-24 {
  background: url("/assets/svg/close-circle-white-24-icon.svg");
  width: 24px;
  height: 24px;
}

.close-cross-24 {
  background: url("/assets/svg/close-cross.svg");
  width: 24px;
  height: 24px;
}

.success-notification-icon-24 {
  background: url("/assets/svg/success-notification.svg");
  height: 24px;
  width: 24px;
}

.search-icon-20 {
  background: url("/assets/svg/search-normal-icon.svg");
  width: 20px;
  height: 20px;
}

.upload-file-icon-16 {
  background: url("/assets/svg/upload-file.svg");
  width: 16px;
  height: 16px;
}

.arrow-left-dark-16 {
  background: url("/assets/svg/arrow-left-dark.svg");
  width: 16px;
  height: 16px;
}

.document-icon-32 {
  background: url("/assets/svg/document-text.svg");
  width: 32px;
  height: 32px;
}

.user-avatar-icon-48 {
  background: url("/assets/svg/user-avatar-icon.svg");
  width: 48px;
  height: 48px;
}

.instagram-link-black-22 {
  background: url("/assets/svg/instagram-black-icon-22.svg");
  width: 22px;
  height: 22px;
}

.facebook-square-link-black-22 {
  background: url("/assets/svg/facebook-square-black-icon-22.svg");
  width: 22px;
  height: 22px;
}

.linkedin-black-link-black-22 {
  background: url("/assets/svg/linkedin-black-icon-22.svg");
  width: 22px;
  height: 22px;
}

.twitter-link-32 {
  background: url("/assets/svg/twitter-icon.svg");
  width: 32px;
  height: 32px;
}

.facebook-link-32 {
  background: url("/assets/svg/facebook-icon.svg");
  width: 32px;
  height: 32px;
}

.linkedin-link-32 {
  background: url("/assets/svg/linkedin-icon.svg");
  width: 32px;
  height: 32px;
}

.logo-big-h33 {
  background: url("/assets/svg/logo-big.svg");
  width: 156px;
  height: 33px;
}

.send-icon-28 {
  background: url("/assets/svg/send-icon.svg");
  width: 28px;
  height: 28px;
}

.arrow-left-icon-green-12 {
  background: url("/assets/svg/arrow-left-icon-green-12.svg");
  width: 12px;
  height: 12px;
}

.arrow-left-dark-12 {
  background: url("/assets/svg/arrow-left-dark-12.svg");
  width: 12px;
  height: 12px;
}

.payment-instructions-icon-48 {
  background: url("/assets/svg/payment-instructions-icon.svg");
  width: 48px;
  height: 48px;
}

.send-2-icon-48 {
  background: url("/assets/svg/send-2-icon.svg");
  width: 48px;
  height: 48px;
}

.phone-fill-icon-64 {
  background: url("/assets/svg/phone-fill-icon.svg");
  width: 64px;
  height: 64px;
}

.mail-fill-icon-64 {
  background: url("/assets/svg/mail-fill-icon.svg");
  width: 64px;
  height: 64px;
}

.sum-icon-24 {
  background: url("/assets/svg/sum-icon.svg");
  width: 24px;
  height: 24px;
}

.info-base-icon-24 {
  background: url("/assets/svg/info-base-icon.svg");
  width: 24px;
  height: 24px;
}

.info-circle-icon-24 {
  background: url("/assets/svg/info-circle-icon.svg");
  width: 24px;
  height: 24px;
}

.error-icon-24 {
  background: url("/assets/svg/error-icon.svg");
  width: 24px;
  height: 24px;
}

.clock-icon-16 {
  background: url("/assets/svg/clock.svg");
  width: 16px;
  height: 16px;
}

.send-message-icon-30 {
  background: url("/assets/svg/send-message-Icon.svg");
  width: 30px;
  height: 30px;
}

.attach-icon-horizontal-12 {
  background: url("/assets/svg/attach-icon-horizontal-12.svg");
  width: 12px;
  height: 12px;
}

.information-black-icon-48 {
  background: url("/assets/svg/information-black-icon.svg");
  width: 48px;
  height: 48px;
}

.user-square-icon {
  background: url("/assets/svg/user-square.svg");
  width: 24px;
  height: 24px;
}

.logout-icon {
  background: url("/assets/svg/logout.svg");
  width: 12px;
  height: 12px;
}

.no-data-show-icon {
  background: url("/assets/svg/no-data-show-icon.svg");
  width: 392px;
  height: 336px;
}

.no-notifications-icon {
  background: url("/assets/svg/no-comments.svg");
  width: 268px;
  height: 268px;
}

.men-with-flower-icon {
  background: url("/assets/svg/men-with-flower.svg");
  width: 91px;
  height: 83px;
}

.hamburger-menu-white-icon-24 {
  background: url("/assets/svg/hamburger-menu-icon.svg");
  width: 24px;
  height: 24px;
}
