tui-input, tui-input-password, tui-input-phone, tui-input-year, tui-input-date {
  direction: rtl!important;
  text-align: right!important;
  border-radius: 8px!important;

  tui-primitive-textfield[data-size=m] {
    min-height: 48px !important;
  }

  tui-primitive-textfield[data-size=s] {
    min-height: 40px !important;
  }

  .t-content {
    background: $white!important;

    .t-placeholder{
      color: $neutrals-500!important;
      text-align: right!important;
      font-family: RubikMedium, sans-serif !important;
      font-size: 16px!important;
      font-style: normal!important;
      font-weight: 400!important;
      line-height: 24px!important;
    }
  }

  input {
    color: $neutrals-500!important;
    text-align: right!important;
    font-family: RubikMedium, sans-serif !important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 24px!important;
  }
}

tui-input-files {
  .t-description {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
  }
}

tui-files .file-uploaded {
  .t-preview {
    height: 32px!important;
    width: 32px!important;
    margin-right: 28px!important;
  }
}

tui-files .file-uploaded {
  padding: 0 28px !important;
  margin-bottom: 8px!important;
  border-radius: 12px!important;
}

tui-files {
  width: 536px!important;
  tui-file {
    border: 1px solid $bright-turquoise-500!important;
  }
}

tui-files section.t-files {
  overflow: initial!important;
}

tui-checkbox {
  width: 20px!important;
  height: 20px!important;

  tui-primitive-checkbox {
    width: 20px!important;
    height: 20px!important;
  }
}

tui-input {
  input.center-verify {
    color: $neutrals-500!important;
    text-align: center!important;
    font-family: RubikMedium, sans-serif !important;
    font-size: 32px!important;
    font-style: normal!important;
    font-weight: 500!important;
    line-height: 40px!important;
  }
}

tui-input-date {
  .t-value-decoration {
    color: $neutrals-500!important;
    text-align: right!important;
    font-family: RubikMedium, sans-serif !important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 24px!important;
    top: 10px!important;
  }
}

tui-input-inline {
  color: $neutrals-500!important;
  text-align: right!important;
  font-family: RubikMedium, sans-serif !important;
  font-size: 16px!important;
  font-style: normal!important;
  font-weight: 400!important;
  line-height: 24px!important;
  padding-right: 16px!important;

  .t-placeholder {
    display: flex !important;
    justify-content: space-between !important;
    color: $neutrals-300;
  }
}

tui-text-area {
  direction: rtl!important;
  text-align: right!important;
  border-radius: 8px!important;

  label.t-content, textarea {
    background: $white!important;
  }

  .t-content {
    color: $neutrals-500!important;
    text-align: right!important;
    font-family: RubikMedium, sans-serif !important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 24px!important;
  }
}