.margin-t-0 {
  margin-top: 0;
}

.margin-t-1 {
  margin-top: 4px;
}

.margin-t-2 {
  margin-top: 8px;
}

.margin-t-3 {
  margin-top: 16px;
}

.margin-t-4 {
  margin-top: 24px;
}

.margin-t-9 {
  margin-top: 80px;
}

.margin-t-10 {
  margin-top: 96px;
}

.margin-t-12 {
  margin-top: 128px;
}

.margin-t-14 {
  margin-top: 160px;
}

.margin-t-18 {
  margin-top: 240px;
}

.margin-t-104 {
  margin-top: 104px;
}

.margin-start-auto {
  margin-inline-start: auto;
}

.margin-0-auto {
  margin: 0 auto;
}

.margin-rl-auto {
  margin-right: auto;
  margin-left: auto;
}
