tui-hint {
  background: #171A21 !important;
  padding: 34px 42px !important;
}

tui-scroll-controls {
  .t-bar_vertical {
    left: 0!important;
  }
}

tui-alert {
  margin-left: auto !important;
  margin-right: auto !important;
  direction: rtl !important;
  width: initial !important;

  tui-notification[data-status='error'] {
    border: 1px solid #EF4141 !important;
    box-shadow: 0 16px 40px 2px rgba(99, 118, 148, 0.24) !important;
    background: #FFF1F1 !important;
  }

  tui-notification[data-status='success'] {
    border: 1px solid #3EC92C !important;
    box-shadow: 0 16px 40px 2px rgba(99, 118, 148, 0.24) !important;
    background: #F3FCF1 !important;
  }

  tui-notification {
    width: max-content !important;
    gap: 16px;
    padding: 16px 20px 16px 32px !important;

    .t-content {
      color: #171A21 !important;
      font-size: 16px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 24px !important;
      font-family: Rubik, sans-serif !important;
      align-self: center !important;
    }

    tui-svg {
      width: 32px !important;
      height: 32px !important;
    }
  }
}

tui-hint {
  background: #888!important;
  padding: 12px 16px!important;
  min-width: 350px!important;
  direction: rtl!important;
}
