.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.p-5 {
  padding: 20px;
}

.p-6 {
  padding: 24px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-2 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-4 {
  padding-right: 16px;
  padding-left: 16px;
}

.pr-2 {
  padding-right: 8px;
}

.pr-4 {
  padding-right: 16px;
}

.pr-6 {
  padding-right: 24px;
}

.pb-6 {
  padding-bottom: 24px;
}

.pt-15percent {
  padding-top: 15%;
}

.pt-30percent {
  padding-top: 30%;
}
