tui-select-option {
  .t-content {
    color: $neutrals-500!important;
    text-align: right!important;
    font-family: RubikMedium, sans-serif !important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 24px!important;
  }
}

tui-select {
  border-radius: 8px!important;
  direction: rtl!important;
  tui-primitive-textfield {
    margin-right: 0!important;
    padding-right: 0!important;
    color: $neutrals-500!important;
    text-align: right!important;
    font-family: RubikMedium, sans-serif !important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 24px!important;

    input {
      margin-right: 0!important;
      padding-right: 0!important;
      color: $neutrals-500!important;
      text-align: right!important;
      font-family: RubikMedium, sans-serif !important;
      font-size: 16px!important;
      font-style: normal!important;
      font-weight: 400!important;
      line-height: 24px!important;
    }
  }

  tui-primitive-textfield[data-size=m] {
    min-height: 48px!important;
  }
}