tui-select-option {
  .t-content {
    color: $neutrals-500!important;
    text-align: right!important;
    font-family: RubikMedium, sans-serif !important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 24px!important;
  }
}

tui-combo-box {
  tui-primitive-textfield {
    input {
      padding-right: 24px!important;
    }
  }
}

tui-select, tui-combo-box {
  border-radius: 8px!important;
  direction: rtl!important;

  tui-primitive-textfield {
    margin-right: 0!important;
    padding-right: 0!important;
    color: $neutrals-500!important;
    text-align: right!important;
    font-family: RubikMedium, sans-serif !important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 24px!important;

    input {
      background: $white!important;
      margin-right: 0!important;
      color: $neutrals-500!important;
      text-align: right!important;
      font-family: RubikMedium, sans-serif !important;
      font-size: 16px!important;
      font-style: normal!important;
      font-weight: 400!important;
      line-height: 24px!important;
    }

    .t-content {
      background: $white!important;
    }
  }

  tui-primitive-textfield[data-size=s] {
    min-height: 40px!important;
  }

  tui-primitive-textfield[data-size=m] {
    min-height: 48px!important;
  }
}

.big-mode {
  tui-select, tui-combo-box {
    tui-primitive-textfield {
      margin-right: 0!important;
      padding-right: 0!important;
      color: $neutrals-950!important;
      text-align: right!important;
      font-family: Rubik, sans-serif!important;
      font-size: 32px!important;
      font-style: normal!important;
      font-weight: 500!important;
      line-height: 40px!important;

      input {
        margin-right: 0!important;
        padding-right: 0!important;
        color: $neutrals-950!important;
        text-align: right!important;
        font-family: Rubik, sans-serif!important;
        font-size: 32px!important;
        font-style: normal!important;
        font-weight: 500!important;
        line-height: 40px!important;
      }
    }

    tui-primitive-textfield[data-size=m] {
      min-height: 96px!important;
    }
  }

  tui-select-option .big-mode {
    .t-content {
      color: $neutrals-500!important;
      text-align: right!important;
      font-family: Rubik, sans-serif !important;
      font-size: 32px!important;
      font-style: normal!important;
      font-weight: 500!important;
      line-height: 40px!important;
    }
  }

  tui-data-list {
    button {
      min-height: 96px!important;
      span {
        color: $neutrals-500!important;
        text-align: right!important;
        font-family: Rubik, sans-serif !important;
        font-size: 32px!important;
        font-style: normal!important;
        font-weight: 500!important;
        line-height: 40px!important;
      }
    }
  }
}

tui-select.no-border {
  div.tui-autofill::after {
    border: none!important;
    outline: none!important;
  }
}

tui-hosted-dropdown.user-menu {
  background: $neutrals-950!important;
  border-radius: 36px!important;
  padding: 12px!important;
}
