.smarti-heading-text {
  text-align: center;
  font-size: 44px;
  font-family: RubikMedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  direction: rtl;
}

.smarti-describing-text {
  text-align: center;
  font-size: 24px;
  font-family: RubikMedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  width: 955px;
  margin: 0 auto;
}
