$white: #FFFFFF;
$neutrals-20: #F7F9FC;
$neutrals-50: #ECEEF2;
$neutrals-100: #D4DAE3;

$neutrals-300: #8393AD;

$neutrals-500: #4F5F7A;

$neutrals-800: #323948;
$neutrals-900: #1C1F27;
$neutrals-950: #171A21;

$bright-turquoise-50: #EFFEFB;
$bright-turquoise-100: #C7FFF4;
$bright-turquoise-500: #02CAB3;
$bright-turquoise-600: #00A393;

$rose-base-500: #FF4ECD;
$rose-600: #F012A7;

$blue-base-600: #0D9AFF;
$blue-700: #0A82EB;

$pumpkin-base-400: #FB8A3C;
$pumpkin-500: #F97316;

$green: #24ED33;
$green-success-50: #F3FCF1;
$green-success-500: #3EC92C;

:root {
  --tui-primary: #02CAB3!important;
  --tui-link: #02CAB3!important;
  --tui-primary-hover: #00A393!important;
  --tui-secondary: #EFFEFB!important;
  --tui-link-hover: #00A393!important;
}