.w-9 {
  width: 36px;
}

.w-20 {
  width: 80px;
}

.w-36 {
  width: 144px;
}

.w-51 {
  width: 204px;
}

.w-82 {
  width: 328px;
}

.w-90 {
  width: 360px;
}

.w-576px {
  width: 576px;
}

.w-584px {
  width: 584px;
}

.w-674px {
  width: 674px;
}

.w-full {
  width: 100%;
}

.w-920px {
  width: 920px;
}

.w-inherit {
  width: inherit;
}

.w-full-hd {
  width: 1080px;
}

.w-form-full-hd {
  width: 1088px;
}

.w-input-full-hd {
  width: 536px;
}

.w-header-leads {
  width: 398px;
}

.w-fit-content {
  width: fit-content;
}