.w-90 {
  width: 360px;
}

.w-full {
  width: 100%;
}

.w-inherit {
  width: inherit;
}

.w-full-hd {
  width: 1080px;
}

.w-form-full-hd {
  width: 1088px;
}

.w-input-full-hd {
  width: 536px;
}

.w-header-leads {
  width: 398px;
}

.w-fit-content {
  width: fit-content;
}