<div class="margin-rl-auto flex flex-col">
  <h3 class="mt-10 medium text-center neutrals-text-950">לטובת עדכון סיסמא,ניתן לשלוח קוד באמצעות</h3>
  <div class="mt-20 flex justify-center">
    <smarti-radio-block
      [labelFirstText]="'כתובת מייל <b>name@mail.com</b>'"
      [labelSecondText]="'מספר טלפון <b>050****565</b>'"
      [items]="items"
      [radioValue]="radioValue"
      (chosenValue)="doChangeContent($event)"
    ></smarti-radio-block>
  </div>

  <div
    *ngIf="isModeChosen"
    class="flex justify-center flex-col mt-12"
  >
    <div class="regular-text text-center neutrals-text-950 mb-4">Please enter OTP code</div>
    <div class="self-center">
      <smarti-input-number
        [centerVerify]="true"
        [customWidth]="'536px'"
        [maxLength]="6"
        (inputFilled)="changeButtonStatus($event)"
      ></smarti-input-number>
    </div>
    <div class="mt-14 bright-turquoise-text-500 text-underline text-center paragraph-text-medium cursor-pointer">
      שלח קוד מחדש
    </div>
  </div>

  <div
    class="mb-16 mt-10 flex justify-end gap-70 mr-14"
    [ngClass]="isModeChosen ? 'mt-10' : 'mt-64'"
  >
    <smarti-button
      [customButtonWidth]="'431px'"
      [typeClass]="'confirm'"
      [text]="'אישור ואיפוס סיסמא '"
      [disabled]="isDisabled"
      (buttonClicked)="doChangeStep('forward')"
    ></smarti-button>
    <button
      class="usual-button-no-size go-back cursor-pointer smarti-button-text rounded-m flex gap-2 items-center justify-center"
      (click)="redirectToLogin()"
    >
      <div>חזרה</div>
      <div class="arrow-left-dark-16"></div>
    </button>
  </div>
</div>
