<div
  *ngIf="haveLeftBLock; else onlyLogoTemplate"
  class="auth-header flex justify-between"
>
  <h4 class="mt-0 medium truncate dir-rtl">
    {{ leftBlockText }}
    <span
      class="bright-turquoise-text-500 neutrals-text-950 cursor-pointer"
      (click)="navigateToRegistrationPage()"
    >{{ leftBlockClickedText }}</span>
  </h4>
  <div
    class="auth-header__img cursor-pointer"
    (click)="navigateToMainPage()"
  ></div>
</div>

<ng-template #onlyLogoTemplate>
  <div class="auth-header flex justify-end">
    <div
      class="auth-header__img"
      (click)="navigateToMainPage()"
    ></div>
  </div>
</ng-template>