<div class="mt-14 margin-rl-auto">
  <h3
    class="medium neutrals-text-950 text-center margin-rl-auto"
    [style.width]="customHeaderHeight"
    [innerHTML]="headerText"
  ></h3>
  <div class="success-icon mt-7 margin-rl-auto"></div>
  <div
    class="regular-text neutrals-text-950 text-center margin-rl-auto"
    [innerHTML]="descriptionText"
    [style.width]="customDescriptionHeight"
  ></div>
  <div class="flex justify-center mt-32 mb-16">
    <smarti-button
      (buttonClicked)="redirectToPage()"
      [text]="buttonText"
      [customWidth]="'232px'"
      [typeClass]="'confirm'"
    ></smarti-button>
  </div>
</div>
