<div class="bg-white blog-heading" appScrollSection="blog">
  <div class="margin-t-10">
    <div class="smarti-heading-text bright-turquoise-text">בלוג</div>
    <div class="smarti-describing-text dark-text">
      מאמרים נבחרים מהבלוג שלנו
    </div>
  </div>
  <div class="blog">
    <div class="blog__item">
      <div class="blog__item__img-first"></div>
      <div class="blog__item-text dark-text">
        Pension, insurance in simple words
      </div>
      <div class="blog__item-button bright-turquoise-text">
        <div class="icon-arrow-left-fill"></div> קרא עוד
      </div>
    </div>
    <div class="blog__item">
      <div class="blog__item__img-second"></div>
      <div class="blog__item-text dark-text">
        Advantages of technological systems
      </div>
      <div class="blog__item-button bright-turquoise-text">
        <div class="icon-arrow-left-fill"></div> קרא עוד
      </div>
    </div>
    <div class="blog__item">
      <div class="blog__item__img-third"></div>
      <div class="blog__item-text dark-text">
        Setting out on your own?
      </div>
      <div class="blog__item-button bright-turquoise-text">
        <div class="icon-arrow-left-fill"></div> קרא עוד
      </div>
    </div>
  </div>
</div>
