<div class="bg-white blog-heading" appScrollSection="blog">
  <div class="mt-24">
    <div class="smarti-heading-text bright-turquoise-text-500">בלוג</div>
    <div class="smarti-describing-text neutrals-text-950">
      מאמרים נבחרים מהבלוג שלנו
    </div>
  </div>
  <div class="blog">
    <div class="blog__item rounded-l box-shadow-big">
      <div class="blog__item__img-first"></div>
      <div class="blog__item-text neutrals-text-950">
        Pension, insurance in simple words
      </div>
      <div class="blog__item-button bright-turquoise-text-500">
        <div class="icon-arrow-left-fill"></div> קרא עוד
      </div>
    </div>
    <div class="blog__item rounded-l box-shadow-big">
      <div class="blog__item__img-second"></div>
      <div class="blog__item-text neutrals-text-950">
        Advantages of technological systems
      </div>
      <div class="blog__item-button bright-turquoise-text-500">
        <div class="icon-arrow-left-fill"></div> קרא עוד
      </div>
    </div>
    <div class="blog__item rounded-l box-shadow-big">
      <div class="blog__item__img-third"></div>
      <div class="blog__item-text neutrals-text-950">
        Setting out on your own?
      </div>
      <div class="blog__item-button bright-turquoise-text-500">
        <div class="icon-arrow-left-fill"></div> קרא עוד
      </div>
    </div>
  </div>
</div>
