.blog-heading {
  width: 100%;
  height: 944px;
}

.blog {
  margin-top: 103px;

  &__item {
    width: 398px;
    height: 504px;

    &__text {
      margin: 16px;
      height: 160px;
    }
  }
}

.icon-arrow-left-fill {
  background: url("/assets/svg/arrow-left-fill-icon.svg");
  width: 24px;
  height: 24px;
}

.pension-simple {
  background: url("/assets/img/pension-simple.png");
  width: 398px;
  height: 256px;
}

.technological-system {
  background: url("/assets/img/techological-system.png");
  width: 398px;
  height: 256px;
}

.setting-out-your-own{
  background: url("/assets/img/setting-out-your-own.png");
  width: 398px;
  height: 256px;
}
