<div class="flex flex-col justify-center mt-6 mb-6">
  <h3 class="mt-0 mb-0 neutrals-text-950 text-center dir-rtl">סה״כ לתשלום:</h3>
  <div class="mt-12 flex justify-around w-[658px] h-[80px] rounded-l bg-mint self-center">
    <div class="flex gap-2">
      <div class="medium-text leading-10 text-center neutrals-text-950 self-center dir-rtl">
        {{ currentStorageData.total | number: "1.2-2" }} ש״ח
      </div>
      <div class="paragraph-text neutrals-text-950 self-center dir-rtl">סה״כ סכום לתשלום לקופות:</div>
    </div>
    <div class="flex gap-2">
      <div class="medium-text leading-10 text-center neutrals-text-950 self-center dir-rtl">
        {{ currentStorageData.employeesCount }}
      </div>
      <div class="paragraph-text neutrals-text-950 self-center dir-rtl">מספר העובדים:</div>
    </div>
  </div>
  <h3 class="mt-10 mb-0 neutrals-text-950 text-center dir-rtl">לאן להעביר את התשלום?</h3>
  <div class="flex flex-col self-center mt-9 w-[600px]">
    <div class="flex flex-row justify-center">
      <div class="flex flex-row">
        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl w-[360px]">
          {{ !isEmptyString(bankDetailsSmarti?.bank_name) ? bankDetailsSmarti?.bank_name : "-" }}
        </div>
        <div class="neutrals-text-950 regular-text dir-rtl self-center w-[120px]">שם הבנק:</div>
      </div>
      <div class="flex flex-row">
        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl w-[160px]">smarti</div>
        <div class="neutrals-text-950 regular-text dir-rtl self-center w-[120px]">שם החברה:</div>
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <div class="flex flex-row">
        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl w-[360px]">
          {{ !isEmptyString(bankDetailsSmarti?.number) ? bankDetailsSmarti?.number : "-" }}
        </div>
        <div class="neutrals-text-950 regular-text dir-rtl self-center w-[120px]">מספר חשבון:</div>
      </div>
      <div class="flex flex-row">
        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl w-[160px]">
          {{ !isEmptyString(bankDetailsSmarti?.branch_number) ? bankDetailsSmarti?.branch_number : "-" }}
        </div>
        <div class="neutrals-text-950 regular-text dir-rtl self-center w-[120px]">מספר סניף:</div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-28">
    <smarti-button
      [text]="'.תודה, אעביר'"
      [typeClass]="'confirm'"
      [customButtonWidth]="'209px'"
      [customHeight]="'56px'"
      (buttonClicked)="sendRequest(successDialogTemplate)"
    ></smarti-button>
  </div>
</div>
<div
  class="close-cross-24 close-dialog-left cursor-pointer"
  (click)="closeDialog()"
></div>

<ng-template #successDialogTemplate>
  <div class="flex flex-col gap-6 mt-6 mb-6">
    <div class="success-notification-icon-114 self-center"></div>
    <h3 class="medium neutrals-text-950 mt-0 mb-0 self-center text-center w-[285px]">הנך מועבר לדף הבית</h3>
  </div>
</ng-template>
