<div class="flex flex-col justify-center mt-6 mb-6">
  <h3 class="medium text-center mb-0 dir-rtl mx-4">הנתונים שהתקבלו לפי הקובץ שנקלט:</h3>

  <div class="mt-12 flex justify-around self-center gt-lg-tablet:w-[658px] lt-lg-tablet:w-[100%] h-[80px] rounded-l bg-mint lt-lg-tablet:pt-2">
    <div class="flex gap-2 lt-lg-tablet:flex-col dir-rtl">
      <div class="paragraph-text neutrals-text-950 self-center ">סה״כ סכום לתשלום לקופות:</div>
      <div class="medium-text leading-10 text-center neutrals-text-950 self-center dir-rtl">

        {{ currentStorageData.total | number: "1.2-2" }}ש״ח
      </div>
    </div>
    <div class="flex gap-2 lt-lg-tablet:flex-col dir-rtl">
      <div class="paragraph-text neutrals-text-950 self-center dir-rtl">מספר העובדים:</div>
      <div class="medium-text leading-10 text-center neutrals-text-950 self-center dir-rtl">
        {{ currentStorageData.employeesCount }}
      </div>
    </div>
  </div>

  <h3 class="mt-10 mb-0 neutrals-text-950 text-center dir-rtl">לאן להעביר את התשלום?</h3>

<!--  <div class="flex flex-col self-center mt-9 gt-lg-tablet:w-[600px]">-->
<!--    <div class="flex  gt-lg-tablet:flex-row lt-lg-tablet:flex-col items-flex-end">-->
<!--      <div class="flex flex-row gap-4">-->
<!--        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl">-->
<!--          {{ !isEmptyString(bankDetailsSmarti?.bank_name) ? bankDetailsSmarti?.bank_name : "-" }}-->
<!--        </div>-->
<!--        <div class="neutrals-text-950 regular-text dir-rtl self-center">שם הבנק:</div>-->
<!--      </div>-->
<!--      <div class="flex flex-row gap-4">-->
<!--        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl">smarti</div>-->
<!--        <div class="neutrals-text-950 regular-text dir-rtl self-center">שם החברה:</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="flex  gt-lg-tablet:flex-row lt-lg-tablet:flex-col items-flex-end">-->
<!--      <div class="flex flex-row gap-4">-->
<!--        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl">-->
<!--          {{ !isEmptyString(bankDetailsSmarti?.number) ? bankDetailsSmarti?.number : "-" }}-->
<!--        </div>-->
<!--        <div class="neutrals-text-950 regular-text dir-rtl self-center">מספר חשבון:</div>-->
<!--      </div>-->
<!--      <div class="flex flex-row gap-4">-->
<!--        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl">-->
<!--          {{ !isEmptyString(bankDetailsSmarti?.branch_number) ? bankDetailsSmarti?.branch_number : "-" }}-->
<!--        </div>-->
<!--        <div class="neutrals-text-950 regular-text dir-rtl self-center">מספר סניף:</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="self-center mt-9 dir-rtl" [ngClass]="{'w-[600px] row-cols-2 row': !isMobile}">
      <div class="flex flex-row gap-4 items-center">
        <div class="neutrals-text-950 regular-text">שם הבנק:</div>
        <div class="neutrals-text-950 medium-text !leading-10">
          {{ !isEmptyString(bankDetailsSmarti?.bank_name) ? bankDetailsSmarti?.bank_name : "-" }}
        </div>
      </div>
      <div class="flex flex-row gap-4">
        <div class="neutrals-text-950 regular-text dir-rtl self-center">שם החברה:</div>
        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl">smarti</div>
      </div>
      <div class="flex flex-row gap-4">
        <div class="neutrals-text-950 regular-text dir-rtl self-center">מספר חשבון:</div>
        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl">
          {{ !isEmptyString(bankDetailsSmarti?.number) ? bankDetailsSmarti?.number : "-" }}
        </div>
      </div>
      <div class="flex flex-row gap-4">
        <div class="neutrals-text-950 regular-text dir-rtl self-center">מספר סניף:</div>
        <div class="neutrals-text-950 medium-text !leading-10 dir-rtl">
          {{ !isEmptyString(bankDetailsSmarti?.branch_number) ? bankDetailsSmarti?.branch_number : "-" }}
        </div>
      </div>
  </div>
  <div class="flex justify-center mt-28">
    <smarti-button
      [text]="'.תודה, אעביר'"
      [typeClass]="'confirm'"
      [customButtonWidth]="'209px'"
      [customHeight]="'56px'"
      (buttonClicked)="sendRequest(successDialogTemplate)"
    ></smarti-button>
  </div>
</div>
<div
  class="close-cross-24 close-dialog-left cursor-pointer"
  (click)="closeDialog()"
></div>

<ng-template #successDialogTemplate>
  <div class="flex flex-col gap-6 mt-6 mb-6">
    <div class="success-notification-icon-114 self-center"></div>
    <h3 class="medium neutrals-text-950 mt-0 mb-0 self-center text-center w-[285px]">הנך מועבר לדף הבית</h3>
  </div>
</ng-template>
